{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ "lead.page.title"|trans }}{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}

    <div class="row">
        <div class="column small-12">
            <table id="prouserleads_dt" class="js-lead-datatable dataTable compact"
                   data-href="{{ path('front_pro_user_lead', {'id': app.user.id }) }}"
                   data-trans="{{ asset('assets/trans-dt/fr_FR.json') }}">
                <thead class="">
                <tr>
                    <th>Prénom Nom</th>
                    <th>Date du dernier contact</th>
                    <th class="text-center"><span class="icon-mobile" title="Nombre d'affichage de {{ app.user.userProfile.phone??'-' }}" data-tooltip></span></th>
                    <th class="text-center"><span class="icon-tel" title="Nombre d'affichage de {{ app.user.userProfile.phonePro??'-' }}" data-tooltip></span></th>
                    <th class="text-center"><span class="icon-message" title="Nombre de messages" data-tooltip></span></th>
                    <th class="text-center"><span class="icon-heart" title="Nombre de likes" data-tooltip></span></th>
                    <th>Status</th>
                    <th>Vente</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}