{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ "lead.page.title"|trans }}{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}

    <div class="row">
        <div class="column small-12">
            <p>Retrouvez dans le tableau ci-dessous les utilisateurs de Wamcar avec lesquels vous avez intéragi (échange
                de message, affichage d'un numéro de téléphone, like sur l'un de vos véhicules). Vous pouvez les
                qualifier en modifiant leur statut et déclarer des ventes à l'aide du lien "Nouvelle vente"</p>
            <div class="input-margin full-width">
                <table id="prouserleads_dt" class="js-lead-datatable dataTable compact row-border"
                       data-href="{{ path('front_pro_user_lead', {'id': app.user.id }) }}"
                       data-trans="{{ asset('assets/trans-dt/fr_FR.json') }}">
                    <thead class="">
                    <tr>
                        <th>Prénom Nom</th>
                        <th>Date du dernier contact</th>
                        <th><span class="icon-mobile"
                                  title="Nombre d'affichage de {{ app.user.userProfile.phone??'-' }}"></span></th>
                        <th><span class="icon-tel"
                                  title="Nombre d'affichage de {{ app.user.userProfile.phonePro??'-' }}"></span></th>
                        <th><span class="icon-message" title="Nombre de messages"></span></th>
                        <th><span class="icon-heart" title="Nombre de likes"></span></th>
                        <th>Statut</th>
                        <th>Vente</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <p>Vous souhaitez déclarer une vente sans l'associer à un de vos contacts en particulier :
                <a href="{{ path('front_sale_declaration_new') }}" class="text-underline">Nouvelle vente</a></p>
        </div>
    </div>
{% endblock %}