{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ "pro_dashboard.page.title"|trans }}{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}


    <div class="row">
        <div class="column small-12">
            <h2>Votre page "Conseiller Automobile"</h2>
            {% set profilePagePath = path('front_view_pro_user_info', {'slug':app.user.slug}) %}
            <ul>
                <li>Nombre de vues de votre page profil :
                    <ul>
                        <li>Les 30 derniers jours : {{ report.profilePage[0].uniquePageViews }}</li>
                        <li>Les 7 derniers jours : {{ report.profilePage[1].uniquePageViews }}</li>
                    </ul>
                </li>
                <li>Nombre d'affichage d'un numéro de téléphone :
                    <ul>
                        <li>Uniquement depuis votre page profil :

                            <ul>
                                <li>Les 30 derniers jours : {{ report.contactsEvents.telephone[0].onPage[profilePagePath]??0 }} </li>
                                <li>Les 7 derniers jours : {{ report.contactsEvents.telephone[1].onPage[profilePagePath]??0 }}</li>
                            </ul>
                        </li>
                        <li>Toutes pages confondues :
                            <ul>
                                <li>Les 30 derniers jours : {{ report.contactsEvents.telephone[0].total??0 }} </li>
                                <li>Les 7 derniers jours : {{ report.contactsEvents.telephone[1].total??0 }}</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Nombre de contacts par messagerie Wamcar :
                    <ul>
                        <li>Uniquement depuis votre page profil :
                            <ul>
                                <li>Les 30 derniers jours : {{ report.contactsEvents.message[0].onPage[profilePagePath]??0 }} </li>
                                <li>Les 7 derniers jours : {{ report.contactsEvents.message[1].onPage[profilePagePath]??0 }}</li>
                            </ul>
                        </li>
                        <li>Toutes pages confondues :
                            <ul>
                                <li>Les 30 derniers jours : {{ report.contactsEvents.message[0].total??0 }} </li>
                                <li>Les 7 derniers jours : {{ report.contactsEvents.message[1].total??0 }}</li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>

            <h2>Messagerie</h2>
            <div>
                <ul>
                    <li>Nombre de conversations : {{ app.user.conversationUsers|length }}</li>
                    <li>Nombre de messages envoyés : {{ app.user.messages|length }}</li>
                    <li>Nombre de messages reçus : {{ app.user.totalMessagesOnConversations - app.user.messages|length}}</li>
                </ul>

            </div>

            <h2>Vos pages "Véhicules"</h2>

            <h3>Statistiques sur vos véhicules</h3>
            <div>
                <ul>
                    <li>Nombre de véhicules disponibles : {{ app.user.vehicles|length }}</li>
                    <li>Top {{ report.top5Vehicles|length }} des véhicules sur les 30 derniers jours :
                    <ul>
                        {% for top5vehiclePath, top5vehicleMetrics in report.top5Vehicles %}
                            <li>{{ top5vehiclePath }} {{ top5vehicleMetrics[0].uniquePageViews }}</li>
                        {% endfor %}
                    </ul></li>
                </ul>
            </div>


            <h3>Statistiques détaillées de vos pages véhicules</h3>
            {% for vehicle in app.user.vehicles %}
                <div>
                    {% set vehiclePath = path('front_vehicle_pro_detail',{'slug':vehicle.slug}) %}
                    <h4>{{ vehicle.name|title }} <small>{{ vehiclePath  }}</small></h4>
                    <ul>
                        <li>Nombre de vues :
                            <ul>
                                <li>Sur les 30 derniers jours : {{ report.vehiclesPages[vehiclePath][0].uniquePageViews??0 }}</li>
                                <li>Sur les 7 derniers jours : {{ report.vehiclesPages[vehiclePath][1].uniquePageViews??0 }}</li>
                            </ul>
                        </li>
                        <li>Nombre de likes :
                            <ul>
                                <li>Total : {{ vehicle.positiveLikes|length }}</li>
                                {# Pas de données GA car non tracké : l'action est redirigée
                                <li>Sur les 30 derniers jours : {{ report.vehiclesLikes[vehiclePath][0]??0 }}</li>
                                <li>Sur les 7 derniers jours : {{ report.vehiclesLikes[vehiclePath][1]??0 }}</li>#}
                            </ul>
                        </li>
                        <li>Nombre de contacts :
                            <ul>
                                <li>Téléphone :
                                    <ul>
                                        <li>Les 30 derniers jours : {{ report.contactsEvents.telephone[0].onPage[vehiclePath]??0 }} </li>
                                        <li>Les 7 derniers jours : {{ report.contactsEvents.telephone[1].onPage[vehiclePath]??0 }}</li>
                                    </ul>
                                </li>
                                <li>Message :
                                    <ul>
                                        <li>Les 30 derniers jours : {{ report.contactsEvents.message[0].onPage[vehiclePath]??0 }} </li>
                                        <li>Les 7 derniers jours : {{ report.contactsEvents.message[1].onPage[vehiclePath]??0 }}</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endfor %}

            {#<div>
                <ul>
                    {% for idx, report in reports %}
                        <li>Rapport n°{{ idx }} :
                            <ul>
                                {% for rowData in report.rows %}
                                    <li>
                                        {{ report.dimensionsNames }} : {{ rowData.dimensionsValues }}
                                        <ul>
                                            {% for dateRangeIdx, dateRangeMetrics in rowData.metricsValues %}
                                                <li>Période {{ dateRangeIdx }} :
                                                    <ul>
                                                        {% for metricName, metricValue in dateRangeMetrics %}
                                                            <li>{{ metricName }} : {{ metricValue }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li>Pas de donnée connue</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>#}
        </div>
    </div>
{% endblock %}