{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ "lead.page.title"|trans }}{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}


    <div class="row">
        <div class="column small-12">
            <div>
                <table id="prouserleads_dt" class="js-lead-datatable disaply width-100"
                       data-href="{{ path('front_pro_user_lead', {'id': app.user.id }) }}"
                       data-trans="{{ asset('assets/trans-dt/fr_FR.json') }}">
                    <thead>
                    <tr>
                        <th>Prénom Nom</th>
                        <th>Date du dernier contact</th>
                        <th>#aff. {{ app.user.userProfile.phone??'-' }}</th>
                        <th>#aff. {{ app.user.phonePro??'-' }}</th>
                        <th>#mes.</th>
                        <th>#likes</th>
                        <th>Status</th>
                        <th>Vente</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Prénom Nom</th>
                        <th>Date du dernier contact</th>
                        <th>#aff. {{ app.user.userProfile.phone??'-' }}</th>
                        <th>#aff. {{ app.user.phonePro??'-' }}</th>
                        <th>#mes.</th>
                        <th>#likes</th>
                        <th>Status</th>
                        <th>Vente</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}