{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ "sale.page.vehicles"|trans }}{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title'),
        link:'<a href="'~path('front_pro_user_boost_view') ~'" class="text-underline">'~ 'boost.link'|trans~'</a>'
    } %}


    <div class="row">
        <div class="column small-12">
            <h2 class="primary-color">{{ 'sale.vehicles.waiting.title'|trans }}<br>
                <small>{{ 'sale.vehicles.waiting.subtitle'|trans }}</small>
            </h2>
            <div class="sales-container margin-bottom-2">
                <table id="vehiclesToDeclare_dt" class="js-vehicles-to-declare-datatable dataTable compact row-border"
                       data-href="{{ path('front_pro_vehicles_to_declare') }}"
                       data-trans="{{ asset('assets/trans-dt/fr_FR.json') }}">
                    <thead>
                    <tr>
                        <th><span class="icon-pics"></span></th>
                        <th>Véhicle</th>
                        <th>Date de publication</th>
                        <th><span class="icon-ellipsis-h"></span></th>
                    </tr>
                    </thead>
                </table>
            </div>

            {#<h2 class="primary-color">{{ 'sale.vehicles.sold.title'|trans }}<br><small>{{ ''|trans }}</small>
            </h2>
            <div class="sales-container">
                <div class="vehicle-list">
                    {% for vehicle in declaredVehicles %}
                        {% include 'front/Seller/includes/item_pro_vehicle_sale.html.twig' %}
                    {% else %}
                        <i>Pas de véhicule déclaré</i>
                    {% endfor %}
                </div>
            </div>#}

        </div>
    </div>
{% endblock %}