{% set brandListBlock %}{% spaceless %}
    {% for membership in user.garageMemberships %}
        {% if membership.requestedAt is null or userIsMe %}
            {% set garageRating = membership.garage.googleRating %}
            <li>
                {{ include('front/Garages/Detail/includes/summary_card.html.twig', {
                    garage: membership.garage,
                    membership: membership
                }) }}
                {% if membership.requestedAt is not null %}
                    <p class="black-color">
                        <i>{{ 'user.garage.pending_request.member'|trans({'%garage_name%':membership.garage.name}) }}&nbsp;:</i>
                        <a href="{{ path('front_garage_unassign', {'garage_id':membership.garage.id,'user_id':app.user.id}) }}"
                           class="button small full-width">{{ 'user.garage.cancel_request'|trans }}</a></p>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endspaceless %}{% endset %}

{% if brandListBlock is not empty %}
    <span class="profile-section-action icon-plus" data-toggle="jsAddGarageForm"></span>
{% endif %}

{% if addGarageForm is not null %}
    <div id="jsAddGarageForm" class="add-garage-form {{ brandListBlock is not empty ? 'is-hidden' }}" data-toggler="is-hidden">
        <h3>{{ 'user.garage.add'|trans }}</h3>
        {{ form_start(addGarageForm, {
            'attr' : { 'class' : 'form-compact', 'data-abide' : '', 'novalidate': 'novalidate'}
        }) }}
        {% include 'front/Layout/includes/forms/input.html.twig' with {
            label: 'garage.form.field.googleSearch.label'|trans,
            label_class: 'hide',
            name: 'google_place',
            placeholder: 'garage.form.field.googleSearch.placeholder'|trans,
            attributes:{
                'data-google_api_client_key' : google_api_client_key,
                'data-locale' : app.request.locale|slice(0, 2)
            }
        } %}
        {{ form_widget(addGarageForm.googlePlaceId) }}
        {{ form_widget(addGarageForm.googleRating) }}
        {{ form_widget(addGarageForm.latitude) }}
        {{ form_widget(addGarageForm.longitude) }}
        {{ form_widget(addGarageForm.name) }}
        {{ form_widget(addGarageForm.openingHours) }}
        {{ form_widget(addGarageForm.address) }}
        {{ form_widget(addGarageForm.postalCode) }}
        {{ form_widget(addGarageForm.cityName) }}
        {{ form_widget(addGarageForm.phone) }}

        <div class="is-flex align-right">
            <button type="submit" class="button large-12">{{ 'user.garage.add'|trans }}</button>
        </div>
        {{ form_end(addGarageForm) }}
    </div>
{% endif %}

{% if brandListBlock is not empty %}
    <ul class="brand-list">
        {{ brandListBlock  }}
    </ul>
{% endif %}
