{% form_theme projectForm 'front/Layout/includes/forms/fields.html.twig' %}

{{ form_start(projectForm) }}
    <h2>Budget et recherche</h2>
    <div class="row small-12">
        <div class="column medium-6">
            {{ form_widget(projectForm.isFleet, {
                'label': 'Votre recherche',
                'required_class': '',
                'list_class': '',
                'required': false
            }) }}
        </div>
        <div class="column small-12 medium-6">
            {{ form_widget(projectForm.budget, {
                'label': 'Budget global',
                'required_class': '',
                'list_class': '',
                'required': false,
                'placeholder': 'Ex : 200 000 €'
            }) }}
        </div>
    </div>
    <div class="small-12">
        {{ form_widget(projectForm.description, {
            'label': 'Description de votre recherche',
            'required_class': '',
            'list_class': '',
            'class': 'no-margin',
            'required': false,
            'placeholder': 'Decrivez votre recherche'
        }) }}
    </div>

    <h2 class="separator medium">Véhicule(s) recherché(s)</h2>
    <p>Vous n’avez pas encore indiqué le ou les véhicules que vous recherchez actuellement. En ajoutant des véhicules, vous avez l’assurance d’obtenir des offres de reprises étudiées spécialement pour vous par les professionnels inscrits sur Wamcar.</p>

    <ul class="wish-list input-margin" id="js-project-list" data-prototype="{{ form_widget(projectForm.projectVehicles.vars.prototype)|e('html_attr') }}" data-fetch-url="{{ path('front_vehicle_registration_form_update') }}">
        {% for projectVehicle in projectForm.projectVehicles %}
            {{ form_widget(projectVehicle, { 'index': loop.index}) }}
        {% endfor %}
    </ul>
    <button type="button" id="add-project-list" class="text-underline input-margin">Ajouter un souhait</button>

    <div class="small-12 medium-6 large-3">
        <button type="submit" class="button full-width">Enregistrer mes souhaits</button>
    </div>
{{ form_end(projectForm) }}
