{% form_theme projectForm 'front/Layout/includes/forms/fields.html.twig' %}

{{ form_start(projectForm, {'attr': {'class': 'column', 'data-abide' : 'data-abide','novalidate' : 'novalidate'}}) }}

<div class="row small-12 align-justify">
    <div class="column small-12 medium-auto input-margin">
        {{ form_widget(projectForm.isFleet, {
            'label': 'user.project.field.isFleet.label'|trans,
            'required_class': '',
            'required': false,
            'required_class': 'show-for-sr',
        }) }}
    </div>
    <div class="column small-12 medium-shrink">
        {{ form_widget(projectForm.budget, {
            'label': 'user.project.field.budget.label'|trans,
            'required_class': '',
            'required': false,
            'required_class': 'show-for-sr',
            'placeholder': 'user.project.field.budget.placeholder'|trans
        }) }}
    </div>
</div>
<div class="row small-12">
    <div class="column medium-6 input-margin">
        <label for="{{ projectForm.postalCode.vars.name }}">{{ 'user.project.field.city.label'|trans }}</label>
        {{ form_widget(projectForm.postalCode, {
            'label': false,
            'class': 'js-city-autocomplete',
            'required': true,
            'required_message' : 'user.project.field.city.required_message'|trans,
            'attr' : {
                'data-autocomplete-url': path('front_city_autocomplete'),
                'data-city-field': projectForm.cityName.vars.id,
                'data-latitude-field': projectForm.latitude.vars.id,
                'data-longitude-field': projectForm.longitude.vars.id,
                'data-placeholder': 'user.project.field.city.placeholder'|trans
            }
        }) }}

    </div>
</div>

<div class="small-12">
    {{ form_widget(projectForm.description, {
        'label': 'user.project.field.description.label'|trans,
        'class': '',
        'required': false,
        'required_class': 'show-for-sr',
        'placeholder': 'user.project.field.description.placeholder'|trans
    }) }}
</div>

<div class="small-12">
    <ul class="wish-list input-margin" id="js-project-list"
        data-prototype="{{ form_widget(projectForm.projectVehicles.vars.prototype)|e('html_attr') }}"
        data-fetch-url="{{ path('front_vehicle_registration_form_update') }}">
        {% for projectVehicle in projectForm.projectVehicles %}
            {{ form_widget(projectVehicle, { 'index': loop.index}) }}
        {% endfor %}
    </ul>
</div>

<button type="button" id="add-project-list" class="text-underline input-margin">{{ 'user.project.field.projectVehicle.add'|trans }}</button>

<div class="small-12 medium-6 large-3">
    <button type="submit" class="button full-width">{{ 'user.project.field.submit'|trans }}</button>
</div>
{{ form_end(projectForm) }}
