<aside class="profile-header small-12">
    <header class="row text-center medium-text-left align-middle">
        <div class="column small-12 medium-shrink medium-order-2 medium-collapse">
            <h1 class="profile-name">
                {{ user.fullName(not(isUserProPageProfile or userIsMe or isUserPro)) }}
                {{ include('front/Affinity/includes/affinity_degreee_element.html.twig') }}

                {% if isUserPro %}
                    {% set contacts = getUserContactsOfGarages(user, app.user.garages) %}
                    <span class="seller-contacts">
                        {% for contact in contacts|filter(c => not c.is(app.user)) %}
                            {{ include('front/User/includes/contacted_by.html.twig') }}
                        {% endfor %}
                    </span>
                {% endif %}
                <br>
                <small class="profile-city">
                    {% if (user.city is not null and not user.city.isEmpty) or userIsMe %}
                        {{ user.city ?? (userIsMe ? 'user.city.empty'|trans) }}&nbsp;&mdash;&nbsp;
                    {% endif %}
                    {{ 'user.profile.member_since'|trans({'%year%':user.createdAt|date('Y')}) }}
                </small>
            </h1>
            <div class="profile-action">
                {% if user.userProfile.phone is not empty and (isUserPro and user.isPhoneDisplay or userIsMe) %}
                    <span class="small-auto medium-shrink">{{ include('front/Garages/Detail/includes/phone_number.html.twig', {
                            'phoneOwner': user,
                            'phoneNumber': user.phone,
                            'showphone_subaction': "1",
                            'icontel': 'icon-mobile',
                            'textDisplay': (userIsMe and not user.isPhoneDisplay ? 'phone_number.private'|trans : null)
                        }) }}</span>
                {% endif %}
                {% if not userIsMe %}
                    <span class="small-12 medium-shrink icon-message primary-color align-center">
                        <a href="{{ path('front_conversation_create', {'id': user.id, '_fragment':'message-answer-block'}) }}"
                           class="text-underline" data-wtaction="LM"
                           data-wtfrom="{{ app.user|wtFromDataAttrValue }}" data-wtto="{{ user|wtToDataAttrValue }}">
                            {{ 'global.button.send_message'|trans }}</a>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="column medium-shrink medium-order-1">
            <div class="profile-image">
                {% if avatarForm is not defined or avatarForm is null %}
                    <img src="{{ user.avatar|avatar('user_thumbnail', user.fullName) }}" alt="{{ user.fullName(user.isPersonal) }}" width="100%">
                {% else %}
                    {{ form_start(avatarForm, { 'attr' : { 'class': 'block-grid small-12 user-form', 'data-abide' : '', 'novalidate': 'novalidate'} }) }}
                    {{ form_widget(avatarForm.avatar, {
                        'label': false,
                        'required': false,
                        'required_class': '',
                        'classPreview': 'file-preview-avatar',
                        'input_class': 'js-onchange-submit',
                        'imgPreview':  user.avatar|avatar('user_thumbnail', user.fullName),
                        'isRemovable': false
                    }) }}
                    {{ form_widget(avatarForm) }}
                    {{ form_end(avatarForm) }}
                {% endif %}
            </div>
        </div>
    </header>
</aside>

