{% set balise_budget = balise_budget|default('h3') %}

<{{ balise_budget }}>
    <strong class="primary-color">{{ project.budget ? 'user.project.defined_budget'|trans({'%budget_ammount%': project.budget|localizedcurrency('EUR')}):'user.project.undefined_budget'|trans }}</strong>
</{{ balise_budget }}>

{% if project.isFleet == true %}
    <p>Il s'agit d'une flotte.</p>
{% endif %}
<ul class="list-bullet">
    {% for projectVehicle in project.projectVehicles %}
        <li><strong class="black-color">{{ projectVehicle.make }} {{ projectVehicle.model }}</strong>
            {{ (projectVehicle.yearMin) ? '/ '~projectVehicle.yearMin~"+ " : '' }}
            {{ (projectVehicle.mileageMax) ? '/ '~projectVehicle.mileageMax|localizednumber~"km" : '' }}
        </li>
    {% endfor %}
</ul>
<div class="seller-project-details dark-gray-color">
    <p>{{ project.description|nl2br }}</p>
</div>
