{% set balise_budget = balise_budget|default('h3') %}

<{{ balise_budget }}>
    <strong class="primary-color">{{ project.budget ? "Budget de " ~ project.budget|localizednumber ~ "€":"Budget non défini" }}</strong>
</{{ balise_budget }}>

{% if project.isFleet == true %}
    <p>Il s'agit d'une flotte.</p>
{% endif %}
<ul class="list-bullet">
    {% for projectVehicle in project.projectVehicles %}
        <li><strong class="black-color">{{ projectVehicle.make }} {{ projectVehicle.model }}</strong>
            {{ (projectVehicle.yearMax) ? '/ '~projectVehicle.yearMax~"+ " : '' }}
            {{ (projectVehicle.mileageMax) ? '/ '~projectVehicle.mileageMax|localizednumber~"km" : '' }}
        </li>
    {% endfor %}
</ul>
<div class="seller-project-details dark-gray-color">
    <p>{{ project.description|nl2br }}</p>
</div>