<aside class="profil-header small-12">
    <header class="row text-center medium-text-left align-middle">
        <div class="column small-12 medium-shrink medium-order-2 medium-collapse">
            <h1 class="profil-name">{{ user.fullName }}</h1>
            <div class="profil-action">
                {% if isUserProPageProfil %}
                    {% if user.phonePro %}
                        <a href="tel:{{ user.phonePro }}" class="icon-tel small-6 medium-shrink"><span class="dark-gray-color">{{ user.phonePro }}</span></a>
                    {% endif %}
                    {% if user.userProfile.phone %}
                        <a href="tel:{{ user.userProfile.phone }}" class="icon-mobile small-6 medium-shrink"><span class="dark-gray-color">{{ user.userProfile.phone }}</span></a>
                    {% endif %}
                {% endif %}

                {% if not userIsMe %}
                    <a href="{{ path('front_conversation_create', {'id': user.id}) }}#message-answer-block" class="icon-message small-12 medium-shrink"><span class="text-underline">{{ 'global.button.send_message'|trans }}</span></a>
                {% else %}
                    <a href="{{ path('security_logout') }}" class="text-underline show-for-medium">Déconnexion</a>
                {% endif %}
            </div>
        </div>
        <div class="column medium-shrink medium-order-1">
            <div class="profil-image">
                {% if not userIsMe %}
                    <img src="{{ user.avatar|avatar('user_thumbnail') }}" alt="{{ user.fullName }}" width="100%">
                {% else %}
                    {{ form_start(avatarForm, { 'attr' : { 'class': 'block-grid small-12 user-form', 'data-abide' : '', 'novalidate': 'novalidate'} }) }}
                    {{ form_widget(avatarForm.avatar, {
                        'label': false,
                        'required': false,
                        'required_class': '',
                        'classPreview': 'file-preview-avatar',
                        'input_class': 'js-onchange-submit',
                        'imgPreview':  user.avatar|avatar('user_thumbnail'),
                        'isRemovable': false
                    }) }}
                    {{ form_widget(avatarForm) }}
                    {{ form_end(avatarForm) }}
                {% endif %}
            </div>
        </div>
    </header>
</aside>

