<aside class="profil-header small-12">
    <header class="row text-center medium-text-left align-middle">
        <div class="column small-12 medium-shrink medium-order-2 medium-collapse">
            <h1 class="profil-name">{{ user.name }}</h1>
            <div class="profil-action">
                {% if isUserPro %}
                    {% if user.phonePro %}
                        <a href="tel:+33{{ user.phonePro }}" class="icon-tel small-6 medium-shrink"><span class="dark-gray-color">{{ user.phonePro }}</span></a>
                    {% endif %}
                    {% if user.userProfile.phone %}
                        <a href="tel:+33{{ user.userProfile.phone }}" class="icon-mobile small-6 medium-shrink"><span class="dark-gray-color">{{ user.userProfile.phone }}</span></a>
                    {% endif %}
                {% endif %}
                {% if isUserPersonal %}
                    <a href="" class="{{ not userIsMe ? 'small-4 small-offset-1 medium-offset-0' : 'small-12' }} medium-shrink icon-location"><span class="text-underline">Lyon 2ème</span></a>
                {% endif %}
                {% if not userIsMe %}
                    <a href="" class="icon-message {{ isUserPro ? 'small-12' : 'small-6' }} medium-shrink"><span class="text-underline">Envoyer un message</span></a>
                {% endif %}
                {% if userIsMe %}
                    <a href="{{ path('security_logout') }}" class="text-underline show-for-medium">Déconnexion</a>
                {% endif %}
            </div>
        </div>
        <div class="column medium-shrink medium-order-1">
            <span class="profil-image">
                <img src="{{ asset('/assets/images/placeholders/user/user.png') }}" alt="{{ user.name }}" width="100%">
            </span>
        </div>
    </header>
</aside>
