<aside class="profil-header small-12">
    <header class="row text-center medium-text-left align-middle">
        <div class="column small-12 medium-shrink medium-order-2 medium-collapse">
            <h1 class="profil-name">{{ isUserProPageProfil or userIsMe or isUserPro?user.fullName:user.firstName }}</h1>
            <div class="profil-action">
                {% if isUserProPageProfil %}
                    {% if user.phonePro %}
                        <span class="small-auto medium-shrink">
                            {{ include('front/Garages/Detail/includes/phone_number.html.twig', {
                                'phoneNumber_eventId':'showtelproFixe'~user.id,
                                'phoneNumber': user.phonePro
                            }) }}</span>
                    {% endif %}
                    {% if user.userProfile.phone %}
                        <span class="small-auto medium-shrink">
                            {{ include('front/Garages/Detail/includes/phone_number.html.twig', {
                                'phoneNumber_eventId':'showtelproMobile'~user.id,
                                'phoneNumber': user.userProfile.phone,
                                'icontel': 'icon-mobile'
                            }) }}</span>
                    {% endif %}
                {% endif %}

                {% if not userIsMe %}
                    <a href="{{ path('front_conversation_create', {'id': user.id}) }}#message-answer-block" class="icon-message small-12 medium-shrink"><span class="text-underline">{{ 'global.button.send_message'|trans }}</span></a>
                {% endif %}
            </div>
        </div>
        <div class="column medium-shrink medium-order-1">
            <div class="profil-image">
                {% if not userIsMe %}
                    <img src="{{ user.avatar|avatar('user_thumbnail') }}" alt="{{ user.fullName }}" width="100%">
                {% else %}
                    {{ form_start(avatarForm, { 'attr' : { 'class': 'block-grid small-12 user-form', 'data-abide' : '', 'novalidate': 'novalidate'} }) }}
                    {{ form_widget(avatarForm.avatar, {
                        'label': false,
                        'required': false,
                        'required_class': '',
                        'classPreview': 'file-preview-avatar',
                        'input_class': 'js-onchange-submit',
                        'imgPreview':  user.avatar|avatar('user_thumbnail'),
                        'isRemovable': false
                    }) }}
                    {{ form_widget(avatarForm) }}
                    {{ form_end(avatarForm) }}
                {% endif %}
            </div>
        </div>
    </header>
</aside>

