<aside class="profil-header small-12">
    <header class="row text-center medium-text-left align-middle">
        <div class="column small-12 medium-shrink medium-order-2 medium-collapse">
            <h1 class="profil-name">
                {{ user.fullName(not(isUserProPageProfil or userIsMe or isUserPro)) }}
                {{ include('front/Affinity/includes/affinity_degreee_element.html.twig') }}
                {% if isUserPersonalPageProfil and isUserPro %}
                    {% set contacts = getUserContactsOfGarages(user, app.user.garages) %}
                    <span class="seller-contacts">
                        {% for contact in contacts|filter(c => not c.is(app.user)) %}
                            {{ include('front/User/includes/contacted_by.html.twig') }}
                        {% endfor %}
                    </span>
                {% endif %}

                {% if isUserPersonalPageProfil %}
                    {% if (user.city is not null and not user.city.isEmpty) or userIsMe %}
                        {#<h2>{{ userIsMe ? 'user.city.title.your_city'|trans:'user.city.title.its_city'|trans }}</h2>#}
                        <br>
                        <small class="profil-city">{{ user.city ?? (userIsMe ? 'user.city.empty'|trans) }}</small>
                    {% endif %}
                {% endif %}
            </h1>

            <div class="profil-action">
                {% if user.phonePro is defined and user.phonePro is not empty %}
                    <span class="small-auto medium-shrink">
                        {{ include('front/Garages/Detail/includes/phone_number.html.twig', {
                            'phoneNumber_eventId':'showtelproFixe'~user.id,
                            'phoneNumber': user.phonePro
                        }) }}</span>
                {% endif %}

                {% if user.userProfile.phone is not empty and (isUserProPageProfil or
                    (isUserPersonalPageProfil and (isUserPro and user.isPhoneDisplay or userIsMe) )) %}
                    <span class="small-auto medium-shrink">
                        {{ include('front/Garages/Detail/includes/phone_number.html.twig', {
                            'phoneNumber_eventId':'showtel'~(isUserProPageProfil?'pro':'personal')~'Mobile'~user.id,
                            'phoneNumber': user.userProfile.phone,
                            'icontel': 'icon-mobile',
                            'textDisplay': (isUserPersonalPageProfil and userIsMe and not user.isPhoneDisplay ? ' (Non affiché)' : null)
                        }) }}

                {% endif %}

                {% if not userIsMe %}
                    <a href="{{ path('front_conversation_create', {'id': user.id}) }}#message-answer-block"
                       class="icon-message small-12 medium-shrink">
                        <span id="launchMP{{ user.isPro?"pro":"particulier" }}{{ user.id }}" class="text-underline">{{ 'global.button.send_message'|trans }}</span></a>
                {% endif %}
            </div>
        </div>
        <div class="column medium-shrink medium-order-1">
            <div class="profil-image">
                {% if not userIsMe %}
                    <img src="{{ user.avatar|avatar('user_thumbnail', user.fullName) }}" alt="{{ user.fullName }}" width="100%">
                {% else %}
                    {{ form_start(avatarForm, { 'attr' : { 'class': 'block-grid small-12 user-form', 'data-abide' : '', 'novalidate': 'novalidate'} }) }}
                    {{ form_widget(avatarForm.avatar, {
                        'label': false,
                        'required': false,
                        'required_class': '',
                        'classPreview': 'file-preview-avatar',
                        'input_class': 'js-onchange-submit',
                        'imgPreview':  user.avatar|avatar('user_thumbnail', user.fullName),
                        'isRemovable': false
                    }) }}
                    {{ form_widget(avatarForm) }}
                    {{ form_end(avatarForm) }}
                {% endif %}
            </div>
        </div>
    </header>
</aside>

