{{ form_start(form) }}

<h2 class="title-secondary column"></h2>

{# Civilité #}
<div class="small-4 large-6 input-field-container">
    {{ form_row(form.title) }}
</div>

{# Nom #}
<div class="column small-4 medium-3 input-field-container">
    {{ form_row(form.name, {'errorMsg' : 'user.field.lastName.error'|trans}) }}
</div>

{# Adresse e-mail #}
<div class="column small-4 large-6 input-field-container">
    {{ form_row(form.email, {'errorMsg' : 'user.field.email.error'|trans}) }}
</div>

{# Code postal #}
<div class="column small-2 medium-3 large-4 input-field-container">
    {{ form_row(form.postalCode, {'errorMsg' :  'user.field.postalCode.error'|trans}) }}
</div>

{# Ville #}
<div class="column small-2 medium-3 large-3 input-field-container">
    {{ form_row(form.city, {'errorMsg' : 'user.field.city.error'}) }}
</div>

{# Phone #}
<div class="column small-2 medium-3 large-3 input-field-container">
    {{ form_row(form.phone, {'errorMsg' : 'user.field.phone.error'}) }}
</div>

{# Newsletter #}
<h2 class="title-secondary column">{{ 'body.register.newsletter'|trans }}</h2>

{# Newsletter #}
<div class="column small-4 input-margin">
    {{ form_row(form.newsletterOptin) }}
    <br>
</div>

{# Button submit #}
<div class="column small-4 large-7">
    <button type="submit" class="button button-animate no-margin small-4">{{ 'button.editInformations'|trans([], 'user') }}</button>
</div>

{{ form_end(form) }}
