{% extends 'front/Layout/layout.html.twig' %}
{% block mainClass %}no-padding-top directory-page{% endblock %}

{% block title %}{{ 'directory.page_tile'|trans }}{% endblock %}
{% block meta_description %}{{ 'directory.description'|trans }}{% endblock %}
{% set seo_img_url = absolute_url(asset('assets/images/background/Wamcar-rencontre-conseiller_automobile-selfie.png')) %}
{% block canonical %}{{ url('front_directory_view') }}{% endblock canonical %}

{% set breadcrumbs = [
    {
        'name': 'directory.breadcrumb'|trans,
        'href': app.request.requestUri
    }
] %}

{% block body %}

    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    <div class="row">
        {% include 'front/Layout/includes/page_header.html.twig' with {
            title: block('title'),
            page_header_class: 'column directory-page-header'
        } %}
    </div>

    {% if not isLogged %}
        <div class="row">
            <div class="column small-12">
                <div class="column directory-form-header">
                    <div class="row">
                        <div class="column small-12 medium-8 text-justify">
                            <h2 class="no-margin">{{ 'directory.form.title'|trans }}</h2>
                        </div>
                        <div class="column small-12 medium-4">
                            <a href="{{ path('register', {'type':constant("Wamcar\\User\\PersonalUser::TYPE")}) }}"
                               class="button expand-height square dark-blue is-center">Commencer l'expérience</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="column small-12">
            {% include 'front/Directory/includes/form.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="directory-result">
            <header class="column small-12 margin-bottom-1">
                <strong class="h2 no-margin ">{{ result.totalHits }} résultat(s)</strong>
            </header>
            {% if result.totalHits > 0 %}
                <div class="seller-item-container row is-collapse-child small-up-1 small-12 medium-up-2 large-up-3">

                    {% for hit in result.hits %}
                        <div class="column">
                            {{ include('front/Directory/includes/seller_item.html.twig', {
                                "itemClass" : "width-100",
                                "proUser" : hit,
                                "highlightSpecialities" : filterData.speciality is defined ? [filterData.speciality] : []
                            }) }}
                        </div>
                    {% endfor %}
                    {% include 'front/Layout/includes/pagination.html.twig' with {
                        'route': 'front_directory_view',
                        'page': page,
                        'lastPage': lastPage
                    } %}
                </div>
            {% else %}
                <div class="row">
                    <div class="column small-12">
                        <div class="column">
                            <p class="padding-1 white-bg">{{ 'directory.result.empty'|trans }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock body %}