{% set isPro = true %}

<!-- Header -->
<div class="messages-header block-grid hide-for-medium">
    <a href="{{ path('front_conversation_list') }}" class="messages-back-btn icon-full-arrow"></a>
    <div class="">
        <h1 class="primary-color no-margin">{{ interlocutor.name }}</h1>
        <div class="messages-small-text">
            {% if interlocutor.isPro and interlocutor.garage %}
                {{ interlocutor.garage.name }}
            {% endif %}
        </div>
    </div>
</div>
<!-- Messages item -->
    {% for message in messages %}
        <!-- Véhicule lié -->
        {% if message.vehicleHeader %}
            {% include 'front/Messages/includes/vehicle_related.html.twig' with {'vehicle': message.vehicleHeader} %}
        {% endif %}

        <div class="messages-item block-grid no-bullet no-margin">
            <img class="messages-user-img messages-item-user-img" src="{{ message.user.avatar|avatar('user_thumbnail') }}" alt="{{ message.user.name }}">
            <div class="messages-main">
                <div class="is-flex">
                    <strong class="messages-sender-name messages-item-sender-name">
                        {{ message.user.name }}
                    </strong>
                    <div class="messages-time messages-small-text">
                        {{ message.publishedAt|localizeddate(format = "dd/MM 'à' HH'h'mm") }}
                    </div>
                </div>
                <div class="messages-small-text">
                    {% if message.user.isPro and message.user.garage %}
                        {{ message.user.garage.name }}
                    {% endif %}
                </div>
            </div>
            <div class="messages-item-content">
                {{ message.content }}
            </div>
            {#{% include 'front/Messages/includes/vehicle_taken.html.twig' with { removeButton: false } %}#}
        </div>
    {% endfor %}

    {% include 'front/Messages/includes/message_answer.html.twig' with { labelName: 'Votre message pour ' ~ interlocutor.name } %}
