<!-- Message answer -->
<div class="messages-item-answer">
    {{ form_start(messageForm, { 'attr' : { 'data-abide' : '', 'novalidate': 'novalidate'} }) }}

    <label id="message-answer">{{ labelName }}</label>
    {{ form_widget(messageForm.content, {
        'label': 'Message',
        'placeholder': 'Entrez votre message...',
        'class': 'no-margin'
    }) }}
    {#{% include 'front/Messages/includes/vehicle_taken.html.twig' with { removeButton: messageEmpty ? false : true } %}#}
    {% if user.vehicles|length == 0 %}
        <a class="messages-create-vehicle-btn text-underline" href="#">Sélectionner un véhicule proposé</a>
    {% else %}
        {% set createPath = user.isPro ? path('front_vehicle_pro_add') : path('front_vehicle_personal_add') %}
        <a class="messages-create-vehicle-btn text-underline" href="{{ createPath }}">Créer un véhicule</a>
    {% endif %}
    <div class="block-grid">
        <button class="small-12 medium-10 large-6 messages-send-btn button" type="submit">Envoyer le message</button>
    </div>
    {{ form_end(messageForm) }}
</div>
