{% if currentConversation %}
    {% set currentConversationLastMessage = getLastMessageConversation(currentConversation) %}
{% endif %}

<!-- Header for mobile -->
<div class="messages-header messages-header-item-mobile block-grid hide-for-medium">
    <a href="{{ path('front_conversation_list') }}" class="messages-back-btn icon-full-arrow"></a>
    <div class="">
        <h1 class="primary-color no-margin">{{ interlocutor.fullName }}</h1>
        {% if interlocutor.isPro and interlocutor.hasGarage %}
            <div class="messages-small-text">
                {% set garageMemberships = interlocutor.enabledGarageMemberships %}
                {% if garageMemberships|length == 1 %}
                    <a href="{{ path('front_garage_view', {'id':garageMemberships.first.garage.id}) }}" target="_blank">{{ garageMemberships.first.garage.name }}</a>
                {% else %}
                    {# TODO placeholder ou liste des garages ? #}
                    Plusieurs garages
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

<!-- Messages item -->
{% for message in messages %}
    <!-- Véhicule lié -->
    {% if message.vehicleHeader %}
        {% include 'front/Messages/includes/vehicle_related.html.twig' with {'vehicle': message.vehicleHeader} %}
    {% endif %}

    <div class="messages-item block-grid no-bullet no-margin" {% if message.id == currentConversationLastMessage.id %}id="last-message"{% endif %}>
        <a href="{{ path('front_view_user_info', {'id': message.user.id}) }}" target="_blank">
            <img class="messages-user-img messages-item-user-img" src="{{ message.user.avatar|avatar('user_thumbnail') }}" alt="{{ message.user.fullName }}">
        </a>
        <div class="messages-main">
            <div class="is-flex">
                <a href="{{ path('front_view_user_info', {'id': message.user.id}) }}" target="_blank">
                    <strong class="messages-sender-name messages-item-sender-name">
                        {{ message.user.fullName }}
                    </strong>
                </a>
                <div class="messages-time messages-small-text">
                    {{ message.publishedAt|localizeddate(format = "dd/MM 'à' HH'h'mm") }}
                </div>
            </div>
            {% if message.user.isPro and message.user.hasGarage %}
                <div class="messages-small-text">
                    {% set garageMemberships = message.user.enabledGarageMemberships %}
                    {% if garageMemberships|length == 1 %}
                        <a href="{{ path('front_garage_view', {'id':garageMemberships.first.garage.id}) }}" target="_blank">{{ garageMemberships.first.garage.name }}</a>
                    {% elseif garageMemberships|length == 0 %}
                        Pas de garage
                    {% else %}
                        {# TODO placeholder ou liste des garages ? #}
                        Plusieurs garages
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="messages-item-content full-width">
            {{ message.content|nl2br }}
        </div>
        {% if message.vehicle %}
            {% include 'front/Messages/includes/vehicle_taken.html.twig' with { messageItem: true, vehicle: message.vehicle, user: message.user } %}
        {% elseif message.isFleet %}
            {% include 'front/Messages/includes/vehicle_taken.html.twig' with { messageItem: true, severalVehicles: message.user.vehicles|length, user: message.user } %}
        {% endif %}
    </div>
{% endfor %}

{% include 'front/Messages/includes/message_answer.html.twig' with {'interlocutor':interlocutor} %}

