{% form_theme messageForm 'front/Layout/includes/forms/fields.html.twig' %}

{% set label = isPro == true ? 'Sélectionner un véhicule proposé' : 'Créer un véhicule' %}

<!-- Message answer -->
<div class="messages-item-answer">
    {{ form_start(messageForm, { 'attr' : { 'data-abide' : '', 'novalidate': 'novalidate'} }) }}

    <label id="message-answer">{{ labelName }}</label>
    {{ form_widget(messageForm.vehicleHeaderId) }}
    {{ form_widget(messageForm.content, {
        'label': 'Message',
        'placeholder': 'Entrez votre message...',
        'class': 'no-margin'
    }) }}
    {#{% include 'front/Messages/includes/vehicle_taken.html.twig' with { removeButton: messageEmpty ? false : true } %}#}
    <a class="messages-create-vehicle-btn text-underline" href="#">{{ label }}</a>
    <div class="block-grid">
        <button class="small-12 medium-10 large-6 messages-send-btn button" type="submit">Envoyer le message</button>
    </div>
    {{ form_end(messageForm) }}
</div>
