{% set isPro = true %}

<!-- Header -->
<div class="messages-header block-grid hide-for-medium">
    <button type="button" class="messages-back-btn icon-full-arrow"></button>
    <div class="">
        <h1 class="primary-color no-margin">Antoine Martin</h1>
        <div class="messages-small-text">
            Toyota Villeurbanne
        </div>
    </div>
</div>
<!-- Messages item -->
    {% for message in messages %}
        <!-- Véhicule lié -->

        {% if message.vehicleHeaderId %}
            {% set vehicleHeader = getVehicle(message) %}
            {% if vehicleHeader %}
                {% include 'front/Messages/includes/vehicle_related.html.twig' with {'vehicle': vehicleHeader} %}
            {% endif %}
        {% endif %}

        <div class="messages-item block-grid no-bullet no-margin">
            <img class="messages-user-img messages-item-user-img" src="{{ message.user.avatar|avatar('user_thumbnail') }}" alt="{{ message.user.name }}">
            <div class="messages-main">
                <div class="is-flex">
                    <strong class="messages-sender-name messages-item-sender-name">
                        {{ message.user.name }}
                    </strong>
                    <div class="messages-time messages-small-text">
                        {{ message.publishedAt|localizeddate(format = "dd/MM 'à' HH'h'mm") }}
                    </div>
                </div>
                <div class="messages-small-text">
                    {% if message.user.type == 'pro' and message.user.garage %}
                        {{ message.user.garage.name }}
                    {% endif %}
                </div>
            </div>
            <div class="messages-item-content">
                {{ message.content }}
            </div>
            {#{% include 'front/Messages/includes/vehicle_taken.html.twig' with { removeButton: false } %}#}
        </div>
    {% endfor %}

    {% include 'front/Messages/includes/message_answer.html.twig' with { labelName: 'Votre message pour ' ~ interlocutor.name } %}
    {#<!-- Message conversation answer -->
    <div class="messages-item messages-item-conversation block-grid no-bullet no-margin">
        <img class="messages-user-img messages-item-user-img" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="Juliette Dupont">
        <div class="messages-main">
            <div class="is-flex">
                <strong class="messages-sender-name messages-item-sender-name">
                    Juliette Dupont
                </strong>
                <div class="messages-time messages-small-text">
                    25/11 à 13h15
                </div>
            </div>
            <div class="messages-small-text">
                Lyon 2ème
            </div>
        </div>
        <div class="messages-item-content">
            Je vous remercie pourvotre proposition mais je ne suis malheureusement pas intéressée pas une Yaris ancienne version. Je souhaiterais un modèle de 2016 ou 2017 de préférence.
        </div>
    </div>
    <!-- Message conversation answer -->
    <div class="messages-item messages-item-conversation block-grid no-bullet no-margin">
        <img class="messages-user-img messages-item-user-img" src="https://s3.amazonaws.com/uifaces/faces/twitter/abecherian/128.jpg" alt="Antoine Martin">
        <div class="messages-main">
            <div class="is-flex">
                <strong class="messages-sender-name messages-item-sender-name">
                    Antoine Martin
                </strong>
                <div class="messages-time messages-small-text">
                    25/11 à 13h45
                </div>
            </div>
            <div class="messages-small-text">
                Toyota Villeurbanne
            </div>
        </div>
        <div class="messages-item-content">
            J’aurai peut-être un modèle qui pourrait vous interesser d’ici deux jours. Je reviens vers vous à ce moment là.
        </div>
    </div>
    {% include 'front/Messages/includes/vehicle_related.html.twig' with { vehicleSelected: '2' } %}
    <!-- Message conversation answer -->
    <div class="messages-item messages-item-conversation block-grid no-bullet no-margin">
        <img class="messages-user-img messages-item-user-img" src="https://s3.amazonaws.com/uifaces/faces/twitter/abecherian/128.jpg" alt="Antoine Martin">
        <div class="messages-main">
            <div class="is-flex">
                <strong class="messages-sender-name messages-item-sender-name">
                    Antoine Martin
                </strong>
                <div class="messages-time messages-small-text">
                    25/11 à 14h25
                </div>
            </div>
            <div class="messages-small-text">
                Toyota Villeurbanne
            </div>
        </div>
        <div class="messages-item-content">
            Bonjour Juliette. Je viens de voir que vous vendez à nouveau un véhicule et j’ai cette fois une offre de reprise qui pourrait vous intéresser. J’ai une Toyota Verso actuellement au garage, de couleur noire et n’ayant que 4 700 km. Elle a été mise en circulation en début d’année et correspond donc à vos souhaits.
        </div>
    </div>
    {% include 'front/Messages/includes/message_answer.html.twig' with { labelName: 'Réponse' } %}#}
