{% set interlocutorConversationUser = interlocutor is not null and currentConversation is not null ? interlocutor.getConversationUser(currentConversation) : null %}

<!-- Header for mobile -->
<div class="messages-header messages-header-item-mobile block-grid hide-for-medium">
    <a href="{{ path('front_conversation_list') }}" class="messages-back-btn icon-full-arrow"></a>
    <div class="">
        <h1 class="primary-color no-margin">{{ interlocutor.fullName }}</h1>
        {% if interlocutor.isPro and interlocutor.hasGarage %}
            <div class="messages-small-text">
                {% set garageMemberships = interlocutor.enabledGarageMemberships %}
                {% if garageMemberships|length == 1 %}
                    <a href="{{ path('front_garage_view', {'slug':garageMemberships.first.garage.slug}) }}" target="_blank">{{ garageMemberships.first.garage.name }}</a>
                {% else %}
                    {# TODO placeholder ou liste des garages ? #}
                    Plusieurs garages
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

<!-- Messages item -->
{% for message in messages %}
    <!-- Véhicule lié -->
    {% if message.vehicleHeader %}
        {% include 'front/Messages/includes/vehicle_related.html.twig' with {'vehicle': message.vehicleHeader,'vehicleSeller':message.vehicleSeller} %}
    {% endif %}

    <div class="messages-item block-grid no-bullet no-margin"
         {% if loop.last %}id="last-message" data-conversation-open-url="{{ path('front_conversation_open', {'id':currentConversation.id}) }}"{% endif %}>
        <a href="{{ message.user|userInfoUrl }}" target="_blank">
            <img class="messages-user-img messages-item-user-img"
                 src="{{ message.user.avatar|avatar('user_thumbnail', message.user.firstName) }}"
                 alt="{{ message.user.fullName }}">
        </a>
        <div class="messages-main">
            <div class="is-flex">
                <a href="{{ message.user|userInfoUrl }}" target="_blank">
                    <strong class="messages-sender-name messages-item-sender-name">
                        {{ message.user.fullName }}
                    </strong>
                </a>
                <div class="messages-time messages-small-text">
                    {{ message.publishedAt|localizeddate(format = "dd/MM 'à' HH'h'mm") }}
                </div>
            </div>
            {% if message.user.isPro and message.user.hasGarage %}
                <div class="messages-small-text">
                    {% set garageMemberships = message.user.enabledGarageMemberships %}
                    {% if garageMemberships|length == 1 %}
                        <a href="{{ path('front_garage_view', {'slug':garageMemberships.first.garage.slug}) }}" target="_blank">{{ garageMemberships.first.garage.name }}</a>
                    {% elseif garageMemberships|length == 0 %}
                        Pas de garage
                    {% else %}
                        {# TODO placeholder ou liste des garages ? #}
                        Plusieurs garages
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="messages-item-content full-width">
            {{ message.content|nl2br }}
        </div>
        {% if message.linkPreviews|length > 0 %}
            <div class="messages-item-link-previews full-width">
                {% for linkPreview in message.linkPreviews %}
                    <div class="messages-item-link-preview">
                        {% if linkPreview.image is not empty %}
                            <a href="{{ linkPreview.url }}" target="_blank">
                                <img src="{{ linkPreview.image }}" alt="{{ linkPreview.description|default('pas de description') }}">
                            </a>
                        {% else %}
                            <div class="no-img">&nbsp;</div>
                        {% endif %}
                        {% if linkPreview.title is not empty%}
                            <b class="linkpreview-title">{{ linkPreview.title|raw }}</b>
                        {% endif %}
                        <a href="{{ linkPreview.url }}" target="_blank" class="linkpreview-link">{{ linkPreview.domainUrl }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if message.attachments|length > 0 %}
            <div class="messages-item-attachments full-width">
                <strong class="messages-item-attachments-label secondary-color">{{ 'conversation.message.attachments'|transchoice(message.attachments|length) }}</strong>
                <ol>
                    {% for attachment in message.attachments %}
                        <li><a href="{{ getAttachmentLink(attachment) }}" target="_blank">{{ attachment.fileOriginalName }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
        {% if message.vehicle %}
            {% include 'front/Messages/includes/vehicle_taken.html.twig' with { messageItem: true, vehicle: message.vehicle, user: message.user } %}
        {% elseif message.isFleet %}
            {% include 'front/Messages/includes/vehicle_taken.html.twig' with { messageItem: true, severalVehicles: message.user.vehicles|length, user: message.user } %}
        {% endif %}

        {% if message.user.is(user) and interlocutorConversationUser is not null and interlocutorConversationUser.lastOpenedAt > message.publishedAt %}
            <div class="is-flex full-width align-right">
                <div class="messages-read">
                    <img src="{{ interlocutor.avatar|avatar('user_mini_thumbnail', interlocutor.firstname) }}"
                         data-tooltip
                         alt="{{ 'conversation.message.read_by'|trans({'%username%':interlocutor.firstname|title, '%date%':interlocutorConversationUser.lastOpenedAt|localizeddate('medium','short')}) }}"
                         title="{{ 'conversation.message.read_by'|trans({'%username%':interlocutor.firstname|title, '%date%':interlocutorConversationUser.lastOpenedAt|localizeddate('medium','short')}) }}">
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}

{% include 'front/Messages/includes/message_answer.html.twig' with {'interlocutor':interlocutor} %}

