
<!-- Véhicule lié -->
{% if vehicleHeader %}
    {% include 'front/Messages/includes/vehicle_related.html.twig' with {'vehicle': vehicleHeader} %}
{% endif %}
<!-- Message answer -->
<div class="messages-item-answer" id="message-answer-block">
    {{ form_start(messageForm, { 'attr' : { 'novalidate': 'novalidate'} }) }}

    {{ form_widget(messageForm.content, {
        'label': labelName,
        'placeholder': 'Entrez votre message...',
        'class': 'no-margin',
        'required': true
    }) }}
    {% if messageForm.vehicle is defined %}
        {{ form_widget(messageForm.vehicle, {
            'isNew': currentConversation == null
        }) }}
    {% endif %}
    {% if messageForm.selectVehicle is defined %}
        {{ form_widget(messageForm.selectVehicle, {
            'label': 'Sélectionner un véhicule proposé',
            'class': 'messages-create-vehicle-btn text-underline'
        }) }}
    {% endif %}
    {% if messageForm.createVehicle is defined %}
        {{ form_widget(messageForm.createVehicle, {
            'label': 'Créer un véhicule',
            'class': 'messages-create-vehicle-btn text-underline'
        }) }}
    {% endif %}
    {% if messageForm.isFleet is defined %}
        {{ form_widget(messageForm.isFleet, {
            'isNew': currentConversation == null
        }) }}
    {% endif %}
    <div class="block-grid">
        {{ form_widget(messageForm.send, {
            'label': 'Envoyer le message',
            'class': 'small-12 medium-10 large-6 messages-send-btn button'
        }) }}
    </div>
    {{ form_end(messageForm) }}
</div>
