<!-- Vehicle related : encart bleue -->
{% if vehicle.isPro %}
    {% set path = path('front_vehicle_pro_detail', {'slug': vehicle.slug}) %}
{% else %}
    {% set path = path('front_vehicle_personal_detail', {'slug': vehicle.slug}) %}
{% endif %}
<div class="messages-item-vehicle-proposed block-grid">
    <a href="{{ path }}" target="_blank">
        <img src="{{ vehicle.mainPicture|vehiclePicture('vehicle_mini_thumbnail') }}" alt="{{ vehicle.name }}">
    </a>
    <div class="messages-item-vehicle-proposed-infos">
        <strong class="messages-small-text primary-color">
            <a href="{{ vehicle.seller|userInfoUrl }}" target="_blank">
                {{ vehicle.isPro ?
                    'conversation.vehicle_presented_by'|trans({'%ownerName%':vehicle.sellerName}) :
                    ( vehicle.seller.id == app.user.id ?
                            'conversation.my_vehicle'|trans:
                            'conversation.personal_vehicle_of'|trans({'%ownerName%':vehicle.sellerName})
                    )
                }}
            </a>
        </strong>
        <div class="messages-item-vehicle-proposed-model">
            <a href="{{ path }}" target="_blank">
                <strong>{{ vehicle.name }}</strong> <span>{{ vehicle.engineName }}</span>
            </a>
        </div>
        <div class="messages-small-text messages-item-vehicle-proposed-model-infos">
            <a href="{{ path }}" target="_blank">
                {{ vehicle.years }}, {{ vehicle.mileage|localizednumber }}km, {{ vehicle.cityName|upper }}
            </a>
        </div>
    </div>
</div>
