{% if vehicle.isPro %}
    {% set path = path('front_vehicle_pro_detail', {'id': vehicle.id}) %}
{% else %}
    {% set path = path('front_vehicle_personal_detail', {'id': vehicle.id}) %}
{% endif %}
<div class="messages-item-vehicle-proposed block-grid">
    <a href="{{ path }}" target="_blank">
        <img src="{{ vehicle.mainPicture|vehiclePicture('vehicle_mini_thumbnail') }}" alt="{{ vehicle.name }}">
    </a>
    <div class="messages-item-vehicle-proposed-infos">
        <strong class="messages-small-text primary-color">
            <a href="{{ path('front_view_user_info', {'id': vehicle.seller.id}) }}" target="_blank">
                {{ vehicle.seller.id === app.user.id?'vehicle.my_vehicle'|trans:'vehicle.vehicle_of'|trans({'%ownerName%':vehicle.sellerName}) }}
            </a>
        </strong>
        <div class="messages-item-vehicle-proposed-model">
            <a href="{{ path }}" target="_blank">
                <strong>{{ vehicle.name }}</strong>
                <span>{{ vehicle.engineName }}</span>
            </a>
        </div>
        <div class="messages-small-text messages-item-vehicle-proposed-model-infos">
            <a href="{{ path }}" target="_blank">
                {{ vehicle.years }}, {{ vehicle.mileage|localizednumber }}km, {{ vehicle.cityName }}
            </a>
        </div>
    </div>
</div>
