{#{% if vehicleSelected == 1 %}
<div class="messages-item-vehicle-proposed block-grid">
    <img src="{{ asset('assets/images/placeholders/vehicle/small1.jpg') }}" alt="Toyota Aygo">
    <div class="messages-item-vehicle-proposed-infos">
        <strong class="messages-small-text primary-color">
            Voiture de Juliette Dupont
        </strong>
        <div class="messages-item-vehicle-proposed-model">
            <strong>Toyota Aygo</strong>
            <span>Hybrid 5P</span>
        </div>
        <div class="messages-small-text">
            2015, 22 180 km, Villeurbanne
        </div>
    </div>
    {% if severalVehicles %}
        <div class="messages-small-text messages-item-vehicle-proposed-subline">
            Juliette dispose d'une flotte. <a href="#" class="text-underline">Voir ses véhicules</a>
        </div>
    {% endif %}
</div>
{% else %}#}
<div class="messages-item-vehicle-proposed block-grid">
    <a href="#">
        <img src="{{ vehicle.mainPicture|vehiclePicture('vehicle_mini_thumbnail') }}" alt="{{ vehicle.name }}">
    </a>
    <a href="#" class="messages-item-vehicle-proposed-infos">
        <strong class="messages-small-text primary-color">
            Voiture de {{ vehicle.seller.fullName }}
        </strong>
        <div class="messages-item-vehicle-proposed-model">
            <strong>{{ vehicle.name }}</strong>
            <span>{{ vehicle.engineName}}</span>
        </div>
        <div class="messages-small-text">
            {{ vehicle.years }},  {{ vehicle.mileage|localizednumber }} km, {{ vehicle.cityName }}
        </div>
    </a>
</div>
