{% if vehicle.isPro %}
    {% set label = '<strong class="secondary-color">Véhicule proposé</strong>' %}
    {% set path = path('front_vehicle_pro_detail', {'id': vehicle.id}) %}
{% else %}
    {#{% set label = messageEmpty == true ? '<strong class="secondary-color">Votre véhicule à reprendre</strong><div>(automatiquement ajouté à votre message)</div>' : '<strong class="secondary-color">Véhicule à reprendre</strong>' %}#}
    {% set label = '<strong class="secondary-color">Véhicule proposé</strong>' %}
    {% set path = path('front_vehicle_personal_detail', {'id': vehicle.id}) %}
{% endif %}

<!-- Véhicule à reprendre -->
<div class="messages-item-vehicle-taken">
    <div class="messages-item-vehicle-taken-label">{{ label | raw }}</div>
    {% if severalVehicles is defined %}
        <div class="messages-item-vehicle-taken-message is-flex">
            <div class="several-img">
                {% include 'front/Layout/includes/svg/2cars.html.twig' %}
            </div>
            <div class="several-content">
                <strong>
                    Vous disposez d’une flotte composée de 3 véhicules
                </strong>
                <a href="#" class="text-underline">Voir vos véhicules</a>
            </div>
        </div>
    {% else %}
        <div class="vehicle-list small-12">
            <article class="vehicle-item is-flex">
                <a href="{{ path }}" class="is-flex full-width">
                    <div class="vehicle-picture medium-auto is-relative">
                        <img src="{{ vehicle.mainPicture|vehiclePicture('vehicle_thumbnail') }}" alt="{{ vehicle.name }}">
                        <div class="vehicle-count-pics">
                          <span class="icon-pics">{{ vehicle.pictures|length }}</span>
                        </div>
                    </div>
                    <div class="vehicle-infos small-shrink">
                        <h3 class="vehicle-name h3">{{ vehicle.name }}</h3>
                        <p class="vehicle-model">{{ vehicle.modelVersionName }}</p>
                        <span class="vehicle-years body-font-color">{{ vehicle.years }},  {{ vehicle.mileage|localizednumber }} km</span>
                        <div class="vehicle-bottom block-grid full-width align-middle">
                            <span class="vehicle-city primary-color small-12">{{ vehicle.cityName }}</span>
                            <time class="vehicle-time black-color small-auto">{{ vehicle.createdAt|localizeddate(format = "d MMM, HH'h'mm") }}</time>
                        </div>
                    </div>
                </a>
                {% if removeButton %}
                    <button type="button" id="js-remove-vehicle-selected" class="messages-vehicle-item-delete icon-remove is-block"></button>
                {% endif %}
            </article>
        </div>
    {% endif %}
</div>
