{% set label = isNew is defined and isNew == true ? '<strong class="secondary-color">Votre véhicule à reprendre</strong><div>(automatiquement ajouté à votre message)</div>' : '<strong class="secondary-color">Véhicule à reprendre</strong>'  %}

<!-- Véhicule à reprendre -->
<div class="messages-item-vehicle-taken">
    {% if severalVehicles is defined %}
        <div class="messages-item-vehicle-taken-label">{{ label | raw }}</div>
        <div class="messages-item-vehicle-taken-message is-flex">
            <div class="several-img">
                {% include 'front/Layout/includes/svg/2cars.html.twig' %}
            </div>
            <div class="several-content">
                <strong>
                    {% if app.user.id == user.id %}
                        Vous disposez d’une flotte composée de {{ severalVehicles }} véhicules
                    {% else  %}
                        Votre interlocuteur dispose d’une flotte composée de {{ severalVehicles }} véhicules
                    {% endif %}
                </strong>
                <a href="{{ path('front_view_user_info', {'id':user.id,'_fragment':'user_vehicles_section'}) }}" target="_blank" class="text-underline">{{ app.user.id == user.id ? 'Voir vos véhicules' : 'Voir ses véhicules' }}</a>
            </div>
        </div>
    {% else %}
        {% if vehicle.isPro %}
            {% set label = '<strong class="secondary-color">'~ "conversation.proposed_vehicle"|trans ~'</strong>' %}
        {% else %}
            {% set label = isNew is defined and isNew == true ? '<strong class="secondary-color">'~ "conversation.to_sell_vehicle"|trans ~'</strong><div>'~"conversation.auto_added"|trans~'</div>' : '<strong class="secondary-color">'~ "conversation.to_sell_vehicle"|trans ~'</strong>'  %}
        {% endif %}
        <div class="messages-item-vehicle-taken-label">{{ label | raw }}</div>
        <div class="vehicle-list small-12">
            {{ include('front/Messages/includes/item_vehicle_selected.html.twig') }}
        </div>
    {% endif %}
</div>
