{% extends 'front/Layout/includes/navigation/primary.html.twig' %}

{% set page_search = page_search|default(false) %}
{% set page_garage = page_garage|default(false) %}
{% set page_favorites = page_favorites|default(false) %}
{% set page_message = page_message|default(false) %}

{% set path_garage = isUserPro and app.user.garage ? path('front_garage_view', {'id': app.user.garage.id}) : path('front_garage_create') %}
{% set path_favorites = path('front_user_favorites_list') %}

{% set nbUnreadMessages = getCountUnreadMessages(app.user) %}
{% set navigation_class = 'is-flex' %}
{% set navigation_items = [
    {
        slug: path('front_search_pro'),
        label: 'Recherche un véhicule',
        icon: 'search',
        current: page_search
    },
    {
        slug: path_garage,
        label: 'garage.my_garage'|trans,
        icon: 'garage',
        current: page_garage
    },
    {
        slug: path_favorites,
        label: 'favorites.page_title'|trans,
        icon: 'thumbs-up',
        current: page_favorites
    },
    {
        slug: path('front_conversation_list'),
        label: 'Messagerie',
        icon: 'message',
        current: page_message,
        showCountMessage: true
    }
] %}

{% block navigation %}
    {% for item in navigation_items %}
        <a href="{{ item.slug }}" class="l-navigation-item is-logged {{ item.current ? 'is-active' : ''  }} l-header-button icon-{{ item.icon }} body-font-color l-header-button">
            {% if (item.showCountMessage ?? false) and (nbUnreadMessages > 0) %}
                <span class="messages-notification">{{ nbUnreadMessages }}</span>
            {% endif %}
            <b class="show-for-xlarge">{{ item.label }}</b>
        </a>
    {% endfor %}
{% endblock %}
