{% extends 'front/Layout/includes/navigation/primary.html.twig' %}

{% set page_search = page_search|default(false) %}
{% set page_favoris = page_favoris|default(false) %}
{% set page_garage = page_garage|default(false) %}
{% set page_message = page_message|default(false) %}
{% set page_profil = page_profil|default(false) %}

{% set path_garage = path('front_view_current_user_info',{'_fragment':'user_vehicles_section'}) %}

{% set navigation_class = 'is-flex small-right' %}
{% set navigation_items = [
    {
        slug: path('front_search_personal'),
        label: 'Recherche un véhicule',
        icon: 'search',
        current: page_search
    },
    {
        slug: '',
        label: 'Mes favoris',
        icon: 'heart',
        current: page_favoris
    },
    {
        slug: path_garage,
        label: 'Mon Garage',
        icon: 'garage',
        current: page_garage
    },
    {
        slug: path('front_conversation_list'),
        label: 'Messagerie',
        icon: 'message',
        current: page_message,
        showCountMessage: true
    },
    {
        slug: path('front_view_current_user_info'),
        label: 'Profil',
        icon: 'user',
        current: page_profil
    }
] %}

{% block navigation %}

    {% for item in navigation_items %}
        <a href="{{ item.slug }}" class="l-navigation-item is-logged {{ item.current ? 'is-active' : ''  }} l-header-button icon-{{ item.icon }} body-font-color l-header-button">
            {% if item.showCountMessage ?? false %}
                {{ getCountUnreadMessages(app.user) }}
            {% endif %}
            <b class="show-for-xlarge">{{ item.label }}</b>
        </a>
    {% endfor %}

{% endblock %}
