{% set isLogged = isLogged|default(false) %}

{% set navigation_class = navigation_class|default('header-search align-left') %}

{% set searchAction = isUserPro ? path('front_search',{'search_vehicle':{'tab':constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::TAB_PERSONAL')}}) : path('front_search',{'search_vehicle':{'tab':constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::TAB_PRO')}}) %}
{% set searchTab = isUserPro ? constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::TAB_PERSONAL') : constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::TAB_PRO') %}
{% set directoryAction = path('front_directory_view') %}

{% set visibilityConfigClass =  isLogged ? 'hide-for-small-only' : 'show-for-large' %}

<nav id="{{ not isLogged ? 'js-navigation' }}"
     class="l-navigation column large-text-center is-hidden {{ navigation_class }}">
    <div class="l-navigation-header-search {{ visibilityConfigClass }}">
        <form id="header-search-form" method="get" action="{{ searchAction }}">
            <div class="{{ visibilityConfigClass }} is-flex">
                <label for="js-header-search" class="show-for-sr">{{ 'search.common.field.text.label'|trans }}</label>
                <input type="search" name="search_vehicle[text]" id="js-header-search" class="input no-margin"
                       placeholder="{{ 'search.common.field.text.label'|trans }}" autocomplete="off"
                       data-toggle="header_search_dropdown_pane">
                <input type="hidden" name="search_vehicle[tab]" value="{{ searchTab }}">
            </div>
            <div id="header_search_dropdown_pane" class="dropdown-pane {{ visibilityConfigClass }}" data-dropdown
                 data-close-on-click="true">
                <div class="dropdown-pane-body">
                    <ul class="no-bullet text-left">
                        <li>
                            <button type="submit" data-input-name="search_vehicle[text]" data-action="{{ searchAction }}"
                                    class="full-width text-left black-color">{{ 'header.common.search.vehicle'|trans }}</button>
                        </li>
                        <li>
                            <button type="submit" data-input-name="search_pro[text]" data-action="{{ directoryAction }}"
                                    class="full-width text-left black-color">{{ 'header.common.search.directory'|trans }}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    {% block navigation %}{% endblock %}
</nav>
