{% set isLogged = isLogged|default(false) %}
{% set navigation_class = navigation_class|default('') %}

<nav id="{{ not isLogged ? 'js-navigation' : '' }}" class="l-navigation column large-text-center {{ navigation_class }}">
    {% block navigation %}
        <a href="{{ path('front_search_personal') }}" class="l-navigation-item black-color"><strong>{{ 'header.menu.search'|trans }}</strong></a>
        <a href="{{ path('front_vehicle_registration') }}" class="l-navigation-item black-color"><strong>{{ 'header.menu.sell'|trans }}</strong></a>
        <a href="{{ pro_site_url }}" class="l-navigation-item body-font-color"><span>{{ 'header.menu.pro_space'|trans }}</span></a>
    {% endblock %}
</nav>
