<nav class="row align-spaced l-navigation-footer">
    {#<a href="#" class="small-6 medium-shrink">{{ 'footer.concept'|trans }}</a>#}
    {#<a href="" class="small-6 medium-shrink">{{ 'footer.who_are_we'|trans }}</a>#}
    <a href="{{ path('contact') }}" class="small-6 medium-shrink">{{ 'footer.contact_us'|trans }}</a>
    <a href="{{ path('cgu') }}" class="small-6 medium-shrink">{{ 'footer.cgu'|trans }}</a>
    <a href="{{ path('privacy_policy') }}" class="small-6 medium-shrink">{{ 'footer.privacy_policy'|trans }}</a>
    <a href="{{ path('legal_notices') }}" class="small-6 medium-shrink">{{ 'footer.legal_notice'|trans }}</a>
</nav>
