<div>
    {{ form_start(videoProjectForm,
        { 'attr' : { 'class': formClass|default('row'), 'data-abide' : '', 'novalidate': 'novalidate'} }) }}

    <div class="columns small-12 input-margin">
        {{ form_widget(videoProjectForm.title, {
            'label': 'coaching_video.video_project.form.field.title.label'|trans
        }) }}
    </div>
    <div class="columns small-12 input-margin">
        {{ form_row(videoProjectForm.description, {
            'label': 'coaching_video.video_project.form.field.description.label'|trans
        }) }}
    </div>

    {{ form_rest(videoProjectForm) }}
    <div class="columns small-12 right">
        <button type="submit" class="button primary-button full-width">{{ 'global.button.validate'|trans }}</button>
    </div>
    {{ form_end(videoProjectForm) }}
</div>