<div>
    {{ form_start(shareVideoProjectForm,
        { 'attr' : { 'class': formClass|default('row'), 'data-abide' : '', 'novalidate': 'novalidate'} }) }}

    <div class="columns small-12 input-margin">
        <label>{{ 'coaching_video.video_project.share.form.field.coworkers.label'|trans }}</label>
        {% for id, coworkerCheckbox in shareVideoProjectForm.coworkers %}
            <div>
                {{ form_row(coworkerCheckbox, {
                    'checkbox_class' : 'user-thumbnail-mini'
                }) }}
            </div>
        {% endfor %}
    </div>

    {{ form_rest(shareVideoProjectForm) }}
    <div class="columns small-12 right">
        <button type="submit" class="button primary-button full-width">{{ 'global.button.validate'|trans }}</button>
    </div>
    {{ form_end(shareVideoProjectForm) }}
</div>