{% extends ':front/Layout:layout.html.twig' %}

{% set is_logged = true %}
{% set is_user_pro = true %}
{% set page_garage = true %}

{% block body %}
    <a href="{{ path('front_garage_create') }}" class="button">Créer un garage</a>
    <div class="row">
        {% for garage in garages %}
            <div class="vehicle-item large-5">
                <figcaption class="vehicle-infos">
                    <span class="vehicle-brand">{{ garage.id }}</span>
                    <a href="{{ path('front_garage_view', {'id': garage.id}) }}"><span class="vehicle-name">{{ garage.name }}</span></a>
                    <p class="vehicle-model no-margin">{{ garage.siren }}</p>
                    <span class="vehicle-years primary-color" style="margin-top: auto">{{ garage.phone }}</span>
                    <span class="vehicle-years primary-color" style="margin-top: auto">{{ garage.address.address }}</span>
                    <span class="vehicle-city black-color is-block" style="margin-top: auto">{{ garage.address.postalCode }}, {{ garage.address.cityName }}</span>
                    <strong>{{ garage.email }}</strong>
                </figcaption>
                <ul>
                    {% if is_granted('ROLE_PRO') %}
                        <li><a href="{{ path('front_garage_edit', {'id': garage.id}) }}">Modifier</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_PRO') and not is_granted('ROLE_ADMIN') %}
                        {% if app.user.isMemberOfGarage(garage) %}
                            <li><a href="{{ path('front_garage_unassign', {'garage_id': garage.id, 'user_id': app.user.id}) }}">Quitter le garage</a></li>
                        {% else %}
                            <li><a href="{{ path('front_garage_assign', {'id': garage.id}) }}">Rejoindre le garage</a></li>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('front_garage_remove', {'id': garage.id}) }}">Supprimer</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
