{% if user.affinityAnswer is not null %}
    {% set dropdownpane_id = 'affinity_degree_'~(app.user.id??'unlogged')~'_'~user.id~'_'~random() %}
    <span class="affinity-score">
        <img src="{{ asset('assets/images/affinity_pourcentage/unknown.png') }}"
             data-toggle="{{ dropdownpane_id  }}">
        <span id="{{ dropdownpane_id  }}" class="dropdown-pane" data-dropdown data-hover="true" data-hover-pane="true">
            {% if app.user is not null and app.user.affinityAnswer is not null %}
                <span>{{ 'user.affinity.degree.calculation_in_progress'|trans }}</span>
            {% elseif user.isPro %}
                <span>{{ 'user.affinity.degree.explanation.personal'|trans }}</span>
                <a href="{{ path('front_affinity_personal_form') }}" class="button margin-top-1 full-width small">
                    {{ 'user.affinity.degree.calltoaction.fill_form'|trans }}</a>
            {% else %}
                <span>{{ 'user.affinity.degree.explanation.pro'|trans }}</span>
                <a href="{{ path('front_affinity_pro_form') }}" class="button margin-top-1 full-width small">
                        {{ 'user.affinity.degree.calltoaction.fill_form'|trans }}</a>
            {% endif %}
        </span>
    </span>
{% endif %}
