<ul id="js-carousel-vehicle" class="js-carousel carousel">
    {% for picture in vehicle.pictures %}
        <li>
            <img src="{{ picture|vehiclePicture('vehicle_picture') }}" alt="{{ vehicle.name ~ ' ' ~ vehicle.cityName }}">
            {# La légende sera reprise dans l'attribut alt de la navigation (ci-dessous et ci-dessus) #}
            {% if picture.caption %}
                <p class="vehicle-carousel-legend text-center">{{ picture.caption }}</p>
            {% endif %}
        </li>
    {% else %}
        <li>
            <img src="{{ 'vehicle_picture'|defaultVehiclePicture }}" alt="">
            {# La légende sera reprise dans l'attribut alt de la navigation (ci-dessous et ci-dessus) #}
            {% if picture.caption %}
                <p class="vehicle-carousel-legend text-center">{{ picture.caption }}</p>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<nav id="js-carousel-navigation-vehicle" class="carousel carousel-navigation">
{% for picture in vehicle.pictures %}
    <img src="{{ picture|vehiclePicture('vehicle_mini_thumbnail') }}" alt="{{ vehicle.name ~ ' ' ~ vehicle.cityName }}">
{% else %}
    <li>
        <img src="{{ 'vehicle_mini_thumbnail'|defaultVehiclePicture }}" alt="">
        {# La légende sera reprise dans l'attribut alt de la navigation (ci-dessous et ci-dessus) #}
        {% if picture.caption %}
            <p class="vehicle-carousel-legend text-center">{{ picture.caption }}</p>
        {% endif %}
    </li>
{% endfor %}
</nav>
