{% set likeIcon = like is not null and like.value > 0?'icon-thumbs-up':'icon-thumbs-o-up' %}
<header class="vehicle-header block-grid column small-12 align-middle">
    <div class="column small-12">
        <h1 class="small-auto">{{ vehicle.name }}</h1>
        <span>
        <span class="primary-color">{{ vehicle.years }}, {{ vehicle.mileage|localizednumber }}&nbsp;km</span> &nbsp;
        {{ vehicle.cityName }}, {{ "vehicle.publish_at"|trans({"%createdAt%":vehicle.createdAt|localizeddate('short', 'none')}) }}</span>
    </div>
    <div class="block-grid column small-12 align-middle">
        <div class="small-auto">
            {% if vehicle.price is defined %}
                <h1 class="small-shrink medium-right primary-color"><strong>{{ vehicle.price|localizednumber }}&nbsp;€</strong></h1>
            {% endif %}
        </div>
        <div class="small-shrink small-centered medium-right align-self-middle">
            <a href="{{ path('front_user_like_'~vehicle.type~'_vehicle', {'id': vehicle.id }) }}" class="like {{ likeIcon }}"><sub>{{ positiveLikes|length }}</sub></a>
        </div>
    </div>
</header>
