<header class="vehicle-header block-grid column small-12 align-middle">
    <h1 class="small-12 medium-auto">{{ vehicle.name }}</h1>
    {% if isProVehicle %}
        <strong class="h1 medium-shrink medium-right primary-color">{{ vehicle.price|localizedcurrency('EUR') }}</strong>
    {% endif %}
    <p class="small-12">
        {#{{ vehicle.modelVersionName }} &nbsp;#}
        <span class="primary-color">{{ vehicle.years }}, {{ vehicle.mileage|localizednumber }}km</span> &nbsp;
        <span class="black-color">{{ vehicle.cityName }}</span>
    </p>
</header>
