<ul class="brand-list list-border block-border">
    <li class="no-margin">
        <figure class="block-grid align-middle" role="group">
            <a href="{{ path('front_view_personal_user_info', {'slug': vehicle.seller.slug}) }}" class="seller-pic">
                <img src="{{ vehicle.sellerAvatar|avatar('user_mini_thumbnail', vehicleSellerName) }}" alt="{{ vehicleSellerName }}">
            </a>
            <div>
                <a href="{{ path('front_view_personal_user_info', {'slug': vehicle.seller.slug}) }}" class="primary-color h3">
                    <b>{{ vehicleSellerName }}</b></a>
                {{ include('front/Affinity/includes/affinity_degreee_element.html.twig', {'user':vehicle.seller}) }}
                {% if isUserPro %}
                    {% set contacts = getUserContactsOfGarages(vehicle.seller, app.user.garages) %}
                    <span class="seller-contacts">
                        {% for contact in contacts|filter(c => not c.is(app.user)) %}
                            {{ include('front/User/includes/contacted_by.html.twig') }}
                        {% endfor %}
                    </span>
                {% endif %}
                <br>
                {% if isAbleToSeeFullInformation %}
                    {% if vehicle.seller.isPhoneDisplay and vehicle.seller.phone is not empty %}
                        <span class="small-auto medium-shrink">
                            {{ include('front/Garages/Detail/includes/phone_number.html.twig', {
                                'phoneOwner': vehicle.seller,
                                'phoneNumber': vehicle.seller.phone,
                                'showphone_subaction':'1',
                                'icontel': 'icon-mobile'
                            }) }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </figure>
    </li>
</ul>
