<ul class="brand-list list-border block-border">
    <li class="no-margin">
        <figure class="block-grid align-middle" role="group">
            <a href="{{ path('front_view_user_info', {'id': vehicle.seller.id}) }}" class="seller-pic">
                <img src="{{ vehicle.seller.avatar|avatar('user_mini_thumbnail') }}" alt="{{ vehicleSellerName }}">
            </a>
            <div>
                <a href="{{ path('front_view_user_info', {'id': vehicle.seller.id}) }}" class="primary-color h3"><b>{{ vehicleSellerName }}</b></a> <br>

                {% if isAbleToSeeFullInformation %}
                    {% if vehicle.seller.userProfile.phone is not empty %}
                        <span class="icon-tel primary-color"><a href="tel:{{ vehicle.seller.userProfile.phone }}" class="text-underline" target="_blank" rel="noopener noreferrer">{{ vehicle.seller.userProfile.phone }}</a></span>
                    {% endif %}
                {% elseif not isLogged %}
                    <span class="primary-color">
                        <a href="{{ path('front_view_user_info', {'id': vehicle.seller.id}) }}" class="text-underline" rel="noopener noreferrer">{{ 'global.button.more_information'|trans }}</a>
                    </span>
                {% endif %}
            </div>
        </figure>
    </li>
</ul>
