
<ul class="brand-list list-border block-border">
    <li class="no-margin">
        <figure class="block-grid align-middle" role="group">
            <span class="brand-logo {{ info.tel is defined ? 'is-logo' : '' }}"><img src="{{ vehicle.garage|logo('garage_mini_logo') }}" alt="{{ vehicle.garage.name }}"></span>
            <div>
                <a href="{{ path('front_garage_view', {'id': vehicle.garage.id}) }}" class="primary-color h3"><b>{{ vehicle.garage.name }}</b></a> <br>
                <span>{{ vehicle.garage.address.cityName }}</span>
            </div>
        </figure>
    </li>
    {% if vehicle.sellerName %}
    <li class="no-margin">
        <figure class="block-grid align-middle" role="group">
            <span class="brand-logo is-logo brand-logo-rounded"><img src="{{ vehicle.garage.seller.avatar|avatar('user_mini_thumbnail') }}" alt="{{ vehicle.sellerName }}"></span>
            <div>
                <a href="{{ path('front_view_user_info', {'id': vehicle.garage.seller.id}) }}" class="primary-color h3"><b>{{ vehicle.sellerName }}</b></a> <br>
                {% if vehicle.seller.phonePro is not empty %}
                    <span class="icon-tel primary-color">
                        <a href="tel:{{ vehicle.seller.phonePro }}" class="text-underline" target="_blank" rel="noopener noreferrer">{{ vehicle.seller.phonePro }}</a>
                    </span>
                {% endif %}
            </div>
        </figure>
    </li>
    {% endif %}
</ul>
