<h2 class="separator medium primary-color">{{ isEditableByCurrentUser?'user.project.my_project'|trans:'user.project.seller_project'|trans }}</h2>

{% if vehicle.ownerProject %}
    {% set project = vehicle.ownerProject %}
    {{ include(':front/User/includes:personal_user_project.html.twig') }}

    <div class="medium-6">
        {% if isUserPro %}
            <a href="{{ path('front_conversation_create', {'id': vehicle.seller.id, 'vehicleId': vehicle.id, '_fragment':'message-answer-block' }) }}" class="button seller-project-button">{{ 'user.project.answer'|trans }}</a>
        {% elseif isEditableByCurrentUser %}
            <a href="{{ path('front_edit_user_info_tab', {'tab':'project'}) }}" class="button seller-project-button">{{ 'user.project.edit'|trans }}</a>
        {% endif %}

    </div>
{% else %}
    {% if isEditableByCurrentUser %}
        <a href="{{ path('front_edit_user_info_tab', {'tab':'project'}) }}" class="button seller-project-button">{{ 'user.project.create'|trans }}</a>
    {% else %}
        <p class="dark-gray-color">{{ 'user.project.empty_placeholder'|trans }}</p>
    {% endif %}
{% endif %}
