{% set seller_infos_inte = [
    {
        name: 'Toyota Villeurbanne',
        image: '/assets/images/placeholders/brand/logo-toyota.png',
        city: 'Villeurbanne'
    },
    {
        name: 'Lyon Hybrid Car',
        image: '/assets/images/placeholders/user/user.png',
        tel: '00 00 00 00 00'
    }
] %}

<ul class="brand-list list-border block-border">
    {% for info in seller_infos_inte %}
        <li class="no-margin">
            <figure class="block-grid align-middle" role="group">
                <span class="brand-logo {{ info.tel is defined ? 'is-logo' : '' }}"><img src="{{ info.image }}" alt="{{ info.name }}"></span>
                <div>
                    <a href="{{ path('inte_garage_detail') }}" class="primary-color h3"><b>{{ info.name }}</b></a> <br>
                    {% if info.city is defined %}
                        <span>{{ info.city }}</span>
                    {% endif %}
                    {% if info.tel is defined %}
                        <span class="icon-tel primary-color">
                            <a href="tel:{{ info.tel }}" class="text-underline" target="_blank" rel="noopener noreferrer">{{ info.tel }}</a>
                        </span>
                    {% endif %}
                </div>
            </figure>
        </li>
    {% endfor %}
</ul>
