
<ul class="brand-list list-border block-border">
    <li class="no-margin">
        {{ include("front/Garages/Detail/includes/summary_card.html.twig", {garage: vehicle.garage})  }}
    </li>
    {% if vehicle.sellerName %}
    <li class="js-seller-infos no-margin">
        <figure class="block-grid align-middle" role="group">
            <a href="{{ path('front_view_pro_user_info', {'slug': vehicle.seller.slug}) }}" class="user-thumbnail-mini margin-right-1">
                <img src="{{ vehicle.sellerAvatar|avatar('user_mini_thumbnail', vehicle.sellerName) }}" alt="{{ vehicle.sellerName }}">
            </a>
            <div>
                <a href="{{ path('front_view_pro_user_info', {'slug': vehicle.seller.slug}) }}" class="primary-color h3">
                    <b>{{ vehicle.sellerName }}</b></a>
                {{ include('front/Affinity/includes/affinity_degreee_element.html.twig', {'user':vehicle.seller}) }}<br>
                {% if vehicle.seller.mainPhoneNumber is not empty %}
                    {{ include('front/Garages/Detail/includes/phone_number.html.twig', {
                        'phoneOwner': vehicle.seller,
                        'phoneNumber': vehicle.seller.phonePro is not empty ? vehicle.seller.phonePro : vehicle.seller.phone,
                        'showphone_subaction': vehicle.seller.phonePro is not empty ? "2" : "1",
                        'icontel': vehicle.seller.phonePro is not empty ? 'icon-tel' : 'icon-mobile'
                    }) }}
                {% endif %}
            </div>
        </figure>
    </li>
    {% endif %}
</ul>
