<h2 class="separator medium primary-color">{{ isEditableByCurrentUser?'user.project.my_project'|trans:'user.project.seller_project'|trans({'%seller_firstname%':vehicle.seller.firstname}) }}</h2>

{% set project = vehicle.ownerProject %}
{% if project is not null and (project.budget is not null or project.projectVehicles|length>0 or project.description|length>0) %}
    {{ include(':front/User/includes:personal_user_project.html.twig') }}

    <div class="medium-6 medium-offset-3">
        {% if isEditableByCurrentUser %}
            <a href="{{ path('front_edit_user_project') }}" class="button seller-project-button">{{ 'user.project.edit'|trans }}</a>
        {% else %}
            <a href="{{ path('front_conversation_create', {'id': vehicle.seller.id, 'vehicleId': vehicle.id, '_fragment':'message-answer-block' }) }}" class="button seller-project-button">{{ 'user.project.answer'|trans }}</a>
        {% endif %}
    </div>
{% else %}
    <div class="medium-6 medium-offset-3">
        {% if isEditableByCurrentUser %}
            <a href="{{ path('front_edit_user_project') }}" class="button seller-project-button">{{ 'user.project.create'|trans }}</a>
        {% else %}
            <a href="{{ path('front_conversation_create', {'id': vehicle.seller.id, 'vehicleId': vehicle.id, '_fragment':'message-answer-block' }) }}"
               class="button seller-project-button" id="launchMP{{ vehicle.seller.isPro?"pro":"particulier" }}{{ vehicle.seller.id }}">
                {{ 'global.button.send_message'|trans }}</a>
        {% endif %}
    </div>
{% endif %}

{% set sellerLikes = vehicle.seller.positiveLikes %}
{% if sellerLikes|length > 0 %}
    <h3 class=""><strong class="primary-color">{{ isEditableByCurrentUser?'user.project.favorites.owner'|trans:'user.project.favorites.title'|trans({'%user_firstname%': vehicle.seller.firstname}) }}</strong></h3>
    <div class="row">
        {% include ':front/Favorites/includes:list.html.twig' with {'likeToList':sellerLikes} %}
    </div>
{% endif %}


