{% set likeIcon = like is not null and like.value > 0?'icon-thumbs-up':'icon-thumbs-o-up' %}
{% set likeButtonLabel = like is not null and like.value > 0?'global.button.dislike':'global.button.like_vehicle' %}
{#{% set likeButtonLabelShort = like is not null and like.value > 0?'global.button.dislike':'global.button.like' %}#}

<div class="js-vehicle-actions vehicle-editing block-grid small-12">
    <span class="column small-collapse small-6 large-12 large-uncollapse">
        <a href="{{ path('front_conversation_create',{'id':vehicle.seller.id, 'vehicleId':vehicle.id, '_fragment':'message-answer-block'}) }}"
           data-wt-action="LM" data-wt-from="{{ app.user|wtUserDataAttrValue }}" data-wt-to="{{ vehicle.seller|wtUserDataAttrValue }}"
           class="button add large-m-b-1 icon-message">{{ 'global.button.send_message'|trans }}</a>
    </span>
    {#<span class="column small-collapse small-4 large-12 large-uncollapse">
        {{ include(':front/Garages/Detail/includes:phone_number.html.twig', {
            'phoneNumber_eventId': '',
            'phoneNumber': vehicle.seller.mainPhoneNumber,
            'buttonClass': 'show-for-large add large-m-b-1 full-width',
            'contentClass': 'align-center'
        }) }}
        <a href="tel:{{ vehicle.seller.mainPhoneNumber }}" class="hide-for-large button add icon-message">{{ 'global.button.call'|trans }}</a>
    </span>#}
    <span class="column small-collapse small-6 large-12 large-uncollapse">
        <a href="{{ path('front_user_like_'~vehicle.type~'_vehicle', {'slug': vehicle.slug }) }}" class="button reverse like like-button {{ likeIcon }}">{{ likeButtonLabel|trans }}</a>
            {#<span class="show-for-large">{{ likeButtonLabel|trans }}</span>
            <span class="hide-for-large">{{ likeButtonLabelShort|trans }}</span>
        </a>#}
    </span>
</div>
