{% set likeIcon = like is not null and like.value > 0?'icon-thumbs-up':'icon-thumbs-o-up' %}
{% set likeButtonLabel = like is not null and like.value > 0?'global.button.dislike':'global.button.like_vehicle' %}

<div class="vehicle-editing block-grid small-12">
    <span class="column small-collapse small-6 large-12 large-uncollapse">
        <a href="{{ path('front_conversation_create',{'id':vehicle.seller.id, 'vehicleId':vehicle.id, '_fragment':'message-answer-block'}) }}" class="button add large-m-b-1 icon-message">{{ 'global.button.send_message'|trans }}</a>
    </span>
    <span class="column small-collapse small-6 large-12 large-uncollapse">
        <a href="{{ path('front_user_like_'~vehicle.type~'_vehicle', {'id': vehicle.id }) }}" class="button reverse like like-button {{ likeIcon }}">{{ likeButtonLabel|trans }}</a>
    </span>
</div>
