{% set balise = balise|default('h2') %}

{% set detailUrl = isProVehicles?path('front_vehicle_pro_detail', {'id': vehicle.id}):path('front_vehicle_personal_detail', {'id': vehicle.id}) %}

<article class="vehicle-item is-flex">

    <a href="{{ detailUrl }}" class="is-flex full-width">

        {% if isProVehicles %}
            <div class="js-like like"><span data-tooltip=""></span></div>
        {% endif %}
        <div class="vehicle-picture medium-auto">
            <div class="is-relative">
                <img src="{{ vehicle.mainPicture|vehiclePicture('vehicle_thumbnail') }}" alt="{{ vehicle.name }}">
                <div class="vehicle-count-pics">
                    <span class="icon-pics">{{ vehicle.pictures|length }}</span>
                </div>
            </div>
        </div>
        <div class="vehicle-infos small-shrink">
            {# TODO : Utiliser un trucate sur vehicle.name à 22 #}
            <{{ balise }} class="vehicle-name h3">{{ vehicle.name }}</{{ balise }}>
            <p class="vehicle-model">{#{{ vehicle.modelName }}#}</p>
            <span class="vehicle-years body-font-color">{{ vehicle.years }}, {{ vehicle.mileage|localizednumber }}km</span>
            {# TODO : Utiliser un trucate sur vehicle.city à 16 #}
            <div class="vehicle-bottom block-grid full-width align-middle">
                <span class="vehicle-city primary-color small-12">{{ vehicle.cityName }}</span>
                <time class="vehicle-time black-color small-auto">{{ vehicle.createdAt|localizeddate(format = "d MMM, HH'h'mm") }}</time>
                {% if isProVehicles %}<strong class="vehicle-price small-shrink">{{ vehicle.price|localizednumber }} €</strong>{% endif %}
            </div>
        </div>
    </a>
</article>
