{% set balise = balise|default('h2') %}

<article class="vehicle-item is-flex">
    <a href="{{ path('front_vehicle_pro_detail', {'id': vehicle.id}) }}" class="is-flex full-width">
        <div class="js-like like"><span data-tooltip=""></span></div>
        <div class="vehicle-picture medium-auto">
            <div class="is-relative">
                <img src="{{ asset('assets/images/placeholders/vehicle/vehicle-default.jpg') }}" alt="{{ vehicle.name }}">
            </div>
        </div>
        <div class="vehicle-infos small-shrink medium-auto">
            {# TODO : Utiliser un trucate sur vehicle.name à 22 #}
            <{{ balise }} class="vehicle-name h3">{{ vehicle.name }}</{{ balise }}>
            <p class="vehicle-model">{{ vehicle.modelName }}</p>
            <span class="vehicle-years body-font-color">{{ vehicle.years }}, {{ vehicle.mileage }}</span>
            {# TODO : Utiliser un trucate sur vehicle.city à 16 #}
            <div class="vehicle-bottom block-grid full-width align-middle">
                <span class="vehicle-city black-color small-12">{{ vehicle.cityName }}</span>
                <time class="vehicle-time black-color small-auto">{{ vehicle.createdAt|localizeddate('none', 'none', null, null, "d MMM, H'h'm") }}</time>
                {% if not search_result %}
                    <strong class="vehicle-price small-shrink">{{ vehicle.price }}</strong>
                {% endif %}
            </div>
        </div>
    </a>
</article>
