{% set balise = balise|default('h2') %}
{# Exemple inté #}
{% set like = index == 'ds3' ? 'Supprimer des favoris' : 'Ajouter aux favoris' %}

<article class="vehicle-item is-flex">
    <a href="{{ path('front_seller_card') }}" class="js-like like {{ index == 'ds3' ? 'is-active' : '' }}"><span data-tooltip="{{ like }}">{{ like }}</span></a>
    <a href="{{ path('front_seller_card') }}" class="vehicle-picture"><img src="{{ asset(vehicle.picture) }}" alt="{{ vehicle.name }}"></a>
    <figcaption class="vehicle-infos">
        <span class="vehicle-brand">{{ vehicle.brand }}</span>
        {# TODO : Utiliser un trucate sur vehicle.name à 22 #}
        <a href="{{ path('front_seller_card') }}"><{{ balise }} class="vehicle-name">{{ vehicle.name }}</{{ balise }}></a>
        <p class="vehicle-model no-margin">{{ vehicle.model }}</p>
        <span class="vehicle-years primary-color" style="margin-top: auto">{{ vehicle.years }}, {{ vehicle.km }}</span>
        {# TODO : Utiliser un trucate sur vehicle.city à 16 #}
        <span class="vehicle-city black-color is-block">{{ vehicle.city }}</span>
        <strong class="vehicle-price">{{ vehicle.price }}</strong>
    </figcaption>
</article>
