{% set balise = balise|default('h2') %}
{% set like = app.user?vehicle.getLikeOfUser(app.user):null %}

{% set likeIcon = like is not null and like.value > 0?'icon-thumbs-up':'icon-thumbs-o-up' %}
{% set detailUrl = (vehicle.type == constant('Wamcar\\Vehicle\\ProVehicle::TYPE'))?path('front_vehicle_pro_detail', {'id': vehicle.id}):path('front_vehicle_personal_detail', {'id': vehicle.id}) %}

<article class="vehicle-item is-flex">
    <div class="is-flex full-width is-relative">
        <div class="vehicle-picture small-auto">
            <div class="is-relative"  id="{{ vehicle.id }}">
                <a href="{{ detailUrl }}">
                    <img src="{{ vehicle.mainPicture|vehiclePicture('vehicle_thumbnail') }}" alt="{{ vehicle.name }}">
                </a>
                <div class="vehicle-count-pics">
                    <span class="icon-pics">{{ vehicle.pictures|length }}</span>
                </div>
            </div>
        </div>
        <div class="vehicle-infos small-shrink">
            <a href="{{ detailUrl }}"><{{ balise }} class="vehicle-name h3">{{ vehicle.name }}</{{ balise }}></a>
            <span class="vehicle-years body-font-color">{{ vehicle.years }}, {{ vehicle.mileage|localizednumber }}km</span>

            <div class="vehicle-middle block-grid full-width">
                <strong class="vehicle-price primary-color">{% if vehicle.price is defined %}{{ vehicle.price|localizednumber }} €{% else %}&nbsp;{% endif %}</strong>
                <a class="vehicle-like small-shrink" href="{{ path('front_user_like_'~vehicle.type ~'_vehicle', {'id': vehicle.id, '_fragment':vehicle.id}) }}">
                    <span class="like {{ likeIcon }}"><sub>{{ vehicle.positiveLikes|length }}</sub></span>
                </a>
            </div>
            <div class="vehicle-bottom block-grid full-width align-middle">
                <span class="vehicle-city primary-color small-12">{{ vehicle.cityName }}</span>
                <time class="vehicle-time black-color small-auto">{{ "vehicle.publish_at"|trans({'%createdAt%':vehicle.createdAt.date|localizeddate(format = "d MMM, HH'h'mm")}) }}</time>
            </div>
        </div>
    </div>

    {% block seller_block %}{% endblock %}
</article>
