{% set balise = balise|default('h2') %}
{% set detailUrl = detailUrl|default(vehicle.isPro?path('front_vehicle_pro_detail', {'slug': vehicle.slug}):path('front_vehicle_personal_detail', {'slug': vehicle.slug})) %}
{% set detailUrlTarget = detailUrlTarget|default('_self') %}

{% set like = app.user?vehicle.getLikeOfUser(app.user):null %}
{% set likeIcon = like is not null and like.value > 0?'icon-thumbs-up':'icon-thumbs-o-up' %}
{% set wtLikeDataAttr = wtLikeDataAttributes(app.user, like, vehicle) %}
{% set ajax_like = ajax_like|default(false) %}


<article class="peexeo-vehicle-item column" id="{{ vehicle.id }}">
    <div class="white-bg block-light-shadow block-border-without-padding">
        <div class="full-width is-relative" >
            <a href="{{ detailUrl }}" target="{{ detailUrlTarget }}">
                <img src="{{ vehicle.mainPicture|vehiclePicture('vehicle_thumbnail') }}" alt="{{ vehicle.name }}"
                     class="peexeo-vehicle-item-picture full-width">
            </a>
            <div class="vehicle-count-pics">
                <span class="icon-pics">{{ vehicle.pictures|length }}</span>
            </div>
        </div>

        <div class="peexeo-vehicle-item-info column">
            <a href="{{ detailUrl }}" target="{{ detailUrlTarget }}">
                <{{ balise }} class="peexeo-vehicle-name {{ vehicle.isPro and vehicle.suggestedSellers(false,null)|length == 0 ? "icon-warning2" }}"
                    {% if vehicle.isPro and vehicle.suggestedSellers(false,null)|length == 0 %}title="Pas de vendeur"{% endif %}>
                    {{ vehicle.make|vehicleMakeFormat('make') }} {{ vehicle.modelName|vehicleModelFormat('model') }}
                </{{ balise }}>
            </a>
            <a href="{{ detailUrl }}" target="{{ detailUrlTarget }}" class="vehicle-years dark-gray-blue-peexeo-color">{{ vehicle.years }}&nbsp;-&nbsp;{{ vehicle.mileage|localizednumber }}km</a>

            <div class="vehicle-middle block-grid is-relative">
                <a  href="{{ detailUrl }}" target="{{ detailUrlTarget }}" class="vehicle-price red-peexeo-color">
                    {% if vehicle.price is defined %}{{ vehicle.price|localizednumber }} €{% else %}&nbsp;{% endif %}</a>

                <span class="vehicle-like small-shrink">
                    {% block right_action %}
                        {% if ajax_like %}
                            <a data-href="{{ path('front_ajax_user_like_'~vehicle.type ~'_vehicle', {'slug': vehicle.slug}) }}"
                               class="like {{ likeIcon }} js-like" {{ wtLikeDataAttr|raw }}><sub {{ wtLikeDataAttr|raw }}>{{ vehicle.positiveLikes|length }}</sub></a>
                        {% else %}
                            <a href="{{ path('front_user_like_'~vehicle.type ~'_vehicle', {'slug': vehicle.slug, '_fragment':vehicle.id}) }}"
                               class="like {{ likeIcon }}" {{ wtLikeDataAttr|raw }}><sub {{ wtLikeDataAttr|raw }}>{{ vehicle.positiveLikes|length }}</sub></a>
                        {% endif %}
                    {% endblock %}
                </span>
            </div>

            <a class="vehicle-bottom block-grid" href="{{ detailUrl }}" target="{{ detailUrlTarget }}">
                <span class="peexeo-vehicle-city black-color small-12">{{ vehicle.cityPostalCodeAndName|upper }}</span>
                <time class="vehicle-time dark-gray-blue-peexeo-color small-auto">
                    <span class="hide-for-large">{{ vehicle.createdAt.date|localizeddate(format = "d MMM, HH'h'mm") }}</span>
                    <span class="show-for-large">{{ "vehicle.publish_at"|trans({'%createdAt%':vehicle.createdAt.date|localizeddate(format = "d MMM YYYY, HH'h'mm")}) }}</span>
                </time>
            </a>
        </div>
    </div>
</article>