{{ form_start(scriptSequenceForm, {
    'action': path('front_coachingvideo_scriptversion_sequence_edit', {'id': scriptSequence.id}),
    'attr' : { 'class': formClass|default('row'), 'data-abide' : '', 'novalidate': 'novalidate'}
}) }}

    {% set sectionType = scriptSequence.scriptSection.type %}

    {{ form_widget(scriptSequenceForm.dialogue, {
        'label' : sectionType.dialogueLabel is defined and sectionType.dialogueLabel is not empty? sectionType.dialogueLabel : 'coaching_video.script_sequences.form.field.dialogue.label'|trans,
        'placeholder' : sectionType.dialoguePlaceholder is defined and sectionType.dialoguePlaceholder is not empty ? sectionType.dialoguePlaceholder,
        'required' : false,
        'required_class': 'show-for-sr'
    }) }}
    {{ form_widget(scriptSequenceForm.scene, {
        'label' : sectionType.sceneLabel is defined and sectionType.sceneLabel is not empty ? sectionType.sceneLabel : 'coaching_video.script_sequences.form.field.scene.label'|trans,
        'placeholder' : sectionType.scenePlaceholder is defined and sectionType.scenePlaceholder is not empty ? sectionType.scenePlaceholder,
        'required' : false,
        'required_class': 'show-for-sr'
    }) }}
    {{ form_widget(scriptSequenceForm.shot, {
        'label' : sectionType.shotLabel is defined and sectionType.shotLabel is not empty ? sectionType.shotLabel : 'coaching_video.script_sequences.form.field.shot.label'|trans,
        'placeholder' : sectionType.shotPlaceholder is defined and sectionType.shotPlaceholder is not empty ? sectionType.shotPlaceholder,
        'required' : false,
        'required_class': 'show-for-sr'
    }) }}

    {{ form_rest(scriptSequenceForm) }}

    <div class="columns small-12 right">
        <button type="submit" class="button primary-button full-width">{{ 'global.button.validate'|trans }}</button>
    </div>
{{ form_end(scriptSequenceForm) }}