{% extends 'front/Layout/layout.html.twig' %}

{% if app.user and vehicle.seller.id == app.user.id %}
    {% set page_garage = true %}
{% else %}
    {% set page_search = true %}
{% endif %}

{# Integration data #}
{#{% set isEditableByCurrentUser = true %}
{% set vehicle = inte.vehicle['golf-2-tdi'] %}
{% set isProVehicles = true %}#}

{% block mainClass %}medium-no-padding-top{% endblock %}

{% block title %}{{ vehicle.name }}{% endblock %}

{% block body %}
    {% if isUserPro and isEditableByCurrentUser %}
        {% set breadcrumbs = [
            {
                'name': 'garage.my_garage'|trans,
                'href': path('front_garage_view', {'id': vehicle.garage.id})
            },
            {
                'name': block('title'),
                'href': app.request.requestUri
            }
        ] %}
    {% else %}
        {% set breadcrumbs = [
            {
                'name': vehicle.garage.name,
                'href': path('front_garage_view', {'id': vehicle.garage.id})
            },
            {
                'name': block('title'),
                'href': app.request.requestUri
            }
        ] %}
{% endif %}


<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Person",
    "name" : "{{ vehicle.sellerName }}",
    "makesOffer" : {
            "@type" :"Offer",
            "priceSpecification" : {
                "@type" : "UnitPriceSpecification",
                "priceCurrency" : "EUR",
                "price" : "{{ vehicle.price }}" },
            "itemOffered" : {
                "@type" : "Car",
                "name" : "{{ vehicle.name }}",
                "description" : "{{ vehicle.additionalInformation|raw }}",
            "image" : "",
            "vehicleEngine" : {
                "@type": "EngineSpecification",
                "name" : "{{ vehicle.modelName }}"
                }
            }
        }
    }

</script>

{% include 'front/Layout/includes/breadcrumb.html.twig' %}

<div class="l-main-container vehicle-pro">
    <div class="row">

        <section class="small-12 large-7 xlarge-8">
            <div class="small-12">
                {% include 'front/Vehicle/Detail/includes/header.html.twig' %}
                <div class="column small-collapse large-uncollapse">
                    {% include 'front/Vehicle/Detail/includes/carousel.html.twig' %}
                </div>
            </div>
        </section>

        <aside id="js-move-vehicle-aside" class="vehicle-aside-container small-12 large-5 xlarge-4" aria-hidden="true">
            <div id="js-vehicle-aside" class="vehicle-aside block-grid small-12">
                <div class="column small-12 medium-6 large-12">
                    {% include 'front/Vehicle/Detail/includes/seller_infos.html.twig' %}
                </div>
                {# TODO not implemented feature ==> hidden #}
                {% if false and isEditableByCurrentUser %}
                    <div class="column small-12 medium-6 large-12">
                        {% include 'front/Vehicle/Detail/includes/interested_user.html.twig' %}
                    </div>
                {% endif %}
                <div class="small-12 large-order-3">
                    {% if isEditableByCurrentUser %}
                        {% include 'front/Vehicle/Detail/includes/user_editing.html.twig' %}
                    {% elseif isLogged %}
                        {% include 'front/Vehicle/Detail/includes/user_personal_message_favoris.html.twig' %}
                    {% elseif not isLogged %}
                        {% include 'front/Vehicle/Detail/includes/user_not_logged_message.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </aside>

        <section class="small-12 xlarge-8">
            <div class="vehicle-detail block-grid small-12">
                <div class="column small-12 small-collapse xlarge-uncollapse is-sticky">
                    {% include 'front/Vehicle/Detail/includes/magellan.html.twig' %}
                </div>
                <div class="separator-section wysiwyg dark-gray-color column small-12 large-10 xlarge-12" id="js-description" data-magellan-target="js-description">
                    {% include 'front/Vehicle/Detail/includes/description.html.twig' %}
                </div>
                <div class="separator-section column small-12" id="js-infos" data-magellan-target="js-infos">
                    {% include 'front/Vehicle/Detail/includes/infos.html.twig' %}
                </div>
                <div class="separator-section column small-12" id="js-state" data-magellan-target="js-state">
                    {% include 'front/Vehicle/Detail/includes/state.html.twig' %}
                </div>
                <div class="separator-section column small-12 medium-6 xlarge-12" id="js-guarantees"
                     data-magellan-target="js-guarantees">
                    {% include 'front/Vehicle/Detail/includes/guarantees.html.twig' %}
                </div>
                <div class="separator-section column small-12 medium-6 xlarge-12" id="js-funding"
                     data-magellan-target="js-funding">
                    {% include 'front/Vehicle/Detail/includes/funding.html.twig' %}
                </div>
                <div class="separator-section column small-12 medium-6 xlarge-12" id="js-associate"
                     data-magellan-target="js-associate">
                    {% include ':front/Vehicle/Detail/includes:list_vehicles.html.twig' with {'listVehicles': vehicle.garage.proVehicles, 'title': 'Autres véhicules de ce garage'} %}
                    <a href="{{ path('front_garage_view', {'id': vehicle.garage.id}) }}" class="button small-12 medium-8 large-7 full-width">Voir tous les véhicules de ce garage</a>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock body %}

{% block modal %}
    {% include 'front/Vehicle/Detail/includes/modal_remove_vehicle.html.twig' %}
{% endblock %}
