{% extends 'front/Layout/layout.html.twig' %}

{% if app.user and vehicle.seller.id == app.user.id %}
    {% set page_garage = true %}
{% else %}
    {% set page_search = true %}
{% endif %}

{% set vehiclesToList = vehicle.garage.getProVehicles(4, vehicle) %}
{% set state_block %}
    {%- include 'front/Vehicle/Detail/includes/state.html.twig' -%}
{% endset %}

{% block mainClass %}medium-no-padding-top{% endblock %}

{% block title %}
    {{ 'vehicle.detail.pro.title'|trans({
        '%vehicleName%': vehicle.make|vehicleMakeFormat('make') ~ ' ' ~ vehicle.modelName|vehicleModelFormat('model'),
        '%vehicleCityName%':vehicle.cityName|upper,
        '%vehicleStatus%':vehicle.status|trans({},'enumeration'),
        '%vehicleYear%':vehicle.years
    }) }}
{% endblock %}
{%- block meta_description %}
    {% if vehicle.discount is not null %}
        {{ 'vehicle.detail.pro.meta_description.discount'|trans({'%vehicleDiscount%':vehicle.discount}) }}
    {% else %}
        {{ 'vehicle.detail.pro.meta_description.vehicle'|trans }}
    {% endif %}
    {{ vehicle.fuelName|lower}} {{ vehicle.transmission|trans({}, 'enumeration')|lower }}
    {{ 'vehicle.detail.pro.meta_description.price'|trans({'%vehiclePrice%':vehicle.price}) }}
    {{ 'vehicle.detail.pro.meta_description.published_at'|trans({'%publishedAt%':vehicle.createdAt|localizeddate('short', 'none')}) }}
{% endblock -%}
{% block og_type %}article{% endblock %}

{% set seo_img_url = vehicle.pictures|length>0?vehicle.mainPicture|vehiclePicture('vehicle_picture'):'vehicle_placeholder_picture'|defaultVehiclePicture %}
{%- block seo_img_block %}
    {% for picture in vehicle.pictures %}
        <meta name="og:image" content="{{ picture|vehiclePicture('vehicle_picture') }}">
    {% else %}
        <meta name="og:image" content="{{ 'vehicle_placeholder_picture'|defaultVehiclePicture }}">
    {% endfor %}
{% endblock -%}

{% block additional_meta %}
    <meta property="article:published_time" content="{{ vehicle.createdAt|date('c') }}">{# datetime ISO 8601#}
    <meta property="article:modified_time" content="{{ vehicle.updatedAt|date('c') }}">{# datetime ISO 8601#}
{% endblock additional_meta %}

{% block body %}
    {% set breadcrumbs = [
        {
            'name': vehicle.garage.name,
            'href': path('front_garage_view', {'slug': vehicle.garage.slug})
        },
        {
            'name': vehicle.name,
            'href': app.request.requestUri
        }
    ] %}

    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Person",
    "name" : "{{ vehicle.sellerName }}",
    "makesOffer" : {
            "@type" :"Offer",
            "priceSpecification" : {
                "@type" : "UnitPriceSpecification",
                "priceCurrency" : "EUR",
                "price" : "{{ vehicle.price }}" },
            "itemOffered" : {
                "@type" : "Car",
                "name" : "{{ vehicle.make|vehicleMakeFormat('make') }} {{ vehicle.modelName|vehicleModelFormat('model') }}",
                {# Ne pas mettre de quote autour : ajouter par le json_encode + raw #}
                "description" : {{ vehicle.additionalInformation|json_encode|raw }},
            "image" : "",
            "vehicleEngine" : {
                "@type": "EngineSpecification",
                "name" : "{{ vehicle.modelName }}"
                }
            }
        }
    }

    </script>

    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    <div class="l-main-container vehicle-pro">
        <div class="row">
            <section class="small-12 large-7 xlarge-8">
                <div class="small-12">
                    {% include 'front/Vehicle/Detail/includes/header.html.twig' %}
                    <div class="column small-collapse large-uncollapse">
                        {% include 'front/Vehicle/Detail/includes/carousel.html.twig' with {
                            'carouselId':'js-carousel-vehicle',
                            'carouselClass':'',
                            'carouselNavigationId' :'js-carousel-navigation-vehicle',
                            'modalIdToOpen':'js-modal-carousel-vehicle'
                        } %}
                    </div>
                </div>
            </section>

            <aside id="js-move-vehicle-aside" class="vehicle-aside-container small-12 large-5 xlarge-4" aria-hidden="true">
                <div id="js-vehicle-aside" class="vehicle-aside block-grid small-12">
                    <div class="column small-12 medium-10 medium-offset-1 large-12 large-offset-0">
                        {% include 'front/Vehicle/Detail/includes/seller_infos.html.twig' %}
                    </div>
                    <div class="small-12 large-order-3">
                        {% if isEditableByCurrentUser %}
                            {% include 'front/Vehicle/Detail/includes/user_editing.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </aside>

            <section class="small-12 xlarge-8">
                <div class="vehicle-detail block-grid small-12">
                    <div class="column small-12 small-collapse xlarge-uncollapse is-sticky">
                        {% include 'front/Vehicle/Detail/includes/magellan.html.twig' %}
                    </div>
                    {% if vehicle.additionalInformation|trim|length > 0 %}
                        <div class="separator-section wysiwyg dark-gray-color column small-12 large-10 xlarge-12" id="js-additional-information" data-magellan-target="js-additional-information">
                            {% include 'front/Vehicle/Detail/includes/additionalInformations.html.twig' %}
                        </div>
                    {% endif %}
                    <div class="separator-section column small-12" id="js-infos" data-magellan-target="js-infos">
                        {% include 'front/Vehicle/Detail/includes/infos.html.twig' %}
                    </div>
                    {% if state_block is not empty %}
                        <div class="separator-section column small-12" id="js-state" data-magellan-target="js-state">
                            <h2 class="separator medium primary-color">{{ 'vehicle.section.states.title'|trans }}</h2>
                            <ul class="vehicle-infos-list list-border tiny no-bullet no-margin">
                                {{ state_block }}
                            </ul>
                        </div>
                    {% endif %}
                    {% if vehicle.guarantee or vehicle.otherGuarantee %}
                        <div class="separator-section column small-12 medium-6 xlarge-12" id="js-guarantees" data-magellan-target="js-guarantees">
                            {% include 'front/Vehicle/Detail/includes/guarantees.html.twig' %}
                        </div>
                    {% endif %}
                    {% if vehicle.funding or vehicle.otherFunding or vehicle.catalogPrice or vehicle.discount %}
                        <div class="separator-section column small-12 medium-6 xlarge-12" id="js-funding" data-magellan-target="js-funding">
                            {% include 'front/Vehicle/Detail/includes/funding.html.twig' %}
                        </div>
                    {% endif %}
                    {% if vehicle.additionalServices|trim|length > 0 %}
                        <div class="separator-section wysiwyg dark-gray-color column small-12 large-10 xlarge-12">
                            {% include 'front/Vehicle/Detail/includes/additionalServices.html.twig' %}
                        </div>
                    {% endif %}
                    {% if positiveLikes.all|length > 0 %}
                        <div class="separator-section column small-12" id="js-interested_users" data-magellan-target="js-interested_users">
                            {% include 'front/Vehicle/Detail/includes/interested_user.html.twig' %}
                        </div>
                    {% endif %}
                    {% if vehiclesToList|length > 0 %}
                        <div class="separator-section column small-12" id="js-associate" data-magellan-target="js-associate">
                            <h2 class="separator medium primary-color">{{ isEditableByCurrentUser?'vehicle.section.other_vehicle.title.owner'|trans:'vehicle.section.other_vehicle.title.pro'|trans }}</h2>
                            {% include ':front/Vehicle/Detail/includes:list_vehicles.html.twig' with {'vehiclesToList': vehiclesToList} %}
                            <br>
                            <a href="{{ path('front_garage_view', {'slug': vehicle.garage.slug}) }}" class="button small-12 medium-8 large-7 full-width">{{ 'vehicle.section.other_vehicle.button.garage'|trans }}</a>
                        </div>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
    {% if contactForm is not null %}
        {{ include('front/Seller/includes/prouser_contact_form.html.twig', {
            'user': vehicle.seller,
            'form_class':'form-compact',
            'responsiveDomDestination':'.js-seller-infos',
            'responsiveDomAppendTo':true
        }) }}
    {% endif %}
{% endblock body %}

{% block modal %}
    {% if isEditableByCurrentUser %}
        {% include 'front/Vehicle/Detail/includes/modal_remove_vehicle.html.twig' %}
    {% endif %}
    {% include 'front/Vehicle/Detail/includes/modal_carousel.html.twig' %}
{% endblock %}
