{% extends 'front/Layout/layout.html.twig' %}

{% set vehiclesToList = vehicle.garage.getProVehicles(4, vehicle) %}
{% set state_block %}
    {%- include 'front/Vehicle/Detail/includes/state.html.twig' -%}
{% endset %}

{% block mainClass %}medium-no-padding-top light-gray-peexeo-bg{% endblock %}

{% block title %}
    {{ 'vehicle.detail.pro.title'|trans({
        '%vehicleName%': vehicle.make|vehicleMakeFormat('make') ~ ' ' ~ vehicle.modelName|vehicleModelFormat('model'),
        '%vehicleCityName%':vehicle.cityName|upper,
        '%vehicleStatus%':vehicle.status|trans({},'enumeration'),
        '%vehicleYear%':vehicle.years
    }) }}
{% endblock %}
{%- block meta_description %}
    {% if vehicle.discount is not null %}
        {{ 'vehicle.detail.pro.meta_description.discount'|trans({'%vehicleDiscount%':vehicle.discount}) }}
    {% else %}
        {{ 'vehicle.detail.pro.meta_description.vehicle'|trans }}
    {% endif %}
    {{ vehicle.fuelName|lower}} {{ vehicle.transmission|trans({}, 'enumeration')|lower }}
    {{ 'vehicle.detail.pro.meta_description.price'|trans({'%vehiclePrice%':vehicle.price}) }}
    {{ 'vehicle.detail.pro.meta_description.published_at'|trans({'%publishedAt%':vehicle.createdAt|localizeddate('short', 'none')}) }}
{% endblock -%}
{% block og_type %}article{% endblock %}

{% set seo_img_url = vehicle.pictures|length>0?vehicle.mainPicture|vehiclePicture('vehicle_picture'):'vehicle_placeholder_picture'|defaultVehiclePicture %}
{%- block seo_img_block %}
    {% for picture in vehicle.pictures %}
        <meta name="og:image" content="{{ picture|vehiclePicture('vehicle_picture') }}">
    {% else %}
        <meta name="og:image" content="{{ 'vehicle_placeholder_picture'|defaultVehiclePicture }}">
    {% endfor %}
{% endblock -%}

{% block additional_meta %}
    <meta property="article:published_time" content="{{ vehicle.createdAt|date('c') }}">{# datetime ISO 8601#}
    <meta property="article:modified_time" content="{{ vehicle.updatedAt|date('c') }}">{# datetime ISO 8601#}
{% endblock additional_meta %}

{% block body %}
    {% set breadcrumbs = [
        {
            'name': vehicle.garage.name,
            'href': path('front_garage_view', {'slug': vehicle.garage.slug})
        },
        {
            'name': vehicle.name,
            'href': app.request.requestUri
        }
    ] %}

    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    <div class="row peexeo-vehicle">
        {% set likeIcon = like is not null and like.value > 0?'icon-thumbs-up':'icon-thumbs-o-up' %}
        {% set wtLikeDataAttr = wtLikeDataAttributes(app.user, like, vehicle) %}

        {# Left Column #}
        <div class="column small-12 large-7 xlarge-8">
            {% include 'front/Vehicle/Detail/includes/header_title.html.twig' %}
            {% include 'front/Vehicle/Detail/includes/header_price.html.twig' %}
            {% include 'front/Vehicle/Detail/includes/header_subtitle.html.twig' %}

            {# Carousel #}
            <section class="vehicle-carousel">
                {% include 'front/Vehicle/Detail/includes/carousel.html.twig' with {
                    'carouselId':'js-carousel-vehicle',
                    'carouselClass':'',
                    'carouselNavigationId' :'js-carousel-navigation-vehicle',
                    'modalIdToOpen':'js-modal-carousel-vehicle'
                } %}
            </section>
            {# END Carousel #}

            {# Seller info & contact #}
            <div id="js-aside-content-selledby" class="vehicle-selled-by">
                <strong>{{ "vehicle.selled_by"|trans }}</strong>
            </div>
            <div id="js-aside-content-seller-item" class="vehicle-seller-item">
                {% if suggestedSellers|length == 1 %}
                    {% include 'front/Vehicle/Detail/includes/seller_pro_item.html.twig' with {
                        'itemClass' : 'block-light-shadow',
                        'seller' : (suggestedSellers|first).seller,
                        'compact' : true,
                        'garage': vehicle.garage
                    } %}
                {% elseif suggestedSellers|length > 1 %}
                    <div class="suggested-sellers-tabs white-bg block-light-shadow">
                        <div class="tabs-content" data-tabs-content="suggested-sellers-tabs">
                            {% for scoreSeller in suggestedSellers %}
                                <div class="tabs-panel {{ activeSuggestedSeller.id == scoreSeller.seller.id ? 'is-active' }}" id="js-seller-{{ scoreSeller.seller.id }}">
                                    {% include 'front/Vehicle/Detail/includes/seller_pro_item.html.twig' with {
                                        'itemClass' : '',
                                        'seller' : scoreSeller.seller,
                                        'compact' : true,
                                        'garage': vehicle.garage
                                    } %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="suggested-sellers-indication">{{ 'vehicle.select_sellers'|trans }}</div>
                        <ul class="tabs seller-contacts" data-tabs id="suggested-sellers-tabs">
                        {% for scoreSeller in suggestedSellers %}
                            <li class="tabs-title {{ activeSuggestedSeller.id == scoreSeller.seller.id ? 'is-active' }}"
                                data-targets="#js-contact-form-mobile-button-{{ scoreSeller.seller.id }},#js-contact-form-container-{{ scoreSeller.seller.id }}">
                                <a class="avatar-medium" href="#js-seller-{{ scoreSeller.seller.id }}" {% if activeSuggestedSeller.id == scoreSeller.seller.id %}aria-selected="true"{% endif %}
                                    data-href="{{ path('front_vehicle_pro_seller_select', {'provehicle_slug':vehicle.slug, 'seller_id': scoreSeller.seller.id }) }}">
                                    <img src="{{ scoreSeller.seller.avatar|avatar('user_mini_thumbnail', scoreSeller.seller.fullName) }}"
                                    alt="{{ scoreSeller.seller.fullName }}">
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if isEditableByCurrentUser %}
                    {% include 'front/Vehicle/Detail/includes/user_editing.html.twig' %}
                {% endif %}
            </div>
            {# END Seller info & contact #}

            {# Description #}
            {% if vehicle.additionalInformation|trim|length > 0 %}
                <div class="section-vehicle wysiwyg" id="js-additional-information">
                    <div class="block-light-shadow">
                        {% include 'front/Vehicle/Detail/includes/additionalInformations.html.twig' with {
                            'titleClass' : 'is-breaking-word'
                        } %}
                    </div>
                </div>
            {% endif %}
            {# END Description #}

            {# Main information #}
            <div class="section-vehicle wysiwyg" id="js-infos">
                <div class="block-light-shadow">
                    {% include 'front/Vehicle/Detail/includes/infos.html.twig' with {
                        'titleClass' : 'is-breaking-word'
                    } %}
                </div>
            </div>
            {# END Main information #}

            {# Vehicle states #}
            {% if state_block is not empty %}
                <div class="section-vehicle wysiwyg" id="js-state">
                    <div class="block-light-shadow">
                        <h2 class="is-breaking-word">{{ 'vehicle.section.states.title'|trans }}</h2>
                        <ul class="vehicle-infos-list list-border tiny no-bullet no-margin">
                            {{ state_block }}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {# END Vehicle states #}

            {# Vehicle guarantees #}
            {% if vehicle.guarantee or vehicle.otherGuarantee %}
                <div class="section-vehicle" id="js-guarantees">
                    <div class="block-light-shadow">
                        {% include 'front/Vehicle/Detail/includes/guarantees.html.twig' with {
                            'titleClass' : 'is-breaking-word'
                        } %}
                    </div>
                </div>
            {% endif %}
            {# END Vehicle guarantees #}

            {# Vehicle fundings #}
            {% if vehicle.funding or vehicle.otherFunding or vehicle.catalogPrice or vehicle.discount %}
                <div class="section-vehicle" id="js-funding">
                    <div class="block-light-shadow">
                        {% include 'front/Vehicle/Detail/includes/funding.html.twig' with {
                            'titleClass' : 'is-breaking-word'
                        } %}
                    </div>
                </div>
            {% endif %}
            {# END Vehicle fundings #}

            {# Additional services #}
            {% if vehicle.additionalServices|trim|length > 0 %}
                <div class="section-vehicle wysiwyg">
                    <div class="block-light-shadow">
                        {% include 'front/Vehicle/Detail/includes/additionalServices.html.twig' with {
                            'titleClass' : 'is-breaking-word'
                        } %}
                    </div>
                </div>
            {% endif %}
            {# END Additional services #}

            {# Likes #}
            {% if positiveLikes.all|length > 0 %}
                <div class="section-vehicle" id="js-interested_users">
                    <div class="block-light-shadow">
                        {% include 'front/Vehicle/Detail/includes/interested_user.html.twig' with {
                            'titleClass' : 'is-breaking-word'
                        } %}
                    </div>
                </div>
            {% endif %}
            {# END Likes #}

            {# Other vehicles #}
            {% if vehiclesToList|length > 0 %}
                <div class="other-vehicles" id="js-associate">
                    <h2 class="is-breaking-word">{{ isEditableByCurrentUser?'vehicle.section.other_vehicle.title.owner'|trans:'vehicle.section.other_vehicle.title.pro'|trans }}</h2>
                    {% include 'front/Vehicle/Listing/includes/list_peexeo.html.twig' with {
                        'vehiclesToList' : vehiclesToList,
                        'balise' : 'h3',
                        'columnsSizes': 'small-up-2'
                    } %}
                    <div class="is-flex align-center">
                        <a href="{{ path('front_garage_view', {'slug': vehicle.garage.slug}) }}" class="button">
                            {{ 'vehicle.section.other_vehicle.button.garage'|trans }}</a>
                    </div>
                </div>
            {% endif %}
            {# END Other vehicles #}
        </div>
        {# END Left Column #}

        {# Right Column #}
        <aside id="js-vehicle-aside" class="peexeo-vehicle-aside column hide-for-small-only large-5 xlarge-4">
            {# empty for small. Filled on large using ResponsiveDom#}
        </aside>
        {# END Right Column #}
    </div>

    {% for sellerId,contactFormData in contactForms %}
        {{ include('front/Seller/includes/prouser_contact_form.html.twig', {
            'user': contactFormData['seller'],
            'contactForm': contactFormData['form'],
            'titleClass' : 'h2 text-center large-text-left',
            'formClass':'form-compact',
            'isHidden': activeSuggestedSeller.id != sellerId,
            'responsiveDomDestination':'#js-vehicle-aside',
            'responsiveDomAppendTo':true,
            'responsiveDomBreakpoint': 'large',
            'vehicle': vehicle,
            'captchaOnSubmit': 'captchaOnSubmit'~ sellerId,
            'captchaAction': 'provehicle_contact_form'
        }) }}
    {% endfor %}
{% endblock body %}

{% block modal %}
    {% if isEditableByCurrentUser %}
        {% include 'front/Vehicle/Detail/includes/modal_remove_vehicle.html.twig' %}
    {% endif %}
    {% include 'front/Vehicle/Detail/includes/modal_carousel.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% if contactForms|length > 0 %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
            {% for sellerId,contactFormData in contactForms %}
                  function captchaOnSubmit{{ sellerId }}(token) {
                    document.getElementById("procontact-form-{{ sellerId }}").submit();
                  }
            {% endfor %}
        </script>
    {% endif %}
{% endblock javascripts %}