{% extends 'front/Layout/layout.html.twig' %}

{% set page_garage = true %}

{% block mainClass %}medium-no-padding-top{% endblock %}

{% block title %}{{ vehicle.name }}{% endblock %}


{#{% set vehicle = inte.vehicle['golf-2-tdi'] %}#}
{% set vehicle_list = inte.vehicle %}
{% set sellers = inte.garage.sellers %}

{% block body %}
    {% if not isLogged %}
        {% set breadcrumbs = [
            {
                'name': block('title'),
                'href': app.request.requestUri
            }
        ] %}
    {% elseif isLogged and not isEditableByCurrentUser %}
        {% set breadcrumbs = [
            {
                'name': vehicle.garage.name,
                'href': path('front_garage_view', {'id': vehicle.garage.id})
            },
            {
                'name': block('title'),
                'href': app.request.requestUri
            }
        ] %}
    {% elseif isUserPro and isEditableByCurrentUser %}
        {% set breadcrumbs = [
            {
                'name': 'Mon garage',
                'href': path('front_garage_view', {'id': vehicle.garage.id})
            },
            {
                'name': block('title'),
                'href': app.request.requestUri
            }
        ] %}
    {% endif %}

    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Person",
    "name" : "{{ vehicle.seller.name }}",
    "makesOffer" : {
            "@type" :"Offer",
            "priceSpecification" : {
                "@type" : "UnitPriceSpecification",
                "priceCurrency" : "EUR",
                "price" : "{{ vehicle.price }}" },
            "itemOffered" : {
                "@type" : "Car",
                "name" : "{{ vehicle.name }}",
                "description" : "{{ vehicle.additionalInformation|raw  }}",
            "image" : "",
            "vehicleEngine" : {
                "@type": "EngineSpecification",
                "name" : "{{ vehicle.modelName }}"
                }
            }
        }
    }
    </script>

    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    <div class="l-main-container">
        <div class="row">

            <section class="small-12 large-7 xlarge-8">
                <div class="small-12">
                    {% include 'front/Vehicle/Detail/includes/header.html.twig' %}
                    <div class="column small-collapse large-uncollapse">
                        {% include 'front/Vehicle/Detail/includes/carousel.html.twig' %}
                    </div>
                </div>

                <div id="js-vehicle-aside" class="vehicle-aside block-grid small-12">
                    {% if isUserPro %}
                        <div class="column small-12 medium-6 large-order-2 large-12">
                            {% include 'front/Vehicle/Detail/includes/interested_user.html.twig' %}
                        </div>
                    {% endif %}
                    <div class="column small-12 medium-6 large-12">
                        {% include 'front/Vehicle/Detail/includes/seller_infos.html.twig' %}
                    </div>
                    <div class="small-12 large-order-3">
                        {% if not isLogged %}
                            {% include 'front/Vehicle/Detail/includes/user_not_logged_message.html.twig' %}
                        {% elseif isUserPersonal %}
                            {% include 'front/Vehicle/Detail/includes/user_personal_message_favoris.html.twig' %}
                        {% elseif isUserPro and isEditableByCurrentUser %}
                            {% include 'front/Vehicle/Detail/includes/user_pro_editing.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </section>

            <section class="small-12 xlarge-8 large-order-2">
                <div class="vehicle-detail block-grid small-12">
                    <div class="column small-12 small-collapse xlarge-uncollapse is-sticky">
                        {% include 'front/Vehicle/Detail/includes/magellan.html.twig' %}
                    </div>
                    <div class="separator-section wysiwyg dark-gray-color column small-12 large-10 xlarge-12" id="js-description" data-magellan-target="js-description">
                        {% include 'front/Vehicle/Detail/includes/description.html.twig' %}
                    </div>
                    <div class="separator-section column small-12" id="js-infos" data-magellan-target="js-infos">
                        {% include 'front/Vehicle/Detail/includes/infos.html.twig' %}
                    </div>
                    <div class="separator-section column small-12" id="js-state" data-magellan-target="js-state">
                        {% include 'front/Vehicle/Detail/includes/state.html.twig' %}
                    </div>
                    <div class="separator-section column small-12 medium-6 xlarge-12" id="js-guarantees" data-magellan-target="js-guarantees">
                        {% include 'front/Vehicle/Detail/includes/guarantees.html.twig' %}
                    </div>
                    <div class="separator-section column small-12 medium-6 xlarge-12" id="js-funding" data-magellan-target="js-funding">
                        {% include 'front/Vehicle/Detail/includes/funding.html.twig' %}
                    </div>
                </div>

            </section>

            <aside id="js-move-vehicle-aside" class="vehicle-aside-container large-5 xlarge-4" aria-hidden="true"></aside>

        </div>
    </div>

{% endblock body %}

{% block modal %}

    {% include 'front/Vehicle/Detail/includes/modal_remove_vehicle.html.twig' %}

{% endblock %}
