{{ form_start(messageForm,
    { 'action': path('front_coachingvideo_videoproject_messages_post', {
        'id': videoProject.id
    }), 'attr' : {
        'id': 'js_message_form',
        'class': 'row',
        'data-abide' : '', 'novalidate': 'novalidate'} }) }}

<div class="columns small-auto">
    {{ form_widget(messageForm.content, {
        'label': 'coaching_video.project_discussion.form.field.content.label'|trans,
        'label_class' : 'show-for-sr',
        'placeholder': 'coaching_video.project_discussion.form.field.content.placeholder'|trans
    }) }}
    {{ form_errors(messageForm.content) }}
</div>

<div class="columns small-shrink">
    <button type="submit" class="button button-icon icon-check no-margin"><span class="show-for-sr">{{ 'global.button.send'|trans }}</span></button>
</div>

<div class="columns small-12">
    <div id="js-attachments-list" class="attachments-field-list no-margin" data-index="{{ messageForm.attachments|length }}"
         data-prototype="{{ form_widget(messageForm.attachments.vars.prototype)|e('html_attr') }}">
        {{ form_label(messageForm.attachments, 'conversation.answer.field.attachments.label'|trans,
            {'label_attr':{'class':'is-hidden'}}
        ) }}
        {% for attachment in messageForm.attachments %}
            {{ form_widget(attachment) }}
        {% endfor %}
    </div>
</div>
{{ form_end(messageForm) }}
