{{ form_start(messageForm,
    { 'action': path('front_coachingvideo_videoproject_messages_post', {
        'id': videoProject.id
    }), 'attr' : {
        'id': 'js_message_form',
        'class': 'row white-bg',
        'data-abide' : '', 'novalidate': 'novalidate'} }) }}

<div class="columns small-12">
    {{ form_widget(messageForm.content, {
        'class': 'input-margin-small',
        'label': 'coaching_video.project_discussion.form.field.content.label'|trans,
        'label_class' : 'show-for-sr',
        'placeholder': 'coaching_video.project_discussion.form.field.content.placeholder'|trans
    }) }}
</div>

<div class="columns small-12">
    <div id="js-attachments-list" class="attachments-field-list" data-index="{{ messageForm.attachments|length }}"
         data-prototype="{{ form_widget(messageForm.attachments.vars.prototype)|e('html_attr') }}">
        {{ form_label(messageForm.attachments, 'conversation.answer.field.attachments.label'|trans,
            {'label_attr':{'class':'is-hidden'}}
        ) }}
        {% for attachment in messageForm.attachments %}
            {{ form_widget(attachment) }}
        {% endfor %}
    </div>
</div>

<div class="column small-12 is-flex align-middle">
    <button type="button" id="jsAddAttachmentShortcut" class="icon-attachment margin-bottom-0"><span class="show-for-sr">{{ 'global.button.send'|trans }}</span></button>
    <button type="submit" class="full-width button icon-check input-margin-small">{{ 'global.button.send'|trans }}</button>
</div>

{{ form_end(messageForm) }}
