{{ form_start(messageForm,
    { 'action': path('front_coachingvideo_videoproject_messages_post', {
        'id': videoProject.id
    }), 'attr' : {
        'id': 'js_message_form',
        'class': formClass|default('row'),
        'data-abide' : '', 'novalidate': 'novalidate'} }) }}

<div class="columns small-12 input-margin">
    {{ form_widget(messageForm.content, {
        'label': 'coaching_video.project_discussion.form.field.content.label'|trans,
        'placeholder': 'coaching_video.project_discussion.form.field.content.placeholder'|trans
    }) }}
</div>

<div class="columns small-12 input-margin">
    <div id="js-attachments-list" class="messages-item-attachments-field-list" data-index="{{ messageForm.attachments|length }}"
         data-prototype="{{ form_widget(messageForm.attachments.vars.prototype)|e('html_attr') }}">
        {{ form_label(messageForm.attachments, 'conversation.answer.field.attachments.label'|trans,
            {'label_attr':{'class':'is-hidden'}}
        ) }}
        {% for attachment in messageForm.attachments %}
            {{ form_widget(attachment) }}
        {% endfor %}
    </div>
</div>

{{ form_rest(messageForm) }}
<div class="columns small-12 right">
    <button type="submit" class="button primary-button full-width">{{ 'global.button.send'|trans }}</button>
</div>
{{ form_end(messageForm) }}
