{% for message in messages %}
    {% if olderMessageDate is defined and olderMessageDate|localizeddate('short','none') != message.createdAt|localizeddate('short','none') %}
        <hr class="hr-text" data-content="{{ olderMessageDate|localizeddate('short','none') }}">
    {% endif %}

    <div class="{{ not message.author.is(app.user) and (videoProjectViewer is not same as(false) and videoProjectViewer.visitedAt < message.createdAt ? "unread") }} {{ message.author.is(app.user) ? "is-author" }}"
         data-postedat="{{ message.createdAt.timestamp }}">
        <span class="is-flex align-justify margin-bottom-1">
            <span>
                <span class="avatar">
                    <img src="{{ message.author.avatar|avatar('user_mini_thumbnail', message.author.fullName) }}"
                         alt="{{ message.author.fullName|title }}" title="{{ message.author.fullName|title }}">

                </span><b>{{ message.author.firstname|title }}</b>
            </span>

            <span title="{{ message.createdAt|localizeddate('short','short') }}">{{ message.createdAt|localizeddate('none','short') }}</span>
        </span>
        <span class="message-content">{{ message.content }}</span>
        {% if message.attachments|length > 0 %}
            <div class="full-width attachments-container">
                {% for attachment in message.attachments %}
                    {% if attachment.FileMimeType starts with('image') %}
                        <a href="{{ getAttachmentLink(attachment) }}" target="_blank">
                            <img src="{{ getAttachmentLink(attachment) }}" alt="{{ attachment.fileOriginalName }}">
                        </a>

                    {% else %}
                        <a href="{{ getAttachmentLink(attachment) }}" target="_blank"
                           class="button small margin-right-1 icon-attachment">{{ attachment.fileOriginalName }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if message.linkPreviews|length > 0 %}
            <div class="messages-item-link-previews full-width">
                {% for linkPreview in message.linkPreviews %}
                    <div class="messages-item-link-preview">
                        {% if linkPreview.image is not empty %}
                            <a href="{{ linkPreview.url }}" target="_blank">
                                <img src="{{ linkPreview.image }}"
                                     alt="{{ linkPreview.description|default('pas de description') }}">
                            </a>
                        {% else %}
                            <div class="no-img">&nbsp;</div>
                        {% endif %}
                        {% if linkPreview.title is not empty %}
                            <b class="linkpreview-title">{{ linkPreview.title|raw }}</b>
                        {% endif %}
                        <a href="{{ linkPreview.url }}" target="_blank"
                           class="linkpreview-link">{{ linkPreview.domainUrl }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if loop.last %}
        <hr class="hr-text" data-content="{{ message.createdAt|localizeddate('short','none') }}">
    {% endif %}
    {% set olderMessageDate = message.createdAt %}
{% endfor %}