{% for message in messages %}
    <div class="{{ videoProjectViewer.visitedAt < message.createdAt ? "unread"}}" data-postedat="{{ message.createdAt.timestamp }}">
        {{ message.createdAt|localizeddate('short','short') }} <b>{{ message.author.fullname|title }}</b>
        : {{ message.content }}
    </div>
{% endfor %}