{% form_theme searchProForm ':front/Layout/includes/forms:fields.html.twig' %}

{% macro jsFilterAsTag(label, values, resetedFields) %}
    {% if values is iterable %}
        {% set values_str = values|join(', ') %}
    {% else %}
        {% set values_str = values %}
    {% endif %}

    {% if resetedFields is iterable %}
        {% set resetedFields_str = resetedFields|join(',') %}
    {% else %}
        {% set resetedFields_str = resetedFields %}
    {% endif %}

    <span class="search-filter">{{ label|trans }}&nbsp;:&nbsp;{{ values_str }}&nbsp;&nbsp;
        <a href="#" data-field-id="{{ resetedFields_str }}" class="white-color"><b>X</b></a></span>
{% endmacro %}

{% import _self as macro %}

{% set form_criteria %}{% spaceless %}
    {# Removed as form field are already visible to edit them
    {% if filterData.text is not null %}
        {{ macro.jsFilterAsTag('directory.field.text.label', filterData.text, searchProForm.text.vars.id) }}
    {% endif %}
    {% if filterData.postalCode is not null and filterData.cityName is not null %}
        {{ macro.jsFilterAsTag('directory.field.location.label', filterData.cityName~' ('~filterData.postalCode~')', [searchProForm.postalCode.vars.id,searchProForm.cityName.vars.id,searchProForm.longitude.vars.id,searchProForm.latitude.vars.id]) }}
        {% if filterData.radius is not null %}
            {{ macro.jsFilterAsTag('directory.field.radius.label', filterData.radius~'km', searchProForm.radius.vars.id~'=50') }}
        {% endif %}
    {% endif %}#}
{% endspaceless %}{% endset %}

<div class="column directory-form-container">
    {% set searchFormAttr =  {'class':'search-form row gtm-dom-ready', 'id':'js-search-form'}|merge(wtDirectorySearchFormDataAttributes(searchProForm, app.user)) %}
    {{ form_start(searchProForm, {'attr': searchFormAttr}) }}

    {% set largeSize = searchProForm.vars.mainFilters|length > 0 ? max(min(12/searchProForm.vars.mainFilters|length, 6), 3) : 12 %}
    {% if searchProForm.vars.mainFilters|length > 0 %}
        <div class="column small-12">
            <label>{{ 'directory.field.filter.label'|trans }}</label>
        </div>
    {% endif %}
    {% for filter in searchProForm.vars.mainFilters %}
        <div class="column small-12 medium-6 large-{{ largeSize }}">
            {{ form_widget(attribute(searchProForm, (filter.category|proServiceCategoryFieldName)), {
                'class' : '',
                'label_class' : 'show-for-sr',
                'required' : false,
                'required_class': 'show-for-sr'
            }) }}
        </div>
    {% endfor %}
    {#<div class="column small-12 medium-6 large-3">
        {{ form_widget(searchProForm.text, {
            'class' : '',
            'label' : 'directory.field.text.label'|trans,
            'label_class' : '',
            'required' : false,
            'required_class': 'show-for-sr',
            'placeholder': 'directory.field.text.placeholder'|trans
        }) }}
    </div>#}

    <div class="column small-12 medium-8 large-4">
        {{ form_widget(searchProForm.postalCode, {
            'label': 'directory.field.location.label'|trans,
            'class': 'js-city-autocomplete',
            'required' : false,
            'required_class' : 'show-for-sr',
            'attr' : {
                'data-placeholder': 'directory.field.location.placeholder'|trans,
                'data-autocomplete-url': path('front_city_autocomplete'),
                'data-city-field': searchProForm.cityName.vars.id,
                'data-latitude-field': searchProForm.latitude.vars.id,
                'data-longitude-field': searchProForm.longitude.vars.id
            }
        }) }}
        {{ form_widget(searchProForm.cityName) }}
        {{ form_widget(searchProForm.latitude) }}
        {{ form_widget(searchProForm.longitude) }}
    </div>

    <div class="column small-12 medium-6 large-2 is-hidden">
        {{ form_widget(searchProForm.radius, {
            'class' : '',
            'required' : true,
            'label' : 'directory.field.radius.label'|trans,
            'label_class' : ''
        }) }}
    </div>

    <div class="column show-for-medium medium4 large-2">
        <label for="search-label" class="show-for-medium is-invisible">{{ 'global.button.search'|trans }}</label>
        <button type="submit" class="button full-width">{{ 'global.button.search'|trans }}</button>
    </div>

    <div class="block-grid small-12 medium-order-3 align-middle">
        <div class="block-grid column small-12 medium-6 medium-offset-6 large-4 large-offset-8">
            {{ form_widget(searchProForm.sorting, {
                'id':'js-search-sorting-select',
                'label' : 'directory.field.sorting.label'|trans,
                'label_class' : 'show-for-sr',
                'class' : 'sorting',
                'required' : true
            }) }}
        </div>
    </div>

    <div class="hide-for-medium column small-12 medium-order-3 input-margin">
        <button type="submit" class="button full-width">{{ 'global.button.search'|trans }}</button>
    </div>

    {% if form_criteria is not empty %}
        <div class="column small-12  medium-order-3 input-margin">
            {{ form_criteria }}
        </div>
    {% endif %}
    {{ form_end(searchProForm) }}
</div>