{% set balise = balise|default('h2') %}

{% set sellerUrl = path('front_view_pro_user_info', {'slug': proUser.slug}) %}

<article class="directory-item">
    <div class="small-12 medium-8 is-flex">
        <a href="{{ sellerUrl }}" class="directory-item-user-picture is-flex align-middle">
            <img src="{{ proUser.avatar|avatar('user_thumbnail', proUser.firstName) }}" alt="{{ proUser.fullName }}">
        </a>
        <div class="directory-item-user-info overflow-hidden full-width">
            <{{ balise }} class="h2"><a href="{{ sellerUrl }}"  class="dark-gray-color">{{ proUser.fullName|title }}</a>
                {{ include('front/Affinity/includes/affinity_degreee_element.html.twig',{'user':proUser}) }}
            </{{ balise }}>
            <a href="{{ sellerUrl }}"><p>{{ proUser.description|nl2br }}</p></a>
        </div>
        <a href="{{ path('front_conversation_create', {'id': proUser.id}) }}"
           class="directory-item-action is-flex align-middle icon-message"
           data-wt-action="LM" data-wt-from="{{ app.user|wtUserDataAttrValue }}"data-wt-to="{{ proUser|wtUserDataAttrValue }}"></a>
    </div>
    <div class="small-12 medium-4">
        <div class="directory-item-garages">
            {% set userGarages = proUser.garagesOrderByGoogleRating %}
            {% for garageProUser in userGarages|slice(0,1) %}
                {% set garage = garageProUser.garage %}
                <a href="{{ path('front_garage_view', {'slug':garage.slug}) }}" class="directory-item-garage is-block">
                    <h3 class="dark-gray-color"> {{ garage.name }}</h3>
                    <span class="body-font-color">{{ garage.address.postalCode }} {{ garage.address.cityName|upper }}</span>
                    {{ include('front/Garages/Detail/includes/google_rating.html.twig', {
                        poweredByGoogleDisplay : true,
                        garageRating : garage.googleRating|default(null)
                    }) }}
                </a>
            {% else %}
                <div class="directory-item-garage">
                    <p>{{ 'directory.result.no_garage'|trans }}</p>
                </div>
            {% endfor %}
            {% if userGarages|length > 1 %}
                <div class="directory-item-more-garage">
                    <a href="{{ sellerUrl }}"
                       class="text-underline">{{ 'directory.result.more_garage'|transchoice((userGarages|length - 1),{'%n%':(userGarages|length - 1)}) }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</article>