{% set itemClass = itemClass|default('') %}

<div class="{{ itemClass }} seller-item">
    <div class="profil-image margin-bottom-2">
        <a href="{{ path('front_view_pro_user_info', {'slug': proUser.slug}) }}">
            <img src="{{ proUser.avatar|avatar('user_thumbnail', proUser.fullName) }}"
                 alt="{{ proUser.fullName }}"></a>
    </div>
    <a href="{{ path('front_view_pro_user_info', {'slug': proUser.slug}) }}">
        <h2 class="text-center margin-bottom-1">{{ proUser.fullName }}</h2></a>

    <div class="margin-bottom-1 text-center black-color">
        {{ proUser.presentationTitle }}&nbsp;
    </div>

    {% set userGarages = proUser.garagesOrderByGoogleRating %}
    <p class="icon-location primary-color align-center">
        <span class="body-font-color">
            {% if userGarages|length > 1 %}
                Multi-sites
            {% elseif userGarages|length == 1 %}
                {{ userGarages[0].garage.city }}
            {% else %}
                &ndash;
            {% endif %}
        </span>
    </p>
    <div class="tag-container text-center">
        {% set nbProSpeciality = proUser.proUserSpecialities|length %}
        {% for proSpeciality in proUser.proUserSpecialities(highlightSpecialities ?? [])|slice(0,2) %}
            <a href="{{ path('front_directory_by_service_view', {'service': proSpeciality.proService.slug}) }}"
               class="tag">{{ proSpeciality.proService.name }}</a>
        {% endfor %}
        {% if nbProSpeciality > 2 %}
            <a href="{{ path('front_view_pro_user_info', {'slug': proUser.slug}) }}"
               class="tag">+{{ nbProSpeciality - 2 }}</a>
        {% endif %}
    </div>
</div>