{% extends ':Mail/Layout:email.html.twig' %}

{% trans_default_domain 'email' %}
{% from ':Mail/Layout:email.html.twig' import action_button, encart_vehicle %}

{% block title %}{{ 'unseenNotificationsDailyDigest.object'|trans }}{% endblock %}

{% block body %}
    <div>
        {% if nbUnseenMessages %}
            {{ 'unseenNotificationsDailyDigest.body.unread_message'|transchoice(nbUnseenMessages, {},'email')|raw }}
            {{ action_button(conversationsListURL, 'unseenNotificationsDailyDigest.action_label.conversations'|transchoice(nbUnseenMessages, {},'email')) }}
        {% endif %}
        {% if nbUnseenNotifications %}
            {{ 'unseenNotificationsDailyDigest.body.unread_notification'|transchoice(nbUnseenNotifications, {},'email')|raw }}
            {{ action_button(notificationListUrl, 'unseenNotificationsDailyDigest.action_label.notifications'|transchoice(nbUnseenNotifications, {},'email')) }}
        {% endif %}
    </div>
{% endblock %}
