{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding{% endblock %}

{% block title %}{{ 'user.registration.pro.title'|trans }}{% endblock %}
{% block meta_description%}{{ 'user.registration.pro.meta_description'|trans }}{% endblock %}
{% block og_type%}article{% endblock %}


{% block body %}
    <header class="banner">
        <h1 class="no-margin text-center column large-10 xlarge-6">{{ 'user.registration.pro.banner'|trans }}</h1>
    </header>

    <section class="small-12">
        <div class="register-form input-margin row">
            {% include 'front/Security/Register/includes/account.html.twig' with { context:constant("Wamcar\\User\\ProUser::TYPE") } %}
        </div>
    </section>

    <section class="section reinsurance-container small-12">
        <div class="row">
            <h2 class="xlarge-no-margin h1 text-center full-width">{{ 'user.reinsurance.pro.title'|trans }}<span class="primary-color">{{ site_name }}</span></h2>
            {% include 'front/Layout/includes/reinsurance/reinsurance_pro.html.twig' %}
            <p class="no-margin text-center full-width">{{ 'user.reinsurance.pro.bottom'|trans }}</p>
        </div>
    </section>
{% endblock body %}