{% set balise = balise|default('h2') %}

<article class="vehicle-item is-flex">
    {{ include('front/Search/includes/vehicle_item.html.twig') }}

    <a href="{{ vehicle.userUrl }}" class="full-width">
        <div class="vehicle-user-infos">
            <div class="vehicle-user-pic"><img src="{{ vehicle.userPicture }}" alt="{{ vehicle.userName }}"></div>
            {% if vehicle.projectVehicles or vehicle.projectBudget %}
            <div class="small-12 dark-gray-color">
                {% if vehicle.projectBudget %}
                    <p class="no-margin"><strong class="primary-color">Budget de {{ vehicle.projectBudget|number_format(0, ',', ' ') }} € pour</strong></p>
                {% else %}
                    <p class="no-margin"><strong class="primary-color">Budget non défini</strong></p>
                {% endif %}
                <ul class="vehicle-user-greetings no-bullet">
                    {% for projectVehicle in vehicle.projectVehicles %}
                        <li><b>{{ projectVehicle.make }} {{ projectVehicle.model }}</b>
                            {{ (projectVehicle.yearMax) ? projectVehicle.yearMax~"+ " : '' }}
                            {{ (projectVehicle.mileageMax) ? '/ '~projectVehicle.mileageMax|number_format(0, ',', ' ')~" km" : '' }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
                <p class="dark-gray-color no-margin small-10 large-12"><strong>Ce vendeur n’a pas encore indiqué de souhaits</strong>. Vous pouvez tout de même le contacter pour lui demander plus d’informations et proposer un rachat de son véhicule, que ce soit dans le cadre d’une reprise ou non.</p>
            {% endif %}
        </div>
    </a>
</article>
