{% set balise = balise|default('h2') %}

<article class="vehicle-item is-flex">
    <a href="{{ path('front_vehicle_pro_add') }}" class="is-flex full-width">
        <div class="js-like like "><span data-tooltip=""></span></div>
        <div class="vehicle-picture medium-auto">
            <div class="is-relative">
                <img src="{{ asset( vehicle.picture ) }}" alt="{{ vehicle.modelVersion }}">
                {% if search_result %}
                    <span class="vehicle-pics-count icon-pics">8</span>
                {% endif %}
            </div>
        </div>
        <div class="vehicle-infos small-shrink medium-auto">
            {# TODO : Utiliser un trucate sur vehicle.name à 22 #}
            <{{ balise }} class="vehicle-name h3">{{ vehicle.modelVersion }}</{{ balise }}>
            <p class="vehicle-model">{{ vehicle.model }}</p>
            <span class="vehicle-years body-font-color">{{ vehicle.years }}, {{ vehicle.mileage }}</span>
            {# TODO : Utiliser un trucate sur vehicle.city à 16 #}
            <div class="vehicle-bottom block-grid full-width align-middle">
                <span class="vehicle-city black-color small-12">{{ vehicle.cityName }}</span>
                <time class="vehicle-time black-color small-auto">14 nov, 14h45</time>
            </div>
        </div>
    </a>
    <a href="{{ path('front_view_current_user_info') }}" class="full-width">
        <div class="vehicle-user-infos">
            <div class="vehicle-user-pic"><img src="{{ vehicle.userPicture }}" alt="{{ vehicle.userName }}"></div>
            {# Exemple inté, cas ou l'utilisateur n'a pas renseigné de souhaits #}
            {#{% if index == 'golf-2-tdi' %}#}
            <p class="dark-gray-color no-margin small-10 large-12"><strong>Ce vendeur n’a pas encore indiqué de souhaits</strong>. Vous pouvez tout de même le contacter pour lui demander plus d’informations et proposer un rachat de son véhicule, que ce soit dans le cadre d’une reprise ou non.</p>
            {#{% else %}
                <div class="small-12 dark-gray-color">
                    <p class="no-margin"><strong class="primary-color">Budget de 64 000 € pour</strong></p>
                    <ul class="vehicle-user-greetings no-bullet">
                        <li><b>Audi A3</b> 2010+ / -50 000km</li>
                        <li><b>Volkswagen Transpo...</b> 2010+ / -50 000km</li>
                    </ul>
                </div>
            {% endif %}#}
        </div>
    </a>
</article>
