{% set likeIcon = 'icon-thumbs-o-up' %}
{#like is not null and like.value > 0?'icon-thumbs-up':'icon-thumbs-o-up'#}

<div class="small-12 medium-auto">
    <div class="block-grid small-12">
        <div class="vehicle-picture align-self-middle">
            <div class="is-relative">
                <a href="{{ vehicle.detailUrl }}">
                    <img src="{{ vehicle.picture ? vehicle.picture : 'vehicle_thumbnail'|defaultVehiclePicture }}" alt="{{ vehicle.modelVersion }}">
                    <span class="vehicle-count-pics">
                        <span class="icon-pics">{{ vehicle.nbPicture }}</span>
                    </span>
                </a>
            </div>
        </div>

        <div class="vehicle-infos small-auto">
            <{{ balise }} class="vehicle-name">{{ vehicle.model }}</{{ balise }}>
            <span class="vehicle-years body-font-color">{{ vehicle.years }}, {{ vehicle.mileage|localizednumber }}km</span>

            <div class="row">
                <h2 class="column small-auto primary-color">{% if vehicle.price is defined %}
                        <strong>{{ vehicle.price|localizednumber }}&nbsp;€</strong>{% endif %}</h2>
                <div class="column small-shrink small-right">
                    <a href="{{ path('front_user_like_'~vehicle_type ~'_vehicle', {'id': vehicle.id }) }}"
                       class="like {{ likeIcon }}"><sub>15{#{{ vehicle.positiveLikes|length }}#}</sub></a>
                </div>
            </div>

            <span class="vehicle-city primary-color">{{ vehicle.cityName }}</span>
            <time class="vehicle-time black-color">{{ "vehicle.publish_at"|trans({'%createdAt%':vehicle.createdAt.date|localizeddate(format = "d MMM, HH'h'mm")}) }}</time>
        </div>
    </div>
</div>
