{% set title_class = title_class|default("") %}
{% set reinsurance_list = [
    {
        svg: 'just',
        title: 'user.reinsurance.common.items.first.title'|trans,
        content: 'user.reinsurance.common.items.first.content'|trans
    },
    {
        svg: 'smile',
        title: 'user.reinsurance.common.items.second.title'|trans,
        content: 'user.reinsurance.common.items.second.content'|trans
    },
    {
        svg: 'star',
        title: 'user.reinsurance.common.items.third.title'|trans,
        content: 'user.reinsurance.common.items.third.content'|trans
    },
    {
        svg: 'shape',
        title: 'user.reinsurance.common.items.fourth.title'|trans,
        content: 'user.reinsurance.common.items.fourth.content'|trans
    },
    {
        svg: 'security',
        title: 'user.reinsurance.common.items.fifth.title'|trans,
        content: 'user.reinsurance.common.items.fifth.content'|trans
    }
] %}

<h2 class="h1 small-12 text-center {{ title_class }}">{{ 'user.reinsurance.common.title'|trans }}&nbsp;<span class="primary-color">{{ site_name }}</span></h2>
<ul class="reinsurance row small-12 small-up-1 medium-up-5 no-bullet">
    {% for reinsurance in reinsurance_list %}
        <li class="reinsurance-item block-grid column align-middle">
            <div class="small-4 medium-12 column medium-text-center">
                {% include 'front/Layout/includes/svg/' ~ reinsurance.svg ~ '.html.twig' %}
            </div>
            <div class="small-8 medium-12 medium-text-center">
                <h3 class="h2 primary-color">{{ reinsurance.title }}</h3>
                <p class="no-margin">{{ reinsurance.content|raw }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
