{% set reinsurance_list = [
    {
        image: 'peexeo-ccm1.png',
        alt: 'user.reinsurance.wamaffinity.items.first.alt'|trans,
        title: 'user.reinsurance.wamaffinity.items.first.title'|trans,
        content: 'user.reinsurance.wamaffinity.items.first.content'|trans,
    },
    {
        image: 'peexeo-ccm2.png',
        alt: 'user.reinsurance.wamaffinity.items.second.alt'|trans,
        title: 'user.reinsurance.wamaffinity.items.second.title'|trans,
        content: 'user.reinsurance.wamaffinity.items.second.content'|trans,
    },
    {
        image: 'peexeo-ccm3.png',
        alt: 'user.reinsurance.wamaffinity.items.third.alt'|trans,
        title: 'user.reinsurance.wamaffinity.items.third.title'|trans,
        content: 'user.reinsurance.wamaffinity.items.third.content'|trans,
    }
] %}
{% set reinsurance_class = reinsurance_class|default('') %}

<ul class="reinsurance-wamcar block-grid column large-collapse small-12 small-up-1 medium-up-3 no-bullet {{ reinsurance_class }}">
    {% for index, reinsurance in reinsurance_list %}
        <li class="column is-flex small-horizontal medium-vertical xlarge-horizontal align-middle xlarge-collapse">
            <span class="reinsurance-wamcar-image medium-12 text-center primary-color">
                <img src="{{ asset('assets/images/reinsurance/' ~ reinsurance.image) }}" {#srcset="{{ asset('assets/images/reinsurance/' ~ reinsurance.image ~'.jpg') }} 1x, {{ asset('assets/images/reinsurance/' ~ reinsurance.image ~'-2x.jpg') }} 2x"#} alt="{{ reinsurance.alt }}" width="130"></span>
            <p class="reinsurance-wamcar-body no-margin">
                <b class="primary-color">{{ reinsurance.title }}</b><br>
                {{ reinsurance.content }}
            </p>
        </li>
    {% endfor %}
</ul>
