{% set title_class = title_class|default("") %}
{% set reinsurance_list = [
    {
        image: 'assets/images/reinsurance/peexeo_bonhomme_blanc_2.png',
        title: 'user.reinsurance.wamcar.items.first.title'|trans,
        content: 'user.reinsurance.wamcar.items.first.content'|trans
    },
    {
        image: 'assets/images/reinsurance/peexeo_ampoule_2.png',
        title: 'user.reinsurance.wamcar.items.second.title'|trans,
        content: 'user.reinsurance.wamcar.items.second.content'|trans
    },
    {
        image: 'assets/images/reinsurance/peexeo_pieces_2.png',
        title: 'user.reinsurance.wamcar.items.third.title'|trans,
        content: 'user.reinsurance.wamcar.items.third.content'|trans
    },
    {
        image: 'assets/images/reinsurance/peexeo_cadenas_2.png',
        title: 'user.reinsurance.wamcar.items.fourth.title'|trans,
        content: 'user.reinsurance.wamcar.items.fourth.content'|trans
    },
    {
        image: 'assets/images/reinsurance/peexeo_pouce_2.png',
        title: 'user.reinsurance.wamcar.items.fifth.title'|trans,
        content: 'user.reinsurance.wamcar.items.fifth.content'|trans
    }
] %}

<h2 class="h1 small-12 text-center {{ title_class }}">{{ 'user.reinsurance.wamcar.title'|trans }}&nbsp;<span class="primary-color">{{ site_name }}</span></h2>
<ul class="reinsurance row small-12 small-up-1 medium-up-5 no-bullet">
    {% for reinsurance in reinsurance_list %}
        <li class="reinsurance-item block-grid column align-middle">
            <div class="small-4 medium-12 column medium-text-center">
                <img src="{{ asset(reinsurance.image) }}" alt="{{ reinsurance.title }}">
            </div>
            <div class="small-8 medium-12 medium-text-center">
                <h3>{{ reinsurance.title }}</h3>
                <p>{{ reinsurance.content|raw }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
