<div class="business-body small-12 medium-7 large-6">
    <h2 class="black-color h1 text-center medium-text-left">{{ 'homepage.business.title'|trans|raw }}</h2>
    <p class="text-justify">{{ 'homepage.business.content.first'|trans }}</p>
    <p class="text-justify">{{ 'homepage.business.content.second'|trans }}</p>
    <p class="text-justify">{{ 'homepage.business.content.third'|trans }}</p>
    <a href="{{ pro_site_url }}" class="button large-8">{{ 'homepage.business.action'|trans }}</a>
</div>
<div class="column small-12 small-right-collapse medium-5 large-6">
    <picture class="business-image text-right">
        <source media="(min-width: 1024px)" srcset="{{ asset('assets/images/background/citroen-ds-large.png') }}">
        <img src="{{ asset('assets/images/background/citroen-ds.jpg') }}" alt="{{ 'homepage.business.background.alt'|trans }}">
    </picture>
</div>
