<div class="mission-body section column small-12 medium-6 medium-order-2 large-5 xlarge-4">
    <h2 class="h1 text-center primary-color medium-text-left">{{ 'homepage.our_mission.title'|trans }}</h2>
    <ul class="list-border no-margin no-bullet column medium-collapse">
        <li>{{ 'homepage.our_mission.content.first'|trans|raw }}</li>
        <li>{{ 'homepage.our_mission.content.second'|trans|raw }}</li>
        <li>{{ 'homepage.our_mission.content.third'|trans|raw }}</li>
    </ul>
</div>
<div class="mission-image column small-12 medium-6 medium-collapse large-uncollapse xlarge-7">
    <img src="{{ asset('assets/images/background/magicien.svg') }}" alt="{{ 'homepage.our_mission.background.alt'|trans }}">
</div>
