{% extends 'front/Seller/card.html.twig' %}

{% block title %}
    {% if userIsMe %}
        Ma fiche profil
    {% else %}
        Fiche profil de {{ user.fullName }}
    {% endif %}
{% endblock %}

{% block presentation %}
    <h2>Présentation</h2>
    {% if user.description %}
        <p>{{ user.description|nl2br }}</p>
    {% elseif userIsMe %}
        <p>Présentez-vous en quelques mots.</p>
    {% else %}
        <p>Aucune description n'a été encore renseignée.</p>
    {% endif %}
    {% if userIsMe %}
        <a href="{{ path('front_edit_user_info') }}" class="text-underline">Modifier mes informations</a>
    {% endif %}
{% endblock %}

{% block other_informations %}
    <h2>{{ userIsMe ? "Mon projet" : "Son projet" }}</h2>
    {% if user.project and (user.project.budget or user.project.projectVehicles) %}
        {% set project = user.project %}
        {{ include('front/User/includes/personal_user_project.html.twig') }}
    {% else %}
        {% if userIsMe %}
            <p>Je n'ai pas renseigné de projet de rachat.</p>
        {% else %}
            <p>Le vendeur n'a pas renseigné de projet de rachat.</p>
        {% endif %}
    {% endif %}
    {% if userIsMe %}
        <a href="{{ path('front_edit_user_info_tab', {'tab': 'project'}) }}" class="text-underline">Gérer mon projet</a>
    {% endif %}
{% endblock %}

{% block vehicle %}
    {% if iCanSeeUserVehicles %}
        <div class="separator small-12 section">
            <h2 id="user_vehicles_section">{{ userIsMe ? "Mes": "Ses" }} véhicules en vente</h2>
            <div class="row">
                {% set balise = 'h3' %}
                {% set vehicleToList = user.vehicles %}
                {% include 'front/Vehicle/Listing/includes/list.html.twig' %}
            </div>

            {% if userIsMe %}
                <div class="small-12 medium-6 large-4">
                    <a href="{{ path('front_vehicle_personal_add') }}" class="button add icon-plus">Ajouter un véhicule</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
