{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top profile-main profile-personal-main{% endblock %}

{% set isUserProPageProfile = (user.isPro) %}
{% set isUserPersonalPageProfil = (user.isPersonal) %}

{% block title %}
    {% if userIsMe %}
        {{ 'user.title.personal.mine'|trans }}
    {% else %}
        {{ 'user.title.personal.other'|trans({'%username%':user.fullName(app.user is null or not app.user.isPro)}) }}
    {% endif %}
{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}
    {% include 'front/User/includes/seller_profile_header.html.twig' %}

    <section class="row profile-body">

        {# Left column #}
        <div class="js-profile-left-column profile-left-column column small-12 large-8">
            {# User Description Block #}
            {{ include('front/User/includes/user_description_profile_block.html.twig') }}
            {# END User Description Block #}

            {# Project Block #}
            {% if (user.project and not user.project.empty) or userIsMe %}
                <div class="profile-section block-light-shadow">
                    <h2 id="user_project_section">
                        {% if userIsMe %}
                            <a href="{{ path('front_edit_user_project') }}"class="profile-section-action icon-pen"
                            title="{{ 'user.project.edit'|trans }}"></a>
                        {% endif %}
                        {{ userIsMe ? 'user.project.my_project'|trans : 'user.project.seller_project'|trans({'%seller_firstname%':user.firstName}) }}
                    </h2>
                    {% if user.project and not user.project.empty %}
                        {% set project = user.project %}
                        {{ include('front/User/includes/personal_user_project.html.twig') }}
                    {% elseif userIsMe %}
                        <p class="text-justify">Je n'ai pas renseigné de projet de rachat.</p>
                    {% endif %}
                </div>
            {% endif %}
            {# END Project Block #}

            {# Vehicules Block #}
            {% if user.vehicles|length > 0 or userIsMe %}
                <div class="profile-section block-light-shadow">
                    <h2 id="user_vehicles_section">
                        {% if userIsMe %}
                            <a href="{{ path('front_vehicle_personal_add') }}"
                               class="profile-section-action icon-plus" title="{{ 'vehicle.add'|trans }}"></a>
                        {% endif %}
                        {{ 'user.vehicles.personal'|transchoice(user.vehicles|length)}}
                    </h2>

                    {% include 'front/Vehicle/Listing/includes/list_peexeo.html.twig' with {
                        'vehiclesToList': user.vehicles,
                        'balise': 'h3',
                        'columnsSizes': 'small-up-2'
                    } %}
                </div>
            {% endif %}
            {# END Vehicules Block #}

            {# Contact or Connexion form Block #}
            {% if contactForm is not null %}
                {{ include('front/Seller/includes/prouser_contact_form.html.twig', {
                    'titleClass':'h2 text-center large-text-left',
                    'formClass':'form-compact',
                    'responsiveDomDestination':'.js-profile-right-column',
                    'responsiveDomAppendTo':false,
                    'responsiveDomBreakpoint': 'large'
                }) }}

            {% elseif userIsMe %}
                {# TODO définir ce qu'on peut mettre pour son propre profil #}
            {% else %}
                <div class="js-contact-login-block profile-section block-light-shadow">
                    <h2>{{ 'user.personal_contact.unlogged.title'|trans({'%firstname%':user.firstname|title}) }}</h2>

                    <div class="input-margin">
                        {% include(':front/Security/Register/includes:social_networks_login_row.html.twig') %}
                    </div>
                    {% include('front/User/includes/form_login.html.twig') %}

                    <div>
                        <h3>{{ 'sidebar.account_creation.title'|trans({'%sitename%':site_name}) }}</h3>
                        <a href="{{ path('register') }}" class="button full-width input-margin">{{ 'sidebar.account_creation.personal'|trans }}</a>
                        <a href="{{ path('register', {'type':constant("Wamcar\\User\\ProUser::TYPE")}) }}" class="button full-width">{{ 'sidebar.account_creation.professionnal'|trans }}</a>
                    </div>

                    {{ include('front/User/includes/modal_password_lost.html.twig', {
                        'modalId': 'js-password-lost-personal-contact-form'
                    }) }}
                </div>
            {% endif %}
            {# END Contact or Connexion form Block #}

            {# Affinity Block #}
            {% set userAffinity = user.getAffinityDegreesWith(app.user) %}
            {% set lwaWTattr = 'data-wtaction="LWA" data-wtfrom="'~ app.user|wtFromDataAttrValue ~'" data-wtcontext="'~user|wtToDataAttrValue~'"' %}
            {% if userIsMe or userAffinity is not null %}
                <div class="profile-section block-light-shadow">
                    {% if userIsMe %}
                        <h2>{{ "user.affinity.section.title"|trans }}</h2>

                        {% if user.affinityAnswer is null %}
                            <p>{{ 'user.affinity.section.explanation.personal'|trans({
                                    '%affinity_form_url%': path('front_affinity_personal_form'),
                                    '%datawtattr%': lwaWTattr|raw
                                })|raw }}</p>
                        {% else %}
                            <p>{{ 'user.affinity.section.edit.personal'|trans({
                                    '%affinity_form_url%': path('front_affinity_personal_form'),
                                    '%datawtattr%': lwaWTattr|raw
                                })|raw }}</p>
                        {% endif %}
                    {% elseif userAffinity is not null %}
                        <h2>{{ "user.affinity.section.our_affinities"|trans }}</h2>
                        <canvas class="js-radar-chart" data-dataset="{{ userAffinity.radarChartData|json_encode }}"></canvas>
                    {% endif %}
                </div>
            {% elseif app.user is null or app.user.isPro %}
                <div class="profile-section block-grid align-middle block-dark-blue block-light-shadow">
                    <div class="column small-12 large-8 text-justify">
                        <h2>{{ "user.affinity.section.our_affinities"|trans }}
                            {{ include('front/Affinity/includes/affinity_degreee_element.html.twig', {enable_dropdown : false}) }}</h2>
                        {{ isLogged ? 'user.affinity.degree.explanation.pro.logged'|trans({'%username%':user.firstname|title})
                        : 'user.affinity.degree.explanation.pro.unlogged'|trans({'%username%':user.firstname|title}) }}
                    </div>
                    <div class="column small-12 medium-6 medium-offset-3 large-4 large-offset-0">
                        <a href="{{ path('front_affinity_personal_form') }}"
                           class="button expand-height dark-blue" {{ lwaWTattr }}>
                            {{ isLogged ? 'user.affinity.degree.calltoaction.fill_form'|trans:'global.button.register'|trans }}</a>
                    </div>
                </div>
            {% endif %}
            {# END Affinity Block #}

            {% if userIsMe %}
                <div class="profile-section block-light-shadow">
                    <h2>{{ 'user.profile.delete.title'|trans }}</h2>
                    <p>{{ 'user.profile.delete.link.information'|trans }}
                        <a href="{{ path('front_user_delete') }}"
                           class="button small">{{ 'global.button.delete'|trans }}</a></p>
                </div>
            {% endif %}
        </div>
        {# END Left column #}

        {# Right column #}
        <div class="js-profile-right-column profile-right-column column small-12 large-4">

        </div>
        {# END Right column #}
    </section>
{% endblock body %}