{% extends 'front/Seller/card.html.twig' %}

{% set page_garage = userIsMe %}

{% block title %}
    {% if userIsMe %}
        {{ 'user.title.personal.mine'|trans }}
    {% else %}
        {{ 'user.title.personal.other'|trans({'%username%':(app.user is not null and app.user.isPro)?user.fullName:user.firstName}) }}
    {% endif %}
{% endblock %}

{% block presentation %}
    <h2>{{ 'user.presentation.title.personal'|trans }}</h2>
    {% if user.description %}
        <p>{{ user.description|nl2br }}</p>
    {% elseif userIsMe %}
        <p>Présentez-vous en quelques mots.</p>
    {% else %}
        <p>Aucune description n'a été encore renseignée.</p>
    {% endif %}

    {% if (user.city is not null and not user.city.isEmpty and isUserPro) or userIsMe %}
        <h2>{{ userIsMe ? 'user.city.title.your_city'|trans:'user.city.title.its_city'|trans }}</h2>
        <p>{{ user.city ??'user.city.empty'|trans }}</p>
    {% endif %}

    {% if userIsMe %}
        <a href="{{ path('front_edit_user_info') }}" class="text-underline">Modifier mes informations</a>
    {% endif %}
{% endblock %}

{% block other_informations %}
    <h2>{{ "user.affinity.section.title"|trans }}</h2>
    <p>{{ 'user.affinity.section.explanation'|trans }}
        <a href="{{ path('front_affinity_personal_form') }}" class="text-underline">
            {{ 'user.affinity.section.action'|trans }}</a> {{ 'user.affinity.section.more_explanation'|trans }}
    </p>
    <p>{{ user.affinityAnswer is not null ? 'Affinity Form answered : ' }}
    {{ dump(user.affinityAnswer.contentAsArray.form_response.answers) }}
    </p>
    {#<p>{{ dump(user.affinityDegrees) }}</p>#}



    <h2 id="user_project_section">{{ userIsMe ? "Mon projet" : "Son projet" }}</h2>
    {% if user.project and (user.project.budget or user.project.projectVehicles) %}
        {% set project = user.project %}
        {{ include('front/User/includes/personal_user_project.html.twig') }}
    {% else %}
        {% if userIsMe %}
            <p>Je n'ai pas renseigné de projet de rachat.</p>
        {% else %}
            <p>Le vendeur n'a pas renseigné de projet de rachat.</p>
        {% endif %}
    {% endif %}
    {% if userIsMe %}
        <a href="{{ path('front_edit_user_project') }}" class="text-underline">Gérer mon projet</a>
    {% endif %}
{% endblock %}

{% block vehicle %}
    {% if user.vehicles|length > 0 or userIsMe %}
        <div class="separator small-12 section">
            <h2 id="user_vehicles_section">{{ userIsMe ? "Mes": "Ses" }} véhicules en vente</h2>
            <div class="row">
                {% set balise = 'h3' %}
                {% set vehiclesToList = user.vehicles %}
                {% include 'front/Vehicle/Listing/includes/list.html.twig' %}
            </div>
            {% if userIsMe %}
                <div class="small-12 medium-6 large-4">
                    <a href="{{ path('front_vehicle_personal_add') }}" class="button add icon-plus">{{ 'vehicle.add'|trans }}</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
