{% extends 'front/Seller/card.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block presentation %}
    <h2>Présentation</h2>
    <p>Lorem ipsum ut ultrices molestie. Nec congue interdum, augue, laoreet, ad sit Curabitur neque massa maximus odio
        Quisque sagittis Morbi at Etiam faucibus vitae. Vel non nisi. Magna neque nibh. Cras Vestibulum vel volutpat,
        Curabitur Donec efficitur, pharetra efficitur, dapibus Suspendisse condimentum id Donec sed nibh id auctor eu
        quis, inceptos Quisque Class nisl. Sit ac, luctus vel felis risus.</p>
    {% if userIsMe %}
        <a href="{{ path('front_edit_user_info') }}" class="text-underline">Modifier mes informations</a>
    {% endif %}

    {# Civilité #}
    {# <div>
        {{ user.userProfile.title }}
    </div> #}

    {# Nom #}
    {# <div>
        {{ user.userProfile.name }}
    </div> #}

    {# Adresse e-mail #}
    {# <div>
        {{ user.email }}
    </div> #}

    {# Code postal #}
    {# <div>
        {{ user.userProfile.city.postalCode }}
    </div> #}

    {# Ville #}
    {# <div>
        {{ user.userProfile.city.name }}
    </div> #}

    {# Phone #}
    {# <div>
        {{ user.userProfile.phone }}
    </div> #}
{% endblock %}

{% block other_informations %}
    <h2>Son projet</h2>
    <p><strong class="primary-color">Budget de 18 000 €</strong></p>
    <ul class="list-bullet">
        <li>Audi A3 / 2012+ / -60000 km</li>
        <li>BMW Serie 1 / 2013+ / -60000 km</li>
        <li>Mercedes-Benz Classe A / 2013+ / -60000 km</li>
    </ul>
    <p>Je recherche une citadine allemande en version 5 portes. Diesel ou essence. Mes préférences vont pour une couleur
        noire ou gris anthracite.</p>
    <a href="{{ path('inte_user_personal_profil_edit') }}" class="text-underline">Gérer mon projet</a>
{% endblock %}

{% block vehicle %}
    {% if userIsMe or isUserPro %}
        <div class="separator small-12 section">
            <h2>{{ userIsMe ? "Mes": "Ses" }} véhicules en vente</h2>
            <div class="row">
                {% set vehicle_list = inte.vehicle %}
                {% set balise = 'h3' %}

                {% set vehicleToList = user.personalVehicles %}
                {% set isProVehicles = false %}
                {% include 'front/Vehicle/Listing/includes/list.html.twig' %}
            </div>

            {% if userIsMe %}
                <div class="small-12 medium-6 large-4">
                    <a href="#{#{ path('front_vehicle_personal_add') }#}" class="button add icon-plus">Ajouter un véhicule</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
