{% extends 'front/Layout/layout.html.twig' %}

{% trans_default_domain 'user' %}
{% block title %}{% endblock title %}

{% block body %}
    {{ form_start(form) }}

    {# Civilité #}
    <div>
        {{ form_row(form.title) }}
    </div>

    {# Nom #}
    <div>
        {{ form_row(form.name, {'errorMsg' : 'user.field.lastName.error'|trans}) }}
    </div>

    {# Adresse e-mail #}
    <div>
        {{ form_row(form.email, {'errorMsg' : 'user.field.email.error'|trans}) }}
    </div>

    {# Code postal #}
    <div>
        {{ form_row(form.postalCode, {'errorMsg' :  'user.field.postalCode.error'|trans}) }}
    </div>

    {# Ville #}
    <div>
        {{ form_row(form.cityName, {'errorMsg' : 'user.field.city.error'|trans}) }}
    </div>

    {# Phone #}
    <div>
        {{ form_row(form.phone, {'errorMsg' : 'user.field.phone.error'|trans}) }}
    </div>

    {# Button submit #}
    <div>
        <button type="submit">{{ 'button.edit_informations'|trans }}</button>
    </div>

    {{ form_end(form) }}

{% endblock %}
