{% set garageRating = (garagePlaceDetail is not null and garagePlaceDetail.rating is not empty)?garagePlaceDetail.rating:garage.googleRating %}
{% set garageGoogleMapsUrl = (garagePlaceDetail is not null and garagePlaceDetail.url is not empty) ? garagePlaceDetail.url : 'https://google.com/maps/search/?q='~garage.name~'&q_place_id='~garage.googlePlaceId %}

<h1 class="h2 primary-color no-margin">{{ garage.name }}</h1>
{{ include('front/Garages/Detail/includes/google_rating.html.twig', {poweredByGoogleDisplay : true}) }}
<ul class="list-bullet">
    <li>
        <address>{{ garage.address }}, {{ garage.address.postalCode }} {{ garage.address.cityName }}</address>
        <a href="{{ garageGoogleMapsUrl }}" target="_blank" rel="noopener noreferrer" class="text-underline">Voir sur Google Maps</a>
    </li>
    {% if garage.openingHours %}
        <li>{{ garage.openingHours|nl2br }}</li>
    {% endif %}
    {% if garage.phone %}
        <li>Téléphone : {{ garage.phone }}</li>
    {% endif %}
</ul>
{% if isEditableByCurrentUser %}
    <a href="{{ path('front_garage_edit', {'id': garage.id}) }}" class="text-underline">Modifier mon garage</a>
{% endif %}
