<h1 class="h2 primary-color">{{ garage.name }}</h1>
<ul class="list-bullet">
    <li>
        <address>{{ garage.address }}, {{ garage.address.postalCode }} {{ garage.address.cityName }}</address>
        <a href="https://google.com/maps/search/?q={{ garage.name }}&q_place_id={{ garage.googlePlaceId }}" target="_blank" rel="noopener noreferrer" class="text-underline">Voir sur Google Maps</a>
        <div class="star-list">
            {% for i in 5..1 %}
                {% set starClass = garage.googleRating < i ? (garage.googleRating > i-1 ? "star-half":"star-empty"):"star-full" %}
                <i class="star-item {{ starClass }}"></i>
            {% endfor %}
            <span class="star-label" style="opacity: 1">{{ garage.googleRating }}</span>
        </div>
        <div>
            <img src="{{ asset('assets/images/google/powered_by_google_on_white.png') }}" title="Powered by google">
        </div>
    </li>
    {% if garage.openingHours %}
        <li>{{ garage.openingHours|nl2br }}</li>
    {% endif %}
    {% if garage.phone %}
        <li>Téléphone : {{ garage.phone }}</li>
    {% endif %}
</ul>
{% if isEditableByCurrentUser %}
    <a href="{{ path('front_garage_edit', {'id': garage.id}) }}" class="text-underline">Modifier mon garage</a>
{% endif %}
