<h1 class="h2 primary-color">{{ garage.name }}</h1>
<ul class="list-bullet">
    <li>
        <address>{{ garage.address }}, {{ garage.address.postalCode }} {{ garage.address.cityName }}</address>
        <a href="https://maps.google.com/?q={{ garage.address.address }} {{ garage.address.postalCode }} {{ garage.address.cityName }}" target="_blank" class="text-underline">Voir sur Google Maps</a>
    </li>
    {% if garage.openingHours %}
        <li>{{ garage.openingHours }}</li>
    {% endif %}
    {% if garage.phone %}
        <li>Téléphone : {{ garage.phone }}</li>
    {% endif %}
</ul>
{% if isEditableByCurrentUser %}
    <a href="{{ path('front_garage_edit', {'id': garage.id}) }}" class="text-underline">Modifier mon garage</a>
{% endif %}
