{% set balise = balise|default('div') %}
{% set buttonClass = buttonClass|default('') %}
{% set icontel = icontel|default('icon-tel') %}
{% set disabledLoggedProtection = disabledLoggedProtection|default(false) %}
{% set showphone_action = showphone_subaction|default('') is not empty ? 'SP '~showphone_subaction:'SP' %}
{% set phoneOwner = phoneOwner|default(null) %}
{% set textDisplay = textDisplay|default(null) %}

<{{ balise }} class="primary-color {{ icontel }} {{ buttonClass }}">
{% if isLogged or disabledLoggedProtection %}
    {% if is_mobile() %}
        <a href="tel:{{ phoneNumber }}" rel="noopener noreferrer" class="js-callphone-action text-underline"
           data-href="{{ path('front_show_number') }}" data-wtaction="{{ showphone_action }}"
           data-wtfrom="{{ app.user|wtFromDataAttrValue }}" data-wtto="{{ phoneOwner|wtToDataAttrValue }}">{{ "global.button.call"|trans }}</a>
        {% if textDisplay is not empty %}&nbsp;<span class="body-font-color">{{ textDisplay }}</span>{% endif %}
    {% else %}
        <span class="js-see-number js-showphone-action text-underline" data-href="{{ path('front_show_number') }}"
              data-wtaction="{{ showphone_action }}" data-wtfrom="{{ app.user|wtFromDataAttrValue }}"
              data-wtto="{{ phoneOwner|wtToDataAttrValue }}">{{ "global.button.see_phone_number"|trans }}</span>
        <span class="js-phone-number is-hidden text-underline">{{ phoneNumber|phoneFormat }}</span>
        {% if textDisplay is not empty %}&nbsp;<span class="body-font-color">{{ textDisplay }}</span>{% endif %}
    {% endif %}
{% else %}
    {% if is_mobile() %}
        <span class="text-underline" data-wtaction="{{ showphone_action }}"
              data-wtfrom="{{ app.user|wtFromDataAttrValue }}" data-wtto="{{ phoneOwner|wtToDataAttrValue }}"
              data-tooltip title="{{ 'phone_number.tooltip.call'|trans }}" data-position="bottom">
            {{ "global.button.call"|trans }}</span>
    {% else %}
        <span class="text-underline" data-wtaction="{{ showphone_action }}"
              data-wtfrom="{{ app.user|wtFromDataAttrValue }}" data-wtto="{{ phoneOwner|wtToDataAttrValue }}"
              data-tooltip title="{{ 'phone_number.tooltip.display'|trans }}" data-position="bottom" >
            {{ "global.button.see_phone_number"|trans }}</span>
    {% endif %}
{% endif %}
</{{ balise  }}>