{% set balise = balise|default('div') %}
{% set disabledLoggedProtection = disabledLoggedProtection|default(false) %}
{% set textDisplay = textDisplay|default(null) %}
{# Version texte souligné #}
<{{ balise  }}>
{% if isLogged or disabledLoggedProtection %}
    <span class="show-for-medium phone-number-link {{ icontel|default('icon-tel') }} {{ buttonClass|default('') }}">
        <span class="js-see-number text-underline" id="PC{{ phoneNumber_eventId }}"
              data-href="{{ path('front_show_number') }}">{{ "global.button.see_phone_number"|trans }}</span>
        <span class="js-phone-number text-underline is-hidden">{{ phoneNumber|phoneFormat }}</span>
        {% if textDisplay is not empty %}&nbsp;<span class="body-font-color">{{ textDisplay }}</span>{% endif %}
    </span>
    <a href="tel:{{ phoneNumber }}" rel="noopener noreferrer"
       class="hide-for-medium phone-number-link {{ icontel|default('icon-tel') }} {{ buttonClass|default('') }}">
        <span id="Smartphone{{ phoneNumber_eventId }}" data-href="{{ path('front_show_number') }}" class="text-underline">{{ "global.button.call"|trans }}</span>
        {% if textDisplay is not empty %}&nbsp;<span class="body-font-color">{{ textDisplay }}</span>{% endif %}
    </a>
{% else %}
    <span class="phone-number-link {{ icontel|default('icon-tel') }} {{ buttonClass|default('') }}">
        <span class="show-for-medium text-underline" data-tooltip title="{{ 'phone_number.tooltip.display'|trans }}" data-position="bottom" >{{ "global.button.see_phone_number"|trans }}</span>
        <span class="hide-for-medium text-underline" data-tooltip title="{{ 'phone_number.tooltip.call'|trans }}" data-position="bottom" >{{ "global.button.call"|trans }}</span>
    </span>
{% endif %}
</{{ balise  }}>

{# Version bouton
<button id="{{ phoneNumber_eventId }}" class="js-phone-number-button button phone-number-button center {{ buttonClass|default('') }}">
    <span class="js-see-number icon-tel {{ contentClass|default('') }}">{{ "global.button.see_phone_number"|trans }}</span>
    <span class="js-phone-number icon-tel is-hidden {{ contentClass|default('') }}">{{ phoneNumber }}</span>
</button>#}
