{% extends 'front/User/includes/seller_pro_item.html.twig' %}

{% set seller = membership.proUser %}
{% set sellerIsCurrentUser = seller.is(app.user)%}

{% block bottomContainer %}
    <div class="tag-container text-center">
        {% set nbProSpeciality = seller.proUserSpecialities|length %}
        {% for proSpeciality in seller.proUserSpecialities(highlightSpecialities ?? [])|slice(0,2) %}
            <a href="{{ path('front_directory_by_service_view', {'speciality': proSpeciality.proService.slug}) }}"
               class="tag">{{ proSpeciality.proService.name }}</a>
        {% endfor %}
        {% if nbProSpeciality > 2 %}
            <a href="{{ path('front_view_pro_user_info', {'slug': seller.slug}) }}"
               class="tag">+{{ nbProSpeciality - 2 }}</a>
        {% endif %}
    </div>

    <div class="margin-top-1 text-center">
        {% if sellerIsCurrentUser %}
            <a href="{{ path('front_edit_user_info') }}" class="button small full-width">
                {{ 'user.profile.edit.action'|trans }}
            </a>
        {% elseif isAdministrableByCurrentUser %}
            <a href="{{ path('front_garage_unassign', {'garage_id':garage.id,'user_id':seller.id}) }}"
               class="js-confirm-box button small full-width input-margin-small"
               data-id="detach-{{ seller.id }}"
               data-title="Attention!"
               data-message="Confirmez-vous le détachement de ce membre de ce garage ?">
                {{ 'user.garage.remove_member'|trans }}</a>
            <a href="{{ path('front_garage_toogle_member_role', {'garage_id':garage.id,'user_id':seller.id}) }}"
               class="js-confirm-box button small full-width"
               data-id="detach-{{ seller.id }}"
               data-title="Attention!"
               data-message="Confirmez-vous l'action de changer le rôle de ce membre ?">
                {% if membership.role.value == constant('Wamcar\\Garage\\Enum\\GarageRole::GARAGE_ADMINISTRATOR') %}
                    {{ 'user.garage.toogle_role.to_simple_membre'|trans }}
                {% else %}
                    {{ 'user.garage.toogle_role.to_administrator'|trans }}
                {% endif %}
            </a>
        {% endif %}
    </div>
{% endblock bottomContainer %}