<figure class="block-grid align-middle" role="group">
    <a href="{{ path('front_garage_view', {'id': garage.id}) }}" class="brand-logo is-logo">
        <img src="{{ garage|logo('garage_mini_logo') }}" alt="{{ garage.name }}">
    </a>
    <div>
        <a href="{{ path('front_garage_view', {'id': garage.id}) }}" class="primary-color h3"><b>{{ garage.name }}</b></a><br>
        <span>{{ garage.address.cityName|upper }}</span>
        {% set garageRating = garage.googleRating %}
        {{ include('front/Garages/Detail/includes/google_rating.html.twig', {poweredByGoogleDisplay : true}) }}
    </div>
</figure>