<div>
    <figure class="block-grid" role="group">
        <a href="{{ path('front_garage_view', {'id': garage.id}) }}" class="brand-logo is-logo align-self-top">
            <img src="{{ garage|logo('garage_mini_logo') }}" alt="{{ garage.name }}">
        </a>
        <div class="garage-summary-card">
            <a href="{{ path('front_garage_view', {'id': garage.id}) }}" class="primary-color h3 text-wrap "><b>{{ garage.name }}</b></a><br>
            <span>{{ garage.address.cityName|upper }}</span>
            {{ include('front/Garages/Detail/includes/google_rating.html.twig', {
                garageRating : garage.googleRating,
                poweredByGoogleDisplay : true,
                garageId : garage.id
            }) }}
        </div>
    </figure>
</div>