{% set garageReviews = garageReviews|default(null) %}

<div class="column">
    <h2>{{ 'garage.opinions.title'|trans }}</h2>
    {% if garageReviews is not null %}
        <ul class="no-bullet">
            {% for review in garageReviews %}
                <li class="review">
                    <figure class="block-grid align-top" role="group">
                        <a href="{{ review.author_url }}" class="seller-pic" target="_blank">
                            <img src="{{ review.profile_photo_url }}" alt="{{ review.author_name }}"></a>
                        <div>
                            <a href="{{ review.author_url }}" class="primary-color h3" target="_blank"><b>{{ review.author_name }}</b></a>
                            {{ include('front/Garages/Detail/includes/google_rating.html.twig', {'garageRating' : review.rating}) }}
                            <small>{{ review.relative_time_description }}</small>
                        </div>
                    </figure>
                    <p class="review-text">{{ review.text }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ 'garage.opinions.no_opinion'|trans }}</p>
    {% endif %}
</div>
