<div class="column small-12">
    <h2 class="column"><span class="primary-color">{{ garage.proVehicles|length }}</span> véhicule{{ garage.proVehicles|length > 1 ? 's' : '' }} en vente</h2>
    {% if garage.proVehicles|length > 0 %}
        {% if isEditableByCurrentUser %}
            <div class="block-grid column small-12 align-middle input-margin">
                <div class="show-for-medium small-12 medium-shrink medium-right">
                    <a href="{{ path('front_vehicle_pro_add',{'garage_id':garage.id}) }}" class="button add icon-plus">{{ 'vehicle.add'|trans }}</a>
                </div>
            </div>
        {% endif %}

        {% set balise = 'h3' %}
        {% set vehiclesToList = garage.proVehicles %}
        {% include 'front/Vehicle/Listing/includes/list.html.twig' %}
        <br>
        <div class="block-grid small-12 align-middle input-margin">
            <div class="small-12 medium-6">
                {% include 'front/Layout/includes/pagination.html.twig' %}
        </div>
    {% else %}
        {% if isEditableByCurrentUser %}
            <p>Vous n'avez aucun véhicule en vente.</p>
            <div class="small-12 medium-6 large-4">
                <a href="{{ path('front_vehicle_pro_add',{'garage_id':garage.id}) }}" class="button add icon-plus">{{ 'vehicle.add'|trans }}</a>
            </div>
        {% else %}
            <p>Aucun véhicule n'est en vente.</p>
        {% endif %}
    {% endif %}
</div>