{% if displayNbOfResult is not defined or displayNbOfResult or isEditableByCurrentUser %}
    {% set titleClass = titleClass|default('block-grid column small-12 align-bottom input-margin') %}
    <div class="">
        {% if displayNbOfResult is not defined or displayNbOfResult %}
            <h2>
                <span class="primary-color">{{ vehicles.totalHits }}</span> {{ 'garage.tabs.vehicles.list.title'|transchoice(vehicles.totalHits) }}
            </h2>
        {% endif %}
    </div>
{% endif %}

{% if searchForm is not null %}
    {% set searchFormAttr = searchForm.vars.submitted ? {'data-scroll-to-now':'vehicles'}:{} %}
    {{ form_start(searchForm, {'attr':{
        'id' : 'js-garage-vehicle-search-form'
    }|merge(searchFormAttr)}) }}

    <div class="row">
        <div class="column small-12 medium-auto">
            {{ form_widget(searchForm.text, {
                'class':'',
                'label':'search.common.field.text.label'|trans,
                'label_class':'show-for-sr',
                'required' : false,
                'required_class': 'show-for-sr',
                'placeholder':'search.common.field.text.placeholder'|trans
            }) }}
        </div>
        <div class="column small-12 medium-shrink input-margin medium-no-margin ">
            <button type="submit" class="button primary-button no-margin full-width">{{ 'global.button.search'|trans }}</button>
        </div>
    </div>

    {{ form_end(searchForm) }}
{% endif %}

{% if vehicles.totalHits > 0 %}
    {% include 'front/Vehicle/Listing/includes/list_peexeo.html.twig' with {
        'vehiclesToList': vehicles.hits,
        'balise' : 'h3'
    } %}

    {% set tabVehiclesPaginationBlock %}
        {%- include 'front/Layout/includes/pagination.html.twig' with {
            'route': pagination_route,
            'route_params': pagination_route_params,
            'page': page,
            'lastPage': lastPage
        } -%}
    {% endset %}
    {% if tabVehiclesPaginationBlock is not empty %}
        <br>
        <div class="block-grid small-12 align-middle input-margin">
            <div class="small-12">
                {{ tabVehiclesPaginationBlock }}
            </div>
        </div>
    {% endif %}
{% else %}
    {% if searchForm is not null and searchForm.vars.submitted %}
        <p>{{ 'garage.tabs.vehicles.list.empty_result'|trans }}</p>
    {% elseif currentUserIsMemberOfGarage %}
        <p>{{ 'garage.tabs.vehicles.list.member_empty'|trans }}</p>
    {% else %}
        <p>{{ 'garage.tabs.vehicles.list.empty_list'|trans }}</p>
    {% endif %}
{% endif %}
