{# Les éléments commentés ne doivent pas être supprimés. Ils seront implémenté dans un second temps #}
<div class="column small-12">
    <div class="block-grid">
        {# <div class="small-12 medium-6"> #}
        <div class="small-12">
            {# <h2 class="column large-collapse">Vendeur</h2> #}
            <ul class="seller-list no-bullet no-margin">
                {% for membership in garage.members %}
                    {% set userIsMe = membership.proUser.is(app.user) %}
                    {% set userIsGarageAdministrator = is_granted(constant("AppBundle\\Security\\Voter\\GarageVoter::ADMINISTRATE"),membership.garage) %}

                    {% if ( (garage.optionAdminVisible or membership.role.value != constant('Wamcar\\Garage\\Enum\\GarageRole::GARAGE_ADMINISTRATOR') )
                            and membership.requestedAt is null) or userIsMe or userIsGarageAdministrator %}
                        <li>
                            <a href="{{ path('front_view_pro_user_info', {'slug': membership.proUser.slug}) }}" >
                                <figure class="block-grid align-middle" role="group">
                                    <span class="user-thumbnail-mini margin-right-1">
                                        <img src="{{ membership.proUser.avatar|avatar('user_mini_thumbnail', membership.proUser.firstName) }}"
                                             alt="{{ membership.proUser.fullName }}"></span>
                                    <span class="h2">{{ membership.proUser.fullName }}</span>
                                </figure>
                            </a>

                            {% if not garage.optionAdminVisible and membership.role.value == constant('Wamcar\\Garage\\Enum\\GarageRole::GARAGE_ADMINISTRATOR') %}
                                <p><i>{{ 'garage.administrator.invisible'|trans }}</i></p>
                            {% endif %}

                            {% if membership.proUser.description %}
                                <p>{{ membership.proUser.presentationTitle is not null?membership.proUser.presentationTitle }}</p>
                            {% elseif userIsMe %}
                                <p>{{ 'user.presentation.empty'|trans }}</p>
                            {% endif %}

                            {% if userIsMe %}
                                <p class="is-inline-block"><a href="{{ path('front_edit_user_info') }}" class="text-underline">{{ 'user.profile.edit.action'|trans }}</a></p>
                            {% else %}
                                <div class="is-flex">
                                    <span class="icon-message primary-color">
                                        <a href="{{ path('front_conversation_create', {'id': membership.prouser.id}) }}#message-answer-block" class="text-underline"
                                           data-wtaction="LM" data-wtfrom="{{ app.user|wtFromDataAttrValue }}" data-wtto="{{ membership.prouser|wtToDataAttrValue }}">
                                        {{ 'global.button.send_message'|trans }}</a></span>
                                    {% if membership.proUser.phonePro %}
                                        <span class="small-auto medium-shrink">{{ include('front/Garages/Detail/includes/phone_number.html.twig', {
                                                'phoneOwner': membership.proUser,
                                                'phoneNumber': membership.proUser.phonePro,
                                                'showphone_subaction': "2",
                                                'buttonClass': 'margin-left-1'
                                            }) }}</span>
                                    {% endif %}
                                    {% if membership.proUser.phone %}
                                        <span class="small-auto medium-shrink">{{ include('front/Garages/Detail/includes/phone_number.html.twig', {
                                                'phoneOwner': membership.proUser,
                                                'phoneNumber': membership.proUser.phone,
                                                'showphone_subaction': "1",
                                                'buttonClass': 'margin-left-1',
                                                'icontel': 'icon-mobile'
                                            }) }}</span>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if membership.requestedAt is not null %}
                                {% if userIsMe %}
                                    <p class="is-inline-block">
                                        <i class="black-color">{{ 'user.garage.pending_request.member'|trans({'%garage_name%':garage.name}) }}&nbsp;:</i>
                                        <a href="{{ path('front_garage_unassign', {'garage_id':garage.id,'user_id':membership.prouser.id}) }}"
                                           class="text-underline">{{ 'user.garage.cancel_request'|trans }}</a></p>
                                {% else %}
                                    <p class="is-inline-block">
                                        <i class="black-color">{{ 'user.garage.pending_request.administrator'|trans({
                                                '%seller_name%': membership.proUser.fullName,
                                                '%garage_name%': garage.name
                                            }) }}&nbsp;:</i>
                                        <a href="{{ path('front_garage_assign',  {'garage_id':garage.id,'user_id':membership.prouser.id}) }}" class="text-underline">{{ 'user.garage.accept_request'|trans }}</a> -
                                        <a href="{{ path('front_garage_unassign', {'garage_id':garage.id,'user_id':membership.prouser.id}) }}"
                                           class="text-underline">{{ 'user.garage.decline_request'|trans }}</a></p>
                                {% endif %}
                            {% elseif userIsGarageAdministrator and not userIsMe%}
                                <p class="is-inline-block">
                                    <a href="{{ path('front_garage_unassign', {'garage_id':garage.id,'user_id':membership.prouser.id}) }}"
                                       class="js-confirm-box text-underline"
                                       data-id="detach-{{ membership.prouser.id }}"
                                       data-title="Attention!"
                                       data-message="Confirmez-vous le détachement de ce membre de ce garage ?">
                                        {{ 'user.garage.remove_member'|trans }}</a>
                                    <br>
                                    <a href="{{ path('front_garage_toogle_member_role', {'garage_id':garage.id,'user_id':membership.prouser.id}) }}"
                                       class="js-confirm-box text-underline"
                                       data-id="detach-{{ membership.prouser.id }}"
                                       data-title="Attention!"
                                       data-message="Confirmez-vous l'action de changer le rôle de ce membre ?">
                                        {% if membership.role.value == constant('Wamcar\\Garage\\Enum\\GarageRole::GARAGE_ADMINISTRATOR') %}
                                            {{ 'user.garage.toogle_role.to_simple_membre'|trans }}
                                        {% else %}
                                            {{ 'user.garage.toogle_role.to_administrator'|trans }}
                                        {% endif %}
                                    </a></p>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
                {% if isUserPro and not app.user.isMemberOfGarage(garage, true) %}
                    <li>
                        <a href="{{ path('front_garage_request_to_join', {'garage_id': garage.id}) }}" class="text-underline">{{ 'garage.action.join'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if inviteSellerForm is not null %}
            <div class="small-12">
                <h2>{{ 'garage.assignation.invitation.title'|trans({
                        '%garage_name%':garage.name
                    }) }}</h2>
                <div>
                    {{ form_start(inviteSellerForm, {
                        'action' : path('front_garage_view', {'slug':garage.slug,'_fragment':'sellers'}),
                        'attr' : {
                            'id' : 'js-garage-member-invitation-form',
                            'data-abide' : 'data-abide',
                            'novalidate' : 'novalidate'
                        }
                    } ) }}
                    <div class="column">
                        <div class="row">
                            <div class="column small-12 input-margin">
                                {{ form_widget(inviteSellerForm.emails, {
                                    'class':'js-garage-pro-invitation-emails',
                                    'label':'garage.assignation.invitation.field.email.label'|trans,
                                    'label_class':'show-for-sr',
                                    'required' : true,
                                    'required_message': 'garage.assignation.invitation.field.email.error.empty'|trans,
                                    'multiple':'multiple',
                                    'attr':{
                                        'data-placeholder':'garage.assignation.invitation.field.email.placeholder'|trans
                                    }
                                }) }}
                                <small><i>{{ 'garage.assignation.invitation.field.email.instruction'|trans }}</i></small>
                            </div>
                            <div class="column small-12 input-margin">
                                <button type="submit" class="button no-margin full-width">{{ 'global.button.invite'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(inviteSellerForm ) }}
                </div>
            </div>
        {% endif %}
        {% if isEditableByCurrentUser %}
            <p>{{ 'garage.administrator.contact'|trans({
                    '%contactUrl%': url('contact'),
                    '%garage_name%': garage.name
                })|raw }}</p>
        {% endif %}
    </div>
</div>
