{# Les éléments commentés ne doivent pas être supprimés. Ils seront implémenté dans un second temps #}
<div class="column small-12">
    <div class="block-grid">
        {# <div class="small-12 medium-6"> #}
        <div class="small-12">
            {# <h2 class="column large-collapse">Vendeur</h2> #}
            <ul class="seller-list no-bullet no-margin">
                {% for membership in garage.members %}
                    {% set userIsMe = membership.proUser.is(app.user) %}
                    {% set userIsGarageAdministrator = is_granted(constant("AppBundle\\Security\\Voter\\GarageVoter::ADMINISTRATE"),membership.garage) %}

                    {% if membership.requestedAt is null or userIsMe or userIsGarageAdministrator %}
                        <li>
                            <a href="{{ path('front_view_user_info', {'id': membership.proUser.id}) }}" >
                                <figure class="block-grid align-middle" role="group">
                                    <span class="user-thumbnail-mini margin-right-1">
                                        <img src="{{ membership.proUser.avatar|avatar('user_mini_thumbnail') }}"
                                             alt="{{ membership.proUser.fullName }}"></span>
                                    <span class="h2">{{  membership.proUser.fullName }}</span>
                                </figure>
                            </a>

                            {% if membership.proUser.description %}
                                <p>{{ membership.proUser.description|nl2br }}</p>
                            {% elseif userIsMe %}
                                <p>Présentez-vous en quelques mots, votre rôle, parcours, votre société, etc. Renseigner le plus d'information possible pour faciliter la confiance dans le dialogue avec vos clients.</p>
                            {% endif %}
                            {% if not isLogged %}
                                <p class="is-inline-block"><a href="{{ path('security_login_page') }}" class="text-underline">{{ 'global.button.send_message'|trans }}</a></p>
                            {% elseif isUserPersonal %}
                                <p class="is-inline-block"><a href="{{ path('front_conversation_create', {'id': membership.prouser.id}) }}#message-answer-block" class="text-underline">{{ 'global.button.send_message'|trans }}</a></p>
                            {% endif %}
                            {% if membership.requestedAt is not null %}
                                {% if userIsMe %}
                                    <p class="is-inline-block">
                                        <i class="black-color">{{ 'user.garage.pending_request.member'|trans }}&nbsp;:</i>
                                        <a href="{{ path('front_garage_unassign', {'garage_id':garage.id,'user_id':membership.prouser.id}) }}"
                                           class="text-underline">{{ 'user.garage.cancel_request'|trans }}</a></p>
                                {% else %}
                                    <p class="is-inline-block">
                                        <i class="black-color">{{ 'user.garage.pending_request.administrator'|trans({
                                                '%seller_name%': membership.proUser.fullName,
                                                '%garage_name%': garage.name
                                            }) }}&nbsp;:</i>
                                        <a href="{{ path('front_garage_assign',  {'garage_id':garage.id,'user_id':membership.prouser.id}) }}" class="text-underline">{{ 'user.garage.accept_request'|trans }}</a> -
                                        <a href="{{ path('front_garage_unassign', {'garage_id':garage.id,'user_id':membership.prouser.id}) }}"
                                           class="text-underline">{{ 'user.garage.decline_request'|trans }}</a></p>
                                {% endif %}
                            {% elseif userIsGarageAdministrator and not userIsMe%}
                                <p class="is-inline-block">
                                    {# TODO ajouter une popup de confirmation #}
                                    <a href="{{ path('front_garage_unassign', {'garage_id':garage.id,'user_id':membership.prouser.id}) }}"
                                       class="text-underline">{{ 'user.garage.remove_member'|trans }}</a></p>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
                {% if isUserPro and not app.user.isMemberOfGarage(garage, true) %}
                    <li>
                        <a href="{{ path('front_garage_request_to_join', {'garage_id': garage.id}) }}" class="text-underline">{{ 'garage.action.join'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if inviteSellerForm is not null %}
            <div class="small-12">
                <h2>{{ 'garage.assignation.invitation.title'|trans({
                        '%garage_name%':garage.name
                    }) }}</h2>
                <div>
                    {{ form_start(inviteSellerForm, {
                        'action' : path('front_garage_view', {'id':garage.id,'_fragment':'sellers'})
                    } ) }}
                    <div class="column">
                        <div class="row">
                            <div class="column small-12 medium-auto">
                                {{ form_widget(inviteSellerForm.emails, {
                                    'class':'js-garage-pro-invitation-emails',
                                    'label':'garage.assignation.invitation.field.email.label'|trans,
                                    'label_class':'show-for-sr',
                                    'required' : false,
                                    'required_class': 'show-for-sr',
                                    'multiple':'multiple',
                                    'attr':{
                                        'placeholder':'garage.assignation.invitation.field.email.placeholder'|trans
                                    }
                                }) }}
                            </div>
                            <div class="column small-12 medium-shrink input-margin medium-no-margin ">
                                <button type="submit" class="button no-margin full-width">{{ 'global.button.invite'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(inviteSellerForm ) }}
                </div>
            </div>
        {% endif %}
        {% if isEditableByCurrentUser %}
            <p>{{ 'garage.administrator.contact'|trans({
                    '%contactUrl%': url('contact'),
                    '%garage_name%': garage.name
                })|raw }}</p>
        {% endif %}
        {# <div class="column small-12 medium-6 large-collapse">
            <h2 class="separator-for-small">Inviter un vendeur</h2>
            <p>Indiquer les adresses email des vendeurs que vous souhaiter inviter dans votre garage. Ils receveront un email pour se connecter sur Wamcar.</p>
            {% include 'front/Garages/Detail/includes/form_invitation.html.twig' %}
        </div> #}
    </div>
</div>
