{% if searchForm is not null %}
    {% set searchFormAttr = searchForm.vars.submitted ? {'data-scroll-to-now':'vehicles'}:{} %}
    {{ form_start(searchForm, {'attr':{
        'id' : 'js-garage-vehicle-search-form'
    }|merge(searchFormAttr)}) }}

    <div class="row">
        <div class="column small-12 medium-auto">
            {{ form_widget(searchForm.text, {
                'class':'',
                'label':'search.common.field.text.label'|trans,
                'label_class':'show-for-sr',
                'required' : false,
                'required_class': 'show-for-sr',
                'placeholder':'search.common.field.text.placeholder'|trans
            }) }}
        </div>
        <div class="column small-12 medium-shrink input-margin medium-no-margin ">
            <button type="submit" class="button no-margin full-width">{{ 'global.button.search'|trans }}</button>
        </div>
    </div>

    {{ form_end(searchForm) }}
{% endif %}

<div class="block-grid column small-12 align-bottom">
    {% if displayNbOfResult is not defined or displayNbOfResult %}
        <h2>
            <span class="primary-color">{{ vehicles.totalHits }}</span> {{ 'garage.tabs.vehicles.list.title'|transchoice(vehicles.totalHits) }}
        </h2>
    {% endif %}
    {% if isEditableByCurrentUser %}
    <div class="small-12 medium-shrink medium-right">
        <a href="{{ path('front_vehicle_pro_add',{'garage_id':garage.id}) }}" class="button add icon-plus">{{ 'vehicle.add'|trans }}</a>
    </div>
    {% endif %}
</div>

{% if vehicles.totalHits > 0 %}
    {% set balise = 'h3' %}
    {% set vehiclesToList = vehicles.hits %}
    {% include 'front/Vehicle/Listing/includes/list_peexeo.html.twig' %}

    {% set tabVehiclesBlock %}
        {%- include 'front/Layout/includes/pagination.html.twig' with {
            'route': pagination_route,
            'route_params': pagination_route_params,
            'page': page,
            'lastPage': lastPage
        } -%}
    {% endset %}
    {% if tabVehiclesBlock is not empty %}
        <br>
        <div class="block-grid small-12 align-middle input-margin">
            <div class="small-12">
                {{ tabVehiclesBlock }}
            </div>
        </div>
    {% endif %}
{% else %}
    {% if searchForm is not null and searchForm.vars.submitted %}
        <p>{{ 'garage.tabs.vehicles.list.empty_result'|trans }}</p>
    {% elseif currentUserIsMemberOfGarage %}
        <p>{{ 'garage.tabs.vehicles.list.member_empty'|trans }}</p>
    {% else %}
        <p>{{ 'garage.tabs.vehicles.list.empty_list'|trans }}</p>
    {% endif %}
{% endif %}
