{% extends 'front/Layout/layout.html.twig' %}

{% set page_garage = true %}

{% block mainClass %}no-padding-top light-gray-peexeo-bg{% endblock %}

{% block title %}{{ is_granted(constant('Symfony\\Component\\Security\\Core\\Authorization\\Voter\\AuthenticatedVoter::IS_AUTHENTICATED_REMEMBERED')) and app.user.isPro and app.user.isMemberOfGarage(garage) ? 'garage.my_garage'|trans : garage.name}}{% endblock %}
{% block canonical %}{{ url('front_garage_view', {'slug':garage.slug}) }}{% endblock canonical %}

{% set seo_img_url = garage|banner('garage_banner') %}
{% set image_alt = garage.name %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% set garageReviews = (garagePlaceDetail is not null and garagePlaceDetail.reviews is defined and garagePlaceDetail.reviews|length > 0)?garagePlaceDetail.reviews:null %}

{% if (searchForm is not null and searchForm.vars.submitted) or vehicles.totalHits > 0 or currentUserIsMemberOfGarage %}
    {% set activeTab = "vehicles" %}
{% elseif garage.presentation or isEditableByCurrentUser %}
    {% set activeTab = "about" %}
{% elseif garageReviews is not null  %}
    {% set activeTab = "opinions" %}
{% else %}
    {% set activeTab = "sellers" %}
{% endif %}

{% block body %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    <div class="row">
        <div class="garage-container block-grid small-12">
            <header class="column small-collapse small-12 large-4 large-uncollapse">
                <div class="garage-header block-grid">
                    {% include 'front/Garages/Detail/includes/picture.html.twig' %}
                    {% include 'front/Garages/Detail/includes/logo.html.twig' %}
                    <div class="garage-infos medium-9 large-12">
                        {% include 'front/Garages/Detail/includes/infos.html.twig' %}
                    </div>
                </div>
            </header>

            <section class="column small-12 small-collapse large-8 large-uncollapse xlarge-right-collapse">
                <div class="js-banner-full-container">
                    <div class="js-banner-full banner-full is-hidden" aria-hidden="true"></div>
                    <div id="js-move-garage-picture"></div>
                    <ul id="js-garage-tabs" class="tabs" data-tabs data-deep-link="true" data-update-history="true">
                        {% if (searchForm is not null and searchForm.vars.submitted) or vehicles.totalHits > 0 or currentUserIsMemberOfGarage %}
                            <li class="tabs-title {{ activeTab == "vehicles"?'is-active':'' }}"><a href="#vehicles" aria-selected="true">{{ "garage.tabs.vehicles.title"|trans }}</a></li>
                        {% endif %}
                        {% if garage.presentation or isEditableByCurrentUser %}
                            <li class="tabs-title {{ activeTab == "about"?'is-active':'' }}"><a data-tabs-target="about" href="#about">{{ "garage.tabs.about"|trans }}</a></li>
                        {% endif %}
                        {% if garageReviews is not null %}
                            <li class="tabs-title {{ activeTab == "opinions"?'is-active':'' }}"><a data-tabs-target="opinions" href="#opinions">{{ "garage.tabs.opinions.title"|trans }}</a></li>
                        {% endif %}
                        <li class="tabs-title {{ activeTab == "sellers"?'is-active':'' }}"><a data-tabs-target="sellers" href="#sellers">{{ 'garage.tabs.sellers'|trans }}</a></li>
                    </ul>
                </div>
                <div class="tabs-content" data-tabs-content="js-garage-tabs">
                    {% if (searchForm is not null and searchForm.vars.submitted) or vehicles.totalHits > 0 or currentUserIsMemberOfGarage %}
                        <div id="vehicles" class="tabs-panel {{ activeTab == "vehicles"?'is-active':'' }} light-gray-peexeo-bg">
                            <div class="tab-panel-vehicles">
                            {% include 'front/Garages/Detail/includes/tabs_vehicles.html.twig' with {
                                'columnsSizes' : 'small-up-2 medium-up-3',
                                'pagination_route': 'front_garage_view',
                                'pagination_route_params': {'slug':garage.slug}
                            } %}
                            </div>
                        </div>
                    {% endif %}
                    {% if garage.presentation or isEditableByCurrentUser %}
                        <div id="about" class="tabs-panel {{ activeTab == "about"?'is-active':'' }}">
                            {% include 'front/Garages/Detail/includes/tabs_about.html.twig' %}
                        </div>
                    {% endif %}
                    {% if garageReviews is not null %}
                        <div id="opinions" class="tabs-panel {{ activeTab == "opinions"?'is-active':'' }}">
                            {% include 'front/Garages/Detail/includes/tabs_opinions.html.twig' %}
                        </div>
                    {% endif %}
                    <div id="sellers" class="tabs-panel {{ activeTab == "sellers"?'is-active':'' }}">
                        {% include 'front/Garages/Detail/includes/tabs_sellers.html.twig' %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock body %}

