<li><a href="{{ path('front_view_current_user_info') }}">{{ 'header.common.my_profile'|trans }}</a></li>

{% if not app.user.hasGarage %}
    <li><a href="{{ path('front_garage_create') }}">{{ 'header.pro.my_garage'|trans }}</a></li>
{% elseif app.user.garageMemberships|length == 1 %}
    <li>
        <a href="{{ path('front_garage_view', {'id': app.user.garageMemberships.first.garage.id}) }}">{{ 'header.pro.my_garage'|trans }}</a>
    </li>
{% else %}
    <li>
        <a href="#">{{ 'header.pro.my_garages'|trans }}</a>
        <ul class="menu">
            {% for garageMemberShip in app.user.garageMemberships %}
                <li><a href="{{ path('front_garage_view', {'id': garageMemberShip.garage.id}) }}" class="logo-garage">
                        <img src="{{ garageMemberShip.garage|logo('garage_mini_logo') }}"
                             class="small-2 logo-mini align-self-top" alt="Logo {{ garageMemberShip.garage.name }}">
                        &nbsp;{{ garageMemberShip.garage.name }} - {{ garageMemberShip.garage.city.name }}
                    </a></li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if not app.user.hasGarage %}
    {# Astuce : Pas de possibilité d'ajouter un véhicule avant d'avoir créer le garage => Redirection vers page de création d'un garage avec message dans l'action #}
    <li>
        <a href="{{ path('front_vehicle_pro_add', {'garage_id':0}) }}">{{ 'header.anonyme.sell'|trans }}</a>
    </li>
{% elseif app.user.garageMemberships|length == 1 %}
    <li>
        <a href="{{ path('front_vehicle_pro_add', {'garage_id': app.user.garageMemberships.first.garage.id}) }}">{{ 'header.anonyme.sell'|trans }}</a>
    </li>
{% else %}
    <li>
        <a href="#">{{ 'header.anonyme.sell'|trans }}</a>
        <ul class="menu">
            {% for garageMemberShip in app.user.garageMemberships %}
                <li>
                    <a href="{{ path('front_vehicle_pro_add', {'garage_id': garageMemberShip.garage.id}) }}"
                       class="logo-garage">
                        <img src="{{ garageMemberShip.garage|logo('garage_mini_logo') }}"
                             class="small-2 logo-mini align-self-top"
                             alt="Logo {{ garageMemberShip.garage.name }}">
                        &nbsp;{{ garageMemberShip.garage.name }}
                        - {{ garageMemberShip.garage.city.name }}
                    </a></li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

<li><a href="{{ path('front_search',{'search_vehicle':{'tab':constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::TAB_PERSONAL')}}) }}">{{ 'header.anonyme.see_search'|trans }}</a></li>

<li class="menu-separator"></li>

<li><a href="{{ path('security_logout') }}">{{ 'global.button.logout'|trans }}</a></li>