{% extends 'front/Vehicle/Listing/includes/vehicle_item.html.twig' %}

{% set balise = balise|default('h3') %}

{% block right_action %}{% endblock %}
{% block complementary_block %}
    <div class="vehicle-user-infos small-12 medium-auto">
        <div class="small-12 dark-gray-color align-self-top">
            <div>
                <b>{{ 'sales.item.garage'|trans }}</b>
                <a href="{{ path('front_garage_view', {'slug':vehicle.garage.slug}) }}"
                   class="dark-gray-color">{{ vehicle.garageName }}</a>
            </div>
            <div>
                {% if vehicle.saleStatus is null %}
                    <b>{{ 'sales.item.declare_as'|trans }}</b>
                    <ul>
                    {% for saleStatusValue in saleStatus() %}
                        <li><a href="{{ path('front_sale_declaration', {'id': vehicle.id , 'saleStatus': saleStatusValue}) }}">{{ saleStatusValue|trans({}, 'enumeration') }}</a></li>
                    {% endfor %}
                    </ul>

                {% else %}
                    <b class="primary-color">{{ 'sales.item.declared_as'|trans({'%salestatus%':vehicle.salestatus|trans({}, 'enumeration')|lower}) }}</b>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}