{% set formContainerClass = formContainerClass|default('') %}

{% set responsiveDomBreakpoint = responsiveDomBreakpoint|default('medium') %}
{% if responsiveDomBreakpoint == 'medium' %}
    {% set buttonVisibilyClass = 'hide-for-medium' %}
    {% set responsiveDomSize = '640' %}
{% elseif responsiveDomBreakpoint == 'large' %}
    {% set buttonVisibilyClass = 'hide-for-large' %}
    {% set responsiveDomSize = '1024' %}
{% else %}
    {% set buttonVisibilyClass = '' %}
    {% set responsiveDomSize = '100000' %}
{% endif %}


{# On mobile device : button to send a message fixed at screen bottom #}
<div class="user-contact-form {{ buttonVisibilyClass }} block-grid small-12">
    <div class="button-container ">
        <span class="icon-message" data-toggle="contactFormOffCanvas"
        alt="{{ 'global.button.send_message'|trans }}" title="{{ 'global.button.send_message'|trans }}"></span>
    </div>
</div>
<div class="{{ buttonVisibilyClass }}  off-canvas position-bottom is-closed" id="contactFormOffCanvas" data-off-canvas>
    <a class="close-action" aria-label="close contact form" data-close><span aria-hidden="true">&mdash;</span></a>

    <div class="off-canvas-content-element">
        <div class="js-pro-profile-contact-form-container user-contact-form-container {{ formContainerClass }}"
             data-responsivedom-destination="{{ responsiveDomDestination }}"
             data-responsivedom-appendto="{{ responsiveDomAppendTo }}"
             data-responsivedom-mediaquerysize="{{ responsiveDomSize|default('640') }}">
            <h3 class="{{ titleClass|default('') }}">{{ 'user.pro_contact.title'|trans({'%username%' : user.firstName}) }}</h3>
            <button class="{{ buttonVisibilyClass }}  user-contact-form-close-button close-button" aria-label="Close contact form" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>

            {{ form_start(contactForm, {
                'attr': {'class': formClass|default(''), 'data-abide' : 'data-abide','novalidate' : 'novalidate'}
            }) }}
            {% if contactForm.firstname is defined %}
                <div>
                    {{ form_widget(contactForm.firstname, {
                        'label': 'user.pro_contact.form.field.firstname.label'|trans,
                        'label_class': 'show-for-sr',
                        'placeholder': 'user.pro_contact.form.field.firstname.placeholder'|trans
                    }) }}
                    {{ form_errors(contactForm.firstname) }}
                </div>
            {% endif %}
            {% if contactForm.lastname is defined %}
                <div>
                    {{ form_widget(contactForm.lastname, {
                        'label': 'user.pro_contact.form.field.lastname.label'|trans,
                        'label_class': 'show-for-sr',
                        'placeholder': 'user.pro_contact.form.field.lastname.placeholder'|trans
                    }) }}
                    {{ form_errors(contactForm.lastname) }}
                </div>
            {% endif %}
            {% if contactForm.phonenumber is defined %}
                <div>
                    {{ form_widget(contactForm.phonenumber, {
                        'label': 'user.pro_contact.form.field.phonenumber.label'|trans,
                        'label_class': 'show-for-sr',
                        'placeholder': 'user.pro_contact.form.field.phonenumber.placeholder'|trans,
                        'error_message': 'user.pro_contact.form.field.phonenumber.invalid_format'|trans
                    }) }}
                    {{ form_errors(contactForm.phonenumber) }}
                </div>
            {% endif %}
            {% if contactForm.email is defined %}
                <div>
                    {{ form_widget(contactForm.email, {
                        'required': true,
                        'label': 'user.pro_contact.form.field.email.label'|trans,
                        'label_class': 'show-for-sr',
                        'placeholder': 'user.pro_contact.form.field.email.placeholder'|trans
                    }) }}
                    {{ form_errors(contactForm.email) }}
                </div>

            {% endif %}
            {% if contactForm.message is defined %}
                <div>
                    {{ form_widget(contactForm.message, {
                        'label': 'user.pro_contact.form.field.message.label'|trans,
                        'label_class': 'show-for-sr',
                        'placeholder': 'user.pro_contact.form.field.message.placeholder'|trans,
                        'class': 'margin-bottom-0',
                        'help_message': vehicle is defined and vehicle is not null ? 'conversation.answer.field.message.vehicle_help_message'|trans : null,
                        'help_message_class': vehicle is defined and vehicle is not null ? 'margin-top-0' : null
                    }) }}
                    {{ form_errors(contactForm.message) }}
                </div>
            {% elseif contactForm.content is defined %}
                <div>
                    {{ form_widget(contactForm.content, {
                        'label': 'conversation.answer.field.message.label'|trans({
                            '%interlocutorProfilUrl%': (user.isPersonal ?
                            path('front_view_personal_user_info',{'slug':user.slug}):
                            path('front_view_pro_user_info',{'slug':user.slug})),
                            '%interlocutorName%':user.fullName
                        })|raw,
                        'label_class': 'show-for-sr',
                        'placeholder': 'conversation.answer.field.message.placeholder'|trans,
                        'required':'true',
                        'class': 'small margin-bottom-0',
                        'help_message': vehicle is defined and vehicle is not null ? 'conversation.answer.field.message.vehicle_help_message'|trans : null,
                        'help_message_class': vehicle is defined and vehicle is not null ? 'margin-top-0' : null
                    }) }}
                    {{ form_errors(contactForm.content) }}
                </div>
            {% endif %}
            <button type="submit" class="button primary-button full-width">{{ 'global.button.send'|trans }}</button>
            {{ form_end(contactForm) }}
        </div>
    </div>
</div>