{% set title_tag = title_tag|default('h2') %}
{% set table_id = table_id|default('declaredSale-dt') %}

<{{ title_tag }}>{{ 'pro_user_performances.declared_sales.title'|trans }}</{{ title_tag }}>
<table id="{{ table_id }}" class="js-perf-declared-sales-datatable dataTable compact no-wrap row-border"
       style="width: 100%" data-trans="{{ asset('assets/trans-dt/fr_FR.json') }}">
    <thead>
    <tr>
        <th></th>
        <th data-priority="2">{{ 'pro_user_performances.declared_sales.table.date'|trans }}</th>
        <th data-priority="1">{{ 'pro_user_performances.declared_sales.table.name'|trans }}</th>
        <th>{{ 'pro_user_performances.declared_sales.table.vehicle'|trans }}</th>
        <th data-priority="3">{{ 'pro_user_performances.declared_sales.table.sale_price'|trans }}</th>
        <th data-priority="4">{{ 'pro_user_performances.declared_sales.table.partexchange_price'|trans }}</th>
        <th>{{ 'pro_user_performances.declared_sales.table.commentary'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for saleDeclaration in saleDeclarations %}
        <tr>
            <td><span class="icon-plus-circle no-margin"></span></td>
            <td>{{ saleDeclaration.updatedAt|localizeddate('short', 'none') }}</td>
            <td>
                {% if saleDeclaration.leadCustomer is not null and saleDeclaration.leadCustomer.userLead is not null %}
                    {% if saleDeclaration.leadCustomer.userLead.isPro %}
                        <a href="{{ path('front_view_pro_user_info', {'slug': saleDeclaration.leadCustomer.userLead.slug}) }}"
                           target="_blank">{{ saleDeclaration.customerFirstName|title }} {{ saleDeclaration.customerLastName|title }}</a>
                    {% else %}
                        <a href="{{ path('front_view_personal_user_info', {'slug': saleDeclaration.leadCustomer.userLead.slug}) }}"
                           target="_blank">{{ saleDeclaration.customerFirstName|title }} {{ saleDeclaration.customerLastName|title }}</a>
                    {% endif %}
                {% else %}
                    {{ saleDeclaration.customerFirstName|title }} {{ saleDeclaration.customerLastName|title }}
                {% endif %}
            </td>
            <td>{{ saleDeclaration.proVehicle.name??'-' }}</td>
            <td>{{ saleDeclaration.transactionSaleAmount|localizedcurrency('EUR') }}</td>
            <td>{{ saleDeclaration.transactionPartExchangeAmount|localizedcurrency('EUR') }}</td>
            <td>{{ saleDeclaration.transactionCommentary }}</td>
        </tr>
    {% else %}
        <tr>
            <td class="dt-body-center" colspan="7">{{ 'pro_user_performances.declared_sales.table.empty'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>