{% form_theme garageForm 'front/Layout/includes/forms/fields.html.twig' %}

{% extends 'front/Layout/layout.html.twig' %}

{% set page_garage = true %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ isNew ? 'Créer' : 'Editer' }} {{ 'garage.my_garage'|trans }}{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}

    {% include 'front/Layout/includes/breadcrumb.html.twig' %}
    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}

    <div class="row">

        <div class="block-grid small-12">

            {% if not isNew and not isUserAdmin  %}
                <p class="column"><a href="{{ path('front_garage_view', {'id': app.user.garage.id}) }}" class="text-underline">Retour à mon garage</a><br><br></p>
            {% endif %}

            {{ form_start(garageForm, { 'attr' : { 'class': 'small-12', 'data-abide' : '', 'novalidate': 'novalidate'} }) }}
                <div class="block-grid small-12">
                    <h2 class="column small-12">Société</h2>
                    <div class="column small-12 medium-6">
                        {{ form_widget(garageForm.name, {
                            'label': 'Raison sociale',
                            'class': 'medium-no-margin',
                            'required': true,
                            'required_message': 'Veuillez indiquer votre raison sociale.'
                        }) }}
                    </div>
                    <div class="column small-12 medium-6">
                        {{ form_widget(garageForm.siren, {
                            'label': 'Numéro de SIREN',
                            'class': 'small-no-margin',
                            'required': true,
                            'required_message': 'Veuillez indiquer votre numéro de SIREN.'
                        }) }}
                        {{ form_errors(garageForm.siren) }}
                    </div>
                </div>
                <div class="column small-12">
                    <div class="separator">
                        <div class="row small-12">
                            <h2 class="column small-12">Coordonnées</h2>
                            <div class="column small-12 medium-6">
                                {{ form_widget(garageForm.address, {
                                    'label': 'Adresse',
                                    'class': '',
                                    'required': true,
                                    'required_message': 'Veuillez indiquer votre adresse.'
                                }) }}
                            </div>
                            <div class="column small-12 medium-12 large-6">
                                {{ form_widget(garageForm.postalCode, {
                                    'label': 'Code postal',
                                    'class': 'js-city-autocomplete select2-custom-container js-complete-coordinate',
                                    'required': true,
                                    'attr' : {
                                        'data-autocomplete-url': path('front_city_autocomplete'),
                                        'data-city-field': 'garage_cityName',
                                        'data-latitude-field': 'garage_latitude',
                                        'data-longitude-field': 'garage_longitude'
                                    }
                                }) }}
                            </div>
                            {{ form_widget(garageForm.cityName) }}
                            {{ form_widget(garageForm.latitude) }}
                            {{ form_widget(garageForm.longitude) }}
                            <div class="column small-7 medium-9  large-4">
                                {{ form_widget(garageForm.phone, {
                                    'label': 'Téléphone',
                                    'type': 'tel',
                                    'class': 'medium-no-margin',
                                    'required': true
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column small-12">
                    <div class="separator">
                        <div class="row small-12">
                            <h2 class="column small-12">Information</h2>
                            <div class="column small-12 large-6">
                                {{ form_widget(garageForm.presentation, {
                                    'label': 'Présentation',
                                    'class': '',
                                    'required': false
                                }) }}
                            </div>
                            <div class="column small-12 large-6">
                                {{ form_widget(garageForm.openingHours, {
                                    'label': 'Horaires d\'ouverture',
                                    'class': '',
                                    'required': false
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="js-pictures-list" data-preview-src="{{ asset('assets/images/background/bg-plus.svg') }}" class="column small-12 user-form input-margin">
                    <div class="separator">
                        <div class="row small-12">
                            <h2 class="column small-12">Médias</h2>
                            <div class="column small-12 medium-6">
                                {{ form_widget(garageForm.banner, {
                                    'label': 'Bannière (1400x620px)',
                                    'required': false,
                                    'required_class': '',
                                    'classPreview': 'file-preview-garage',
                                    'imgPreview':  app.user.garage|banner('garage_mini_banner')
                                }) }}
                                </div>
                            <div class="column small-12 medium-6">
                                {{ form_widget(garageForm.logo, {
                                    'label': 'Logo (280x280px)',
                                    'required': false,
                                    'required_class': '',
                                    'classPreview': 'file-preview-garage',
                                    'imgPreview':  app.user.garage|logo('garage_logo')
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column small-12">
                    <button type="submit" class="button full-width medium-5 large-4">Enregistrer mes modifications</button>
                </div>
            {{ form_end(garageForm) }}

        </div>

    </div>


{% endblock body %}
