{% trans_default_domain 'garage' %}
{% form_theme garageForm 'front/Layout/includes/forms/fields.html.twig' %}

{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}Editer mon garage{% endblock %}

{% set is_logged = true %}
{% set is_user_pro = true %}
{% set page_garage = true %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}

    {% include 'front/Layout/includes/breadcrumb.html.twig' %}
    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}

    <div class="row">

        <div class="block-grid small-12 xlarge-10 xlarge-offset-1">

            {{ form_start(garageForm, { 'attr' : { 'class': 'small-12', 'data-abide' : '', 'novalidate': 'novalidate'} }) }}
                <div class="block-grid small-12">
                    <h2 class="column small-12">Société</h2>
                    <div class="column small-12 medium-6">
                        {{ form_widget(garageForm.name, {
                            'label': 'Raison sociale',
                            'class': 'medium-no-margin',
                            'required': true,
                            'required_message': 'Veuillez indiquer votre raison sociale.'
                        }) }}
                    </div>
                    <div class="column small-12 medium-6">
                        {{ form_widget(garageForm.siren, {
                            'label': 'Numéro de SIREN',
                            'class': 'small-no-margin',
                            'required': true,
                            'required_message': 'Veuillez indiquer votre numéro de SIREN.'
                        }) }}
                    </div>
                </div>
                <div class="column small-12">
                    <div class="separator">
                        <div class="row small-12">
                            <h2 class="column small-12">Coordonnées</h2>
                            <div class="column small-12 medium-6">
                                {{ form_widget(garageForm.address, {
                                    'label': 'Adresse',
                                    'class': 'large-no-margin',
                                    'required': true,
                                    'required_message': 'Veuillez indiquer votre adresse.'
                                }) }}
                            </div>
                            <div class="column small-5 medium-3 large-2">
                                {{ form_widget(garageForm.postalCode, {
                                    'label': 'Code postal',
                                    'class': 'medium-no-margin',
                                    'required': true
                                }) }}
                            </div>
                            <div class="column small-7 medium-9  large-4">
                                {{ form_widget(garageForm.cityName, {
                                    'label': 'Ville',
                                    'class': 'medium-no-margin',
                                    'required': true
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column small-12">
                    <div class="separator">
                        <div class="row small-12">
                            <h2 class="column small-12">Information</h2>
                            <div class="column small-12 large-6">
                                {{ form_widget(garageForm.presentation, {
                                    'label': 'Présentation',
                                    'class': '',
                                    'required': false
                                }) }}
                            </div>
                            <div class="column small-12 large-6">
                                {{ form_widget(garageForm.openingHours, {
                                    'label': 'Horaires d\'ouverture',
                                    'class': 'small',
                                    'required': false
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="js-pictures-list" class="column small-12 user-form input-margin">
                    <div class="separator">
                        <div class="row small-12">
                            <h2 class="column small-12">Médias</h2>
                            <div class="column small-12 medium-6">
                                <label for="pics-1">Bannière (1400x620px)  <span>Facultatif</span></label>
                                {% set index = 1 %}
                                {% set classPreview = 'small-6 large-8' %}
                                {% set image = 'assets/images/background/bg-plus.svg' %}
                                {% include 'front/Security/Register/includes/file_preview.html.twig' %}
                            </div>
                            <div class="column small-12 medium-6">
                                <label for="pics-2">Logo (280x280px)   <span>Facultatif</span></label>
                                {% set index = 2 %}
                                {% set classPreview = 'small-6 large-4' %}
                                {% set image = 'assets/images/background/bg-plus.svg' %}
                                {% include 'front/Security/Register/includes/file_preview.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column small-12">
                    <button type="submit" class="button full-width medium-5 large-4">Enregistrer mes modifications</button>
                </div>
            {{ form_end(garageForm) }}

        </div>

    </div>


{% endblock body %}
