{% extends 'front/Layout/layout.html.twig' %}

{% block mainClass %}no-padding{% endblock %}

{% block title %}Ajouter un véhicule{% endblock %}

{% block body %}
    <!-- Header -->
    <div class="messages-header vehicle-messages-header">
        <div class="row">
            <div class="small-12 messages-header-title block-grid">
                <a href="{{ path(linkRoute, linkRouteParams) }}#message-answer-block" class="messages-back-btn icon-close"></a>
                <h1 class="primary-color no-margin">Véhicules</h1>
                <a href="{{ app.user.isPro ? path('front_vehicle_pro_add') : path('front_vehicle_personal_add') }}" class="text-underline vehicle-messages-create messages-header-right-link">
                    Créer un véhicule
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12">
            <!-- Vehicle list -->
            <ul class="block-grid vehicle-messages-list no-bullet">
                {% for vehicle in vehicles %}
                <li class="small-12 medium-6 column vehicle-messages-item-wrapper">
                    <a href="{{ path(linkRoute, linkRouteParams|merge({'v': vehicle.id})) }}#message-answer-block" class="vehicle-item is-flex">
                        <div class="vehicle-picture medium-auto">
                            <div class="is-relative">
                                <img src="{{ vehicle.mainPicture|vehiclePicture('vehicle_thumbnail') }}" alt="{{ vehicle.name }}">
                                <div class="vehicle-count-pics">
                                    <span class="icon-pics">{{ vehicle.pictures|length }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="vehicle-infos">
                            <h3 class="vehicle-name h3">{{ vehicle.name }}</h3>
                            <p class="vehicle-model">{{ vehicle.modelName }}</p>
                            <span class="vehicle-years body-font-color">{{ vehicle.years }}, {{ vehicle.mileage|localizednumber }} km</span>
                            <div class="vehicle-bottom block-grid full-width align-middle">
                                <span class="small-6 vehicle-city black-color no-margin">{{ vehicle.cityName }}</span>
                                {% if app.user.isPro %}<strong class="small-6 primary-color">{{ vehicle.price|localizedcurrency('EUR') }}</strong>{% endif %}
                            </div>
                            <div class="vehicle-infos-arrow icon-arrow-right-2"></div>
                        </div>
                    </a>
                </li>
                {% else %}
                    <div class="vehicle-messages-list-empty text-center">
                        {% include 'front/Layout/includes/svg/red_car.html.twig' %}
                        <strong class="is-block">Vous n’avez pas encore de véhicule dans votre garage.</strong>
                        <p>Afin de pouvoir proposer un véhicule à un particulier, vous devez d’abord ajouter un véhicule à la vente.</p>
                        <div class="block-grid">
                            <button class="small-12 medium-offset-2 medium-8 large-offset-4 large-4 button" type="button">Créer un véhicule</button>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
