{%- block choice_widget_collapsed -%}
    {% set id = id|default('') %}
    {% set class = class|default('') %}
    {% set dataType = dataType|default('') %}
    {% set dataToggleId = dataToggleId|default('') %}
    {% set dataFetchUrl = dataFetchUrl|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label_class = label_class|default('') %}
    {% set class_field = class_field|default('') %}
    {% set form = form|default('') %}

    {% if class_field %}
        <div class="{{ class_field }}">
    {% endif %}
    {% if label %}
        <label for="{{ id }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="{{ required_class }}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}
    <select {{ block('widget_attributes') }} class="{{ class }}" {{ required ? 'required' }}
        {{ dataToggleId ? 'data-toggle-id=' ~ dataToggleId ~ '' }}
        {{ dataFetchUrl ? 'data-fetch-url=' ~ dataFetchUrl ~ '' }}
        {{ dataType ? 'data-type=' ~ dataType ~ '' }}
        {{ form ? 'form=' ~ form ~ ''}}
    >
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
    {% if class_field %}
        </div>
    {% endif %}
{%- endblock choice_widget_collapsed -%}

{%- block date_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set value = value|default('') %}
    {% set placeholder = placeholder|default('') %}
    {% set equalTo = equalTo|default('') %}

    {%- if widget == 'single_text' -%}
        {{ block('text_widget') }}
    {%- else -%}
        {% set date_pattern = '<div class="small-12 medium-8"><ul class="row small-up-3 no-bullet no-margin"><li class="column">{{ day }}</li><li class="column">{{ month }}</li><li class="column">{{ year }}</li></li></ul></div>' %}
        {{- date_pattern|replace({
            '{{ year }}':  form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}':   form_widget(form.day),
        })|raw -}}
    {%- endif -%}
{%- endblock date_widget -%}

{%- block email_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set value = value|default('') %}
    {% set placeholder = placeholder|default('') %}
    {% set equalTo = equalTo|default('') %}

    {% if label %}
        <label for="{{ id }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="medium-12 medium-no-margin {{ required_class}}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}
    {% if class_field %}
        <div class="{{ class_field }}">
    {% endif %}
    <input
        type="email"
        {{ block('widget_attributes') }}
        value="{{ value }}"
        class="input {{ class }}"
        placeholder="{{ placeholder }}"
        data-equalto="{{ equalTo }}"
        {{ required ? 'required' }}>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
    {% if class_field %}
        </div>
    {% endif %}
{%- endblock email_widget -%}

{%- block password_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set value = value|default('') %}
    {% set placeholder = placeholder|default('') %}
    {% set equalTo = equalTo|default('') %}
    {% set equalTo_message = equalTo_message|default('') %}

    {% if label %}
        <label for="{{ id }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="{{ required_class }}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}
    {% if class_field %}
        <div class="{{ class_field }}">
    {% endif %}
    <input
        type="password"
        {{ block('widget_attributes') }}
        value="{{ value }}"
        class="input {{ class }}"
        placeholder="{{ placeholder }}"
        {% if equalTo != '' %}data-equalto="{{ equalTo }}"{% endif %}
        {{ required ? 'required' }}>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
    {% if equalTo != '' %}
        <small class="form-error">{{ equalTo_message }}</small>
    {% endif %}
    {% if class_field %}
        </div>
    {% endif %}
{%- endblock password_widget -%}

{%- block text_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set value = value|default('') %}
    {% set placeholder = placeholder|default('') %}
    {% set equalTo = equalTo|default('') %}
    {% set pattern = pattern|default('') %}
    {% set type = type|default('text') %}

    {% if label %}
        <label for="{{ id }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="{{ required_class }}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}
    {% if class_field %}
        <div class="{{ class_field }}">
    {% endif %}
    <input
        type="{{ type }}"
        {{ block('widget_attributes') }}
        value="{{ value }}"
        class="input {{ class }}"
        placeholder="{{ placeholder }}"
        data-equalto="{{ equalTo }}"
        {% if pattern %}pattern="{{ pattern }}"{% endif %}
        {{ required ? 'required' }}>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
    {% if class_field %}
        </div>
    {% endif %}
{%- endblock text_widget -%}

{%- block textarea_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set value = value|default('') %}
    {% set placeholder = placeholder|default('') %}
    {% set equalTo = equalTo|default('') %}

    {% if label %}
        <label for="{{ id }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="{{ required_class }}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}
    {% if class_field %}
        <div class="{{ class_field }}">
    {% endif %}
    <textarea
        {{ block('widget_attributes') }}
        class="input {{ class }}"
        placeholder="{{ placeholder }}"
        data-equalto="{{ equalTo }}"
        {{ required ? 'required' }}
    >{{ value }}</textarea>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
    {% if class_field %}
        </div>
    {% endif %}
    {{- form_errors(form) -}}
    {% if errorMsg is defined %} <small class="form-error">{{ errorMsg|trans }}</small>{% endif %}
{%- endblock textarea_widget -%}

{%- block integer_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set value = value|default('') %}
    {% set placeholder = placeholder|default('') %}
    {% set equalTo = equalTo|default('') %}

    {% if label %}
        <label for="{{ id }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="{{ required_class }}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}
    {% if class_field %}
        <div class="{{ class_field }}">
    {% endif %}
    <input
        type="number"
        {{ block('widget_attributes') }}
        value="{{ value }}"
        class="input {{ class }}"
        placeholder="{{ placeholder }}"
        data-equalto="{{ equalTo }}"
        {{ required ? 'required' }}>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
    {% if class_field %}
        </div>
    {% endif %}
{%- endblock integer_widget -%}

{%- block _vehicle_userRegistration_accept_row  -%}
    {{ block('_personal_vehicle_userRegistration_accept_row') }}
{%- endblock _vehicle_userRegistration_accept_row  -%}

{%- block _registration_accept_row  -%}
    {{ block('_personal_vehicle_userRegistration_accept_row') }}
{%- endblock _registration_accept_row  -%}

{% block _user_registration_personal_vehicle_userRegistration_accept_row %}
    {{ block('_personal_vehicle_userRegistration_accept_row') }}
{% endblock _user_registration_personal_vehicle_userRegistration_accept_row %}

{%- block _personal_vehicle_userRegistration_accept_row  -%}
    {{- form_widget(form) -}}
    <label for="{{ id }}" class="checkbox">
        <b>{{ 'user.field.accept.start'|trans({}, 'security') }}
            <a href="{{ path('cgu') }}" class="black-color text-underline" target="_blank">{{ 'user.field.accept.text-cgu-link'|trans({}, 'security') }}</a> {{ 'user.field.accept.and'|trans({}, 'security') }} <a href="{{ path('privacy_policy') }}" class="black-color text-underline" target="_blank">{{ 'user.field.accept.text-privacy-policy-link'|trans({}, 'security') }}</a>
        </b>
    </label>
    {{- form_errors(form) -}}
    {% if errorMsg is defined %} <small class="form-error">{{ errorMsg|trans }}</small>{% endif %}
{%- endblock -%}

{%- block _pro_vehicle_offer_refunded_row  -%}
    {{ block('_one_checkbox_row') }}
{%- endblock _pro_vehicle_offer_refunded_row  -%}

{%- block _one_checkbox_row  -%}
    {{- form_widget(form) -}}
    <label for="{{ id }}" class="checkbox">
        {{ label|raw }}
    </label>
    {{- form_errors(form) -}}
    {% if errorMsg is defined %} <small class="form-error">{{ errorMsg|trans }}</small>{% endif %}
{%- endblock -%}

{% block _pro_vehicle_pictures_entry_widget %}
    {% set defaultImage = null %}
    {% if form.vars.name matches '/^\\d+$/' %}
        {% set defaultImage = 'vehicle_placeholder_thumbnail'|defaultVehicleFormPicture(form.vars.name) %}
    {% endif %}

    {{ block('_vehicle_pictures_entry_widget') }}
{% endblock %}

{% block _user_registration_personal_vehicle_pictures_entry_widget %}
    {{ block('_personal_vehicle_pictures_entry_widget') }}
{% endblock %}

{% block _personal_vehicle_pictures_entry_widget %}
    {% set defaultImage = null %}
    {% if form.vars.name matches '/^\\d+$/' %}
        {% set defaultImage = 'vehicle_placeholder_thumbnail'|defaultVehicleFormPicture(form.vars.name) %}
    {% endif %}

    {{ block('_vehicle_pictures_entry_widget') }}
{% endblock %}

{% block _vehicle_pictures_entry_widget %}
    {% set class = class|default('') %}
    {% set defaultImage = defaultImage ?? asset('vehicle_placeholder_thumbnail'|defaultVehiclePicture) %}
    {% set image = value and value.realPicture ? value.realPicture|vehiclePicture('vehicle_thumbnail') : defaultImage %}
    {% set isEdit = value and value.realPicture ? true : false %}
    {% set title = title|default(form.vars.id ends with '_0'?'vehicle.field.picture.label.main'|trans:'vehicle.field.picture.label.additionnal'|trans) %}

    <div id="js-file-preview-{{ form.vars.id }}" class="js-file-index block-grid small-12 medium-6 {{ class }}">
        <label for="{{ form.vars.id }}" class="js-file-preview-label file-preview-label column small-12">{{ title }} <span>{{ 'global.facultative'|trans }}</span></label>
        <div class="js-file-preview file-preview column small-6 medium-12">
            {{ form_widget(form.id) }}
            {{ form_widget(form.file, { 'attr' : { 'class' : 'js-file-preview-input is-hidden' } }) }}
            {{ form_widget(form.isRemoved, { 'attr' : { 'class' : 'js-file-remove-input is-hidden' } }) }}
            <label for="{{ form.vars.id }}_file" title="{{ 'vehicle.field.picture.action.add'|trans }}" class="js-file-preview-image-container file-preview-image-container">
                <div class="file-preview-image no-margin">
                    <span><img src="{{ asset(image) }}" data-default-src="{{ defaultImage }}" width="100%" class="js-file-preview-image"></span>
                </div>
                <span class="show-for-sr">{{ 'vehicle.field.picture.action.add'|trans }}</span>
            </label>
            <button type="button" class="js-file-preview-remove file-preview-remove icon-remove {% if not isEdit %}is-hidden{% endif %}" title="{{ 'vehicle.field.picture.action.remove'|trans }}"><span class="show-for-sr">{{ 'vehicle.field.picture.action.add'|trans }}</span></button>
        </div>
        <div class="column small-6 medium-12">
            {{ form_widget(form.caption, { 'attr' : { 'class' : 'js-file-legend input small', 'placeholder' : 'vehicle.field.picture.action.add_caption'|trans } } ) }}
        </div>
    </div>
{% endblock %}

{% block picture_widget %}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set input_class = input_class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set isEdit = value and value.file ? true : false %}
    {% set isRemovable = isRemovable ?? true %}
    {% set defaultImage = defaultImage ?? '' %}
    {% if label %}
        <label for="{{ id }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="{{ required_class }}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}
    <div class="js-file-preview file-preview js-file-index {{ classPreview }}">
        {{ form_widget(form.file, { 'attr' : { 'class' : 'js-file-preview-input is-hidden ' ~ input_class } }) }}
        {{ form_widget(form.isRemoved, { 'attr' : { 'class' : 'js-file-remove-input is-hidden' } }) }}
        <label for="{{ form.vars.id }}_file" title="{{ 'form.picture.add_photo'|trans }}" class="js-file-preview-image-container file-preview-image-container">
            <div class="file-preview-image no-margin">
                <span><img src="{{ imgPreview }}" data-default-src="{{ defaultImage }}" width="100%" class="js-file-preview-image"></span>
            </div>
            <span class="show-for-sr">{{ 'form.picture.add_photo'|trans }}</span>
        </label>
        {% if isRemovable %}
            <button type="button" class="js-file-preview-remove file-preview-remove icon-remove {% if not isEdit %}is-hidden{% endif %}" title="{{ 'form.picture.remove_photo'|trans }}"><span class="show-for-sr">{{ 'form.picture.remove_photo'|trans }}</span></button>
        {% endif %}
    </div>
{% endblock %}

{% block _project_projectVehicles_entry_widget %}
    {% set index = index|default('__name__') %}
    <li class="wish-item block-gray">
        <label for="wish-1" class="wish-label black-color small-12">Souhait {{ index }}<a href="javascript:;" class="delete-project small-right">Supprimer ce souhait</a></label>
        <div class="row small-12">
            <div class="column small-12 medium-6 large-3">
                {{ form_widget(form.make, {
                    'label': 'vehicle.field.make.label'|trans,
                    'class': 'make-select',
                    required: true,
                    required_message: 'vehicle.field.make.required_message'|trans
                }) }}
                {{ form_widget(form.id) }}
            </div>
            <div class="column small-12 medium-6 large-3">
                {{ form_widget(form.model, {
                    'label': 'vehicle.field.model.label'|trans,
                    'class': 'model-select',
                    required: true,
                    required_message: 'vehicle.field.model.required_message'|trans
                }) }}
            </div>
            <div class="column small-12 medium-6 large-3">
                {{ form_widget(form.yearMin, {
                    'label': 'Année min',
                    'class': '',
                    required: false
                }) }}
            </div>
            <div class="column small-12 medium-6 large-3">
                {{ form_widget(form.mileageMax, {
                    'label': 'Km max',
                    'class': '',
                    required: false
                }) }}
            </div>
        </div>
    </li>
{% endblock %}

{%- block city_widget -%}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_class = required_class|default('') %}

    {% if label %}
        <label for="{{ name }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="{{ required_class }}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}

    <select {{ block('widget_attributes') }} type="text" class="{{ class }} {% if value is not defined or value == '' %}is-disabled{% endif %}" {% if required %}required{% endif %} >
        {% if value is not defined or value == '' %}
            <option value="" selected="selected">Veuillez rens. le code postal</option>
        {% else %}
            <option value="{{ value }}" selected="selected">{{ value }}</option>
        {% endif %}
    </select>
{%- endblock city_widget -%}

{%- block yesno_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set list_class = list_class|default('small-up-2') %}
    {% set values_translation_domain = values_translation_domain|default('message')%}

    {% if label %}
        <label for="{{ name }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="{{ required_class }}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}
    <ul class="block-grid {{ list_class }}">
        {% for child in form %}
            {% if child.vars.value %}
                <li class="column small-collapse js-radio-item-container">
                    {{ form_widget(child) }}
                    <label for="{{ child.vars.id }}" class="radio-item {{ not required?'js-radio-deselectable' }}">
                        {{ child.vars.value|trans({}, values_translation_domain) }} {% include 'front/Layout/includes/svg/check_alt.html.twig' %}
                    </label>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{%- endblock yesno_widget -%}

{%- block star_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}

    {% if label %}
        <label for="{{ name }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="medium-12 medium-no-margin {{ required_class }}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}

    <div class="small-12 medium-5 large-6">
        <div class="star-list">
            {% for index, child in form %}
                {{ form_widget(child) }}
                <label for="{{ child.vars.id }}" class="star-item"><span
                        class="show-for-sr">{{ child.vars.label }}</span></label>
            {% endfor %}
            {% for child in form %}
                <span class="star-label">{{ child.vars.label }}</span>
            {% endfor %}
            <span class="star-reset icon-remove"></span>
            {% if required %}
                <small class="star-required {{ required_class }}">{{ required_message }}</small>
            {% endif %}
        </div>
    </div>

{%- endblock star_widget -%}

{%- block fleet_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set list_class = list_class|default('small-up-2') %}
    {% if label %}
        <label for="{{ name }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="{{ required_class }}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}
    <ul class="block-grid {{ list_class }}">
        {% for child in form %}
            <li class="column small-collapse">
                {{ form_widget(child) }}
                <label for="{{ child.vars.id }}" class="radio-item">
                    {{ child.vars.label }} {% include 'front/Layout/includes/svg/check_alt.html.twig' %}
                </label>
            </li>
        {% endfor %}
    </ul>
{%- endblock fleet_widget -%}

{%- block _vehicle_registrationNumber_widget -%}
<div class="{{ class_field }}">
    <input
        type="text"
        {{ block('widget_attributes') }}
        value="{{ value }}"
        class="input {{ class }}"
        readonly />
</div>
{%- endblock _vehicle_registrationNumber_widget -%}

{%- block _message_vehicle_widget -%}
    {% if value is defined %}
        {% include 'front/Messages/includes/vehicle_taken.html.twig' with { messageItem: false, vehicle: form.vars.data, user: app.user } %}
        {{ form_widget(form, {'class': 'is-hidden'}) }}
    {% endif %}
{%- endblock _message_vehicle_widget -%}

{%- block _message_isFleet_widget -%}
    {% include 'front/Messages/includes/vehicle_taken.html.twig' with { messageItem: false, severalVehicles: app.user.vehicles|length, user: app.user } %}
    {{ form_widget(form, {'class': 'is-hidden'}) }}
{%- endblock _message_isFleet_widget -%}

{%- block button_widget -%}
    {% set class = class|default('') %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" class="{{ class }}" {{ block('button_attributes') }}>
    {% if loader is defined %}
        {% include 'front/Layout/includes/forms/loader.html.twig' %}
    {% endif %}
    {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{%- block amount_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set value = value|default('') %}
    {% set placeholder = placeholder|default('') %}
    {% set equalTo = equalTo|default('') %}
    {% set type = type|default('text') %}

    {% if label %}
        <label for="{{ id }}" {% if label_class %}class="{{ label_class }}"{% endif %}>{{ label|raw }} {% if not required %}<span class="{{ required_class }}">{{ 'global.facultative'|trans }}</span>{% endif %}</label>
    {% endif %}
    {% if class_field %}
        <div class="{{ class_field }}">
    {% endif %}
    <input
        type="{{ type }}"
        {{ block('widget_attributes') }}
        value="{{ value ? value|localizednumber : '' }}"
        class="input {{ class }}"
        placeholder="{{ placeholder }}"
        data-equalto="{{ equalTo }}"
        {{ required ? 'required' }}>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
    {% if class_field %}
        </div>
    {% endif %}
{%- endblock amount_widget -%}

{%- block _personal_user_information_title_widget -%}
    {{ block('yesno_widget') }}
{%- endblock _personal_user_information_title_widget -%}

{%- block _pro_user_information_title_widget -%}
    {{ block('yesno_widget') }}
{%- endblock _pro_user_information_title_widget -%}

{%- block _project_isFleet_widget -%}
    {{ block('fleet_widget') }}
{%- endblock _project_isFleet_widget -%}

{% block _pro_user_information_avatar_widget %}
    {{ block('picture_widget') }}
    <div class="file-preview-info">Dimensions conseillées : 100 * 100px</div>
{% endblock %}

{% block _user_information_avatar_widget %}
    {{ block('picture_widget') }}
    <div class="file-preview-info">Dimensions conseillées : 100 * 100px</div>
{% endblock %}

{% block _user_avatar_avatar_widget %}
    {{ block('picture_widget') }}
{% endblock %}

{%- block _garage_banner_widget -%}
    {{ block('picture_widget') }}
{%- endblock _garage_banner_widget -%}

{%- block _garage_logo_widget -%}
    {{ block('picture_widget') }}
{%- endblock _garage_logo_widget -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="form-error is-visible">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}