{%- block choice_widget_collapsed -%}
    {% set id = id|default('') %}
    {% set class = class|default('') %}
    {% set dataToggleId = dataToggleId|default('') %}
    {% set dataFetchUrl = dataFetchUrl|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label_class = label_class|default('') %}

    {% if label %}
        <label class="{{ label_class }}">{{ label }}</label>
    {% endif %}
    <select name="{{ name }}" id="{{ id }}" class="{{ class }}" {{ required ? 'required' }} {{ dataToggleId ? 'data-toggle-id=' ~ dataToggleId ~ '' }} {{ dataFetchUrl ? 'data-fetch-url=' ~ dataFetchUrl ~ '' }}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
        {#{% for option in options %}#}
            {#<option value="{{ option.value }}">{{ option.label }}</option>#}
        {#{% endfor %}#}
    </select>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
{%- endblock choice_widget_collapsed -%}
