{%- block choice_widget_collapsed -%}
    {% set id = id|default('') %}
    {% set class = class|default('') %}
    {% set dataType = dataType|default('') %}
    {% set dataToggleId = dataToggleId|default('') %}
    {% set dataFetchUrl = dataFetchUrl|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label_class = label_class|default('') %}

    {% if label %}
        <label class="{{ label_class }}">{{ label }} {{ not required ? '<span class="medium-12 medium-no-margin">Facultatif</span>'|raw }}</label>
    {% endif %}
    <select {{ block('widget_attributes') }} id="{{ id }}" class="{{ class }}" {{ required ? 'required' }}
        {{ dataToggleId ? 'data-toggle-id=' ~ dataToggleId ~ '' }}
        {{ dataFetchUrl ? 'data-fetch-url=' ~ dataFetchUrl ~ '' }}
        {{ dataType ? 'data-type=' ~ dataType ~ '' }}
    >
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
{%- endblock choice_widget_collapsed -%}

{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {% set date_pattern = '<div class="small-12 medium-8"><ul class="row small-up-3 no-bullet no-margin"><li class="column">{{ day }}</li><li class="column">{{ month }}</li><li class="column">{{ year }}</li></li></ul></div>' %}
        {{- date_pattern|replace({
            '{{ year }}':  form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}':   form_widget(form.day),
        })|raw -}}
    {%- endif -%}
{%- endblock date_widget -%}

{%- block email_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set value = value|default('') %}
    {% set placeholder = placeholder|default('') %}
    {% set equalTo = equalTo|default('') %}

    {% if label %}
        <label for="{{ name }}" class="{{ label_class }}">{{ label|raw }} {{ not required ? '<span class="medium-12 medium-no-margin">Facultatif</span>'|raw }}</label>
    {% endif %}
    {% if class_field %}
        <div class="{{ class_field }}">
    {% endif %}
    <input
        type="email"
        {{ block('widget_attributes') }}
        id="{{ name }}"
        value="{{ value }}"
        class="input {{ class }}"
        placeholder="{{ placeholder }}"
        data-equalto="{{ equalTo }}"
        {{ required ? 'required' }}>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
    {% if class_field %}
        </div>
    {% endif %}
{%- endblock email_widget -%}


{%- block password_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set value = value|default('') %}
    {% set placeholder = placeholder|default('') %}
    {% set equalTo = equalTo|default('') %}

    {% if label %}
        <label for="{{ name }}" class="{{ label_class }}">{{ label|raw }} {{ not required ? '<span class="medium-12 medium-no-margin">Facultatif</span>'|raw }}</label>
    {% endif %}
    {% if class_field %}
        <div class="{{ class_field }}">
    {% endif %}
    <input
        type="password"
        {{ block('widget_attributes') }}
        id="{{ name }}"
        value="{{ value }}"
        class="input {{ class }}"
        placeholder="{{ placeholder }}"
        data-equalto="{{ equalTo }}"
        {{ required ? 'required' }}>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
    {% if class_field %}
        </div>
    {% endif %}
{%- endblock password_widget -%}


{%- block integer_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}
    {% set value = value|default('') %}
    {% set placeholder = placeholder|default('') %}
    {% set equalTo = equalTo|default('') %}

    {% if label %}
        <label for="{{ name }}" class="{{ label_class }}">{{ label|raw }} {{ not required ? '<span class="medium-12 medium-no-margin">Facultatif</span>'|raw }}</label>
    {% endif %}
    {% if class_field %}
        <div class="{{ class_field }}">
    {% endif %}
    <input
        type="number"
        {{ block('widget_attributes') }}
        id="{{ name }}"
        value="{{ value }}"
        class="input {{ class }}"
        placeholder="{{ placeholder }}"
        data-equalto="{{ equalTo }}"
        {{ required ? 'required' }}>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
    {% if class_field %}
        </div>
    {% endif %}
{%- endblock integer_widget -%}

{%- block _vehicle_userRegistration_accept_row  -%}
    {{ block('_registration_accept_row') }}
{%- endblock _vehicle_userRegistration_accept_row  -%}

{%- block _registration_accept_row  -%}
    {{- form_widget(form) -}}
    <label for="{{ id }}" class="checkbox">
        <b>{{ 'user.field.accept.label'|trans({}, 'security') }} <a href="{{ path('front_default') }}" class="black-color text-underline" target="_blank">{{ 'user.field.accept.text-link'|trans({}, 'security') }}</a></b>
    </label>
    {{- form_errors(form) -}}
    {% if errorMsg is defined %} <small class="form-error">{{ errorMsg|trans }}</small>{% endif %}
{%- endblock -%}

{% block _vehicle_pictures_entry_widget %}
    {% set class = class|default('') %}
    {% set image = image|default('assets/images/register/pictures_default.jpg') %}
    {% set title = title|default('Photo supplémentaire conseillée') %}

    <div id="js-file-preview-{{ form.vars.id }}" class="js-file-index block-grid small-12 medium-6 {{ class }}">
        <label for="{{ form.vars.id }}" class="js-file-preview-label file-preview-label column small-12">{{ title }} <span class="medium-12 medium-no-margin">Facultatif (format conseillé : 310x235)</span></label>
        <div class="js-file-preview file-preview column small-6 medium-12">
            {{ form_widget(form.file, { 'attr' : { 'class' : 'js-file-preview-input is-hidden' } }) }}
            <label for="{{ form.vars.id }}_file" title="Ajouter une photo" class="js-file-preview-image-container file-preview-image-container">
                <div class="file-preview-image no-margin">
                    <span><img src="{{ asset(image) }}" width="100%" class="js-file-preview-image"></span>
                </div>
                <span class="show-for-sr">Ajouter une photo</span>
            </label>
            <button type="button" class="js-file-preview-remove file-preview-remove icon-remove is-hidden" title="Supprimer la photo"><span class="show-for-sr">Supprimer la photo</span></button>
        </div>
        <div class="column small-6 medium-12">
            {{ form_widget(form.caption, { 'attr' : { 'class' : 'js-file-legend input small', 'placeholder' : 'Ajouter une légende' } } ) }}
        </div>
    </div>
{% endblock %}

{%- block yesno_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}

    {% if label %}
        <label for="{{ name }}" class="{{ label_class }}">{{ label|raw }} {{ not required ? '<span class="medium-12 medium-no-margin">Facultatif</span>'|raw }}</label>
    {% endif %}
    <ul class="block-grid small-12 medium-8">
        {% for child in form %}
            <li class="small-6">
                {{ form_widget(child) }}
                <label for="{{ child.vars.id }}" class="radio-item">
                    {{ child.vars.value }} {% include 'front/Layout/includes/svg/check.html.twig' %}
                </label>
            </li>
        {% endfor %}
    </ul>

{%- endblock yesno_widget -%}

{%- block star_widget -%}
    {% set class_field = class_field|default('') %}
    {% set class = class|default('') %}
    {% set required = required|default(false) %}
    {% set required_message = required_message|default('Ce champ est requis') %}
    {% set required_class = required_class|default('') %}
    {% set label = label|default(false) %}
    {% set label_class = label_class|default('') %}

    {% if label %}
        <label for="{{ name }}" class="{{ label_class }}">{{ label|raw }} {{ not required ? '<span class="medium-12 medium-no-margin">Facultatif</span>'|raw }}</label>
    {% endif %}

    <div class="small-12 medium-5 large-6">
        <div class="star-list">
            {% for index, child in form %}
                {{ form_widget(child) }}
                <label for="{{ child.vars.id }}" class="star-item"><span
                        class="show-for-sr">{{ child.vars.label }}</span></label>
            {% endfor %}
            {% for child in form %}
                <span class="star-label">{{ child.vars.label }}</span>
            {% endfor %}
        </div>
    </div>

{%- endblock star_widget -%}
