{% set type = type|default('text') %}
{% set class_field = class_field|default('') %}
{% set class = class|default('') %}
{% set required = required|default(false) %}
{% set required_message = required_message|default('Ce champ est requis') %}
{% set required_class = required_class|default('') %}
{% set label = label|default(false) %}
{% set label_class = label_class|default('') %}

{% if label %}
    <label for="{{ name }}" class="{{ label_class }}">{{ label|raw }}</label>
{% endif %}
{% if class_field %}
    <div class="{{ class_field }}">
{% endif %}
    <input type="{{ type }}" name="{{ name }}" id="{{ name }}" class="input {{ class }}" {{ required ? 'required' }}>
    {% if required %}
        <small class="form-error {{ required_class }}">{{ required_message }}</small>
    {% endif %}
{% if class_field %}
    </div>
{% endif %}
