{% set id = id|default('') %}
{% set class = class|default('') %}
{% set dataToggleId = dataToggleId|default('') %}
{% set required = required|default(false) %}
{% set required_message = required_message|default('Ce champ est requis') %}
{% set required_class = required_class|default('') %}
{% set label_class = label_class|default('') %}
{% set class_field = class_field|default('') %}
{% set form = form|default('') %}

{% if class_field %}
<div class="{{ class_field }}">
{% endif %}

{% if label %}
    <label class="{{ label_class }}">{{ label }}</label>
{% endif %}

<select
    name="{{ name }}"
    id="{{ id }}"
    class="{{ class }}"
    {{ required ? 'required' }}
    {{ dataToggleId ? 'data-toggle-id=' ~ dataToggleId ~ '' }}
    {% if form %}
        form="{{ form }}"
    {% endif %}
>
    {% for option in options %}
        <option value="{{ option.value }}">{{ option.label }}</option>
    {% endfor %}
</select>

{% if required %}
    <small class="form-error {{ required_class }}">{{ required_message }}</small>
{% endif %}

{% if class_field %}
</div>
{% endif %}
