{% set id = id|default('') %}
{% set class = class|default('') %}
{% set dataToggleId = dataToggleId|default('') %}
{% set required = required|default(false) %}
{% set required_message = required_message|default('Ce champ est requis') %}
{% set required_class = required_class|default('') %}
{% set label_class = label_class|default('') %}

{% if label %}
    <label class="{{ label_class }}">{{ label }}</label>
{% endif %}
<select name="{{ name }}" id="{{ id }}" class="{{ class }}" {{ required ? 'required' }} {{ dataToggleId ? 'data-toggle-id=' ~ dataToggleId ~ '' }}>
    {% for option in options %}
        <option value="{{ option.value }}">{{ option.label }}</option>
    {% endfor %}
</select>
{% if required %}
    <small class="form-error {{ required_class }}">{{ required_message }}</small>
{% endif %}
