{% set header_class = header_class|default('') %}

{% set userUnseenNotificationCount = isLogged ? mgilet_notification_unseen_count(app.user) : null %}

<header id="js-header" class="l-header column small-right-collapse xlarge-right-uncollapse {{ header_class }}">

    {% include "front/Layout/includes/logo.html.twig" %}

    {% block header_center %}
        {% include "front/Layout/includes/navigation/sellers_search.html.twig" %}
    {% endblock %}

    <div class="l-header-right block-grid column small-collapse small-right shrink xlarge-uncollapse {{ is_register_page ? 'is-hidden' : '' }}">
        {% block header_right %}
            {# Mobile : header-search-display button #}
            <button class="l-navigation-item is-logged l-header-button icon-search l-header-button hide-for-large" data-toggle="advisors-header-search"></button>

            {% if isLogged %}
                <a href="{{ path('front_conversation_list') }}"
                   class="l-navigation-item is-logged l-header-button icon-message body-font-color l-header-button"
                    data-wtaction="LM" data-wtfrom="{{ app.user|wtFromDataAttrValue }}" data-wtto="{{ wtNoneValue() }}">
                    <span class="messages-notification" data-wtaction="LM" data-wtfrom="{{ app.user|wtFromDataAttrValue }}"
                          data-wtto="{{ wtNoneValue() }}">{{ getCountUnreadMessages(app.user) }}</span>
                </a>
                <a href="{{ mgilet_notification_generate_path('notification_list', app.user) }}"
                   class="l-navigation-item is-logged l-header-button icon-bell body-font-color l-header-button show-for-small-only">
                    <span class="messages-notification">{{ userUnseenNotificationCount }}</span>
                </a>
                <button class="l-navigation-item is-logged l-header-button icon-bell body-font-color l-header-button show-for-medium"
                        data-toggle="notifications-dropdown">
                    <span class="messages-notification">{{ userUnseenNotificationCount }}</span>
                </button>

                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="is-flex">
                        <a href="#" class="l-navigation-item is-logged l-header-button body-font-color icon-avatar user-thumbnail-mini">
                            <img src="{{ app.user.avatar|avatar('user_mini_thumbnail', app.user.firstName) }}" alt="{{ app.user.fullName }}"
                                 title="{{ app.user.firstName }}">
                            <b class="show-for-xlarge">&nbsp;{{ app.user.firstName }}</b>
                        </a>
                        <ul class="menu is-dropdown-submenu">
                            {% if isUserPro %}
                                {{ include('front/Layout/includes/menu/pro_menu.html.twig') }}
                            {% elseif isUserPersonal %}
                                {{ include('front/Layout/includes/menu/personal_menu.html.twig') }}
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            {% else %}
                <button type="button" class="l-header-button icon-user small-right" id="open-side-login"
                        data-toggle="js-off-canvas-user" title="{{ 'header.anonyme.log'|trans }}">
                    <span class="show-for-xlarge">{{ 'header.anonyme.log'|trans }}</span>
                </button>
            {% endif %}
        {% endblock %}
    </div>
</header>

{# Dropdowns et off-Canvas manipulables par les liens et icones de l'en-tête #}
{% if isLogged %}
    {# Dropdown contenant les notifications de l'utilisateur connecté #}
    <div id="notifications-dropdown" class="dropdown-pane dropdown-pane-notifications show-for-medium" data-dropdown
         data-position="bottom" data-alignment="right" data-auto-focus="true">
        {{ wamcar_notification_render(app.user, {
            'template':'front/Notifications/includes/notifications.html.twig',
            'order':constant('AppBundle\\Services\\Notification\\NotificationManagerExtended::ORDER_UNSEEN_FIRST'),
            'limit':'5'
        }) }}
    </div>
{% else %}
    {# Off-canvas pour se connecter ou s'inscrire #}
    <div id="js-off-canvas-user" class="off-canvas position-right is-closed" aria-hidden="true"
         data-content-scroll="false" data-off-canvas>
        {% include 'front/Layout/includes/off_canvas_user.html.twig' %}
    </div>
{% endif %}
