{% set is_home_page = is_home_page|default(false) %}
{% set isUserPro = isUserPro|default(false) %}
{% set header_class = header_class|default('') %}

<header id="js-header" class="l-header column small-right-collapse xlarge-right-uncollapse {{ header_class }}">

    {% include "front/Layout/includes/logo.html.twig" %}

    {% block header_center %}
        {% if isUserPro %}
            {% include "front/Layout/includes/navigation/primary_pro.html.twig" %}
        {% elseif isUserPersonal %}
            {% include "front/Layout/includes/navigation/primary_personal.html.twig" %}
        {% else %}
            {% include "front/Layout/includes/navigation/primary.html.twig" %}
        {% endif %}
    {% endblock %}

    <div class="l-header-right block-grid column small-collapse small-right shrink xlarge-uncollapse text-center {{ is_register_page ? 'is-hidden' : '' }}">
        {% block header_right %}
            {% if isLogged %}
                <a href="{{ path('front_view_current_user_info') }}" class="l-navigation-item is-logged l-header-button body-font-color icon-avatar is-logo brand-logo-rounded">
                    <img src="{{ app.user.avatar|avatar('user_mini_thumbnail') }}" alt="{{ app.user.fullName }}" title="{{ app.user.firstName }}">
                    <b class="show-for-xlarge">&nbsp;{{ app.user.firstName }}</b>
                </a>
            {% else %}
                <button type="button" class="l-header-button icon-user small-right" id="open-side-login" data-toggle="js-off-canvas-user">
                    <span class="show-for-xlarge">{{ 'global.button.connect'|trans }}</span>
                </button>
                <button class="l-header-button hamburger primary-color hide-for-large" data-toggle="js-off-canvas-navigation">
                    <span class="hamburger-line"></span>
                </button>
            {% endif %}
        {% endblock %}
    </div>
</header>

{% if not isLogged %}
    <div id="js-off-canvas-user" class="off-canvas position-right" data-off-canvas>
        {% include 'front/Layout/includes/off_canvas_user.html.twig' %}
    </div>
{% endif %}

<div id="js-off-canvas-navigation" class="off-canvas off-canvas-navigation position-right" data-off-canvas></div>
