{% set isLogged = isLogged|default(false) %}

<a href="{{ path('front_default') }}" class="logo-container column shrink {{ isLogged ? 'small-collapse medium-uncollapse is-logged' }}">
    {% if isLogged %}
        <picture>
            <source media="(max-width: 590px)" srcset="{{ asset('assets/images/logo/logo-wamcar-small.svg') }}">
            <img src="{{ asset('assets/images/logo/logo-wamcar.svg') }}" alt="Wamcar">
        </picture>
    {% else %}
        <img src="{{ asset('assets/images/logo/logo-wamcar.svg') }}" alt="Wamcar" class="logo">
    {% endif %}
</a>
