{% set isLogged = isLogged|default(false) %}

{% set action = isUserPro ? path('front_search',{'search_vehicle':{'tab':constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::TAB_PERSONAL')}}) : isUserPersonal ? path('front_search',{'search_vehicle':{'tab':constant('AppBundle\\Controller\\Front\\ProContext\\SearchController::TAB_PRO')}}):path('front_default') %}

<a href="{{ action }}" class="logo-container column shrink {{ isLogged ? 'small-collapse large-uncollapse is-logged' }}">
    {% if isLogged %}
        <picture>
            <source media="(max-width: 590px)" srcset="{{ asset('assets/images/logo/logo-wamcar-small.svg') }}">
            <img src="{{ asset('assets/images/logo/logo-wamcar.svg') }}" alt="Wamcar">
        </picture>
    {% else %}
        <img src="{{ asset('assets/images/logo/logo-wamcar.svg') }}" alt="Wamcar" class="logo">
    {% endif %}
</a>
