<header class="off-canvas-header show-for-large">
    <strong>{{ 'sidebar.title'|trans }}</strong>
    <button class="small-right icon-close" data-toggle="js-off-canvas-user"><span class="show-for-sr">{{ 'global.button.close'|trans }}</span></button>
</header>
<div class="off-canvas-content off-canvas-separator">
    {{ render(controller('AppBundle:Front/Security:login')) }}
    {% include 'front/User/includes/modal_password_lost.html.twig' %}
</div>
<div class="off-canvas-content off-canvas-separator">
    {{ include(':front/Security/Register/includes:social_networks_login_row.html.twig') }}
</div>
<div class="off-canvas-content">
    <div>
        <strong class="h3 input-margin black-color is-block">{{ 'sidebar.account_creation.title'|trans({'%sitename%':site_name}) }}</strong>
        <a href="{{ path('register') }}" class="button white input-margin">{{ 'sidebar.account_creation.personal'|trans }}</a>
        <a href="{{ path('register', { 'type' : 'pro'}) }}" class="button white">{{ 'sidebar.account_creation.professionnal'|trans }}</a>
    </div>
</div>
