{% set balise = balise|default('h1') %}
{% set page_header_class = page_header_class|default(false) %}
{% set title_class = title_class|default(false) %}
{% set link = link|default(false) %}

<header class="page-header {{ page_header_class }}">
    <div class="row full-width">
        <div class="block-grid column small-12 align-middle">
            <{{ balise }} class="primary-color {{ title_class }} no-margin text-center medium-text-left small-12">{{ title }}</{{ balise }}>
            {% if not isLogged %}
                {{ link ? link|raw : '' }}
            {% endif %}
        </div>
    </div>
</header>
