{% set route_params = route_params|default({})|merge(app.request.query) %}

{% if lastPage is defined and lastPage > 1 %}
    <nav class="pagination" role="navigation" aria-label="{{ 'global.pagination.pagination'|trans }}">
        {% set previous = page == 1 ? 1 : page - 1 %}
        {% set next = page == lastPage ? page : page + 1 %}

        {% set startPage =  (page-1)<=0?1:page-1 %}
        {% set endPage =  (page+1)>=lastPage?lastPage:page+1 %}

        <a href="{{ path(route, route_params|merge({'page': 1})) }}" class="pagination-item {% if page == 1 %}is-disabled{% endif %} icon-angle-double-left"
           title="{{ 'global.pagination.first'|trans }}" aria-label="{{ 'global.pagination.first'|trans }}">
            <span class="show-for-sr">{{ 'global.pagination.first'|trans }}</span></a>
        <a href="{{ path(route, route_params|merge({'page': previous})) }}" class="pagination-item previous {% if previous == page %}is-disabled{% endif %} icon-angle-left"
           title=="{{ 'global.pagination.previous'|trans }}" aria-label="{{ 'global.pagination.previous'|trans }}">
            <span class="show-for-sr">{{ 'global.pagination.previous'|trans }}</span></a>
        {% if startPage > 1 %}
            <span class="pagination-item ellipsis icon-ellipsis-h"></span>
        {% endif %}

        {% if previous < lastPage %}
            {% for i in startPage..endPage %}
                <a href="{{ path(route, route_params|merge({'page': i})) }}" class="pagination-item{% if i == page %} is-current{% endif %}"
                   title="{{ 'global.pagination.page'|trans }} {{ i }}" aria-label="{{ 'global.pagination.page'|trans }} {{ i }}">{{ i }}</a>
            {% endfor %}
        {% else %}
            <a href="{{ path(route, route_params|merge({'page': 1})) }}" class="pagination-item is-current" aria-label="Page 1">1</a>
        {% endif %}

        {% if endPage < lastPage %}
            <span class="pagination-item ellipsis icon-ellipsis-h"></span>
        {% endif %}
        <a href="{{ path(route, route_params|merge({'page': next})) }}" class="pagination-item next {% if next == page %}is-disabled{% endif %} icon-angle-right"
           title="{{ 'global.pagination.next'|trans }}" aria-label="{{ 'global.pagination.next'|trans }}">
            <span class="show-for-sr">{{ 'global.pagination.next'|trans }}</span></a>
        <a href="{{ path(route, route_params|merge({'page': lastPage})) }}" class="pagination-item {% if page == lastPage %}is-disabled{% endif %} icon-angle-double-right"
           title="{{ 'global.pagination.last'|trans }}" aria-label="{{ 'global.pagination.last'|trans }}">
            <span class="show-for-sr">{{ 'global.pagination.last'|trans }}</span></a>
    </nav>
{% endif %}
