{% extends 'front/Layout/layout.html.twig' %}

{% form_theme personalVehicleForm  ':front/Layout/includes/forms:fields.html.twig' %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}
    {% if vehicle %}
        Modifier mon véhicule {{ vehicle.make|vehicleMakeFormat('make') }} {{ vehicle.modelName|vehicleModelFormat('model') }}
    {% else %}
        {{ 'vehicle.add'|trans }}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="l-main-container no-padding">

        <div class="is-relative separator-section">
            <div class="row column medium-right-collapse">
                {% include ':front/Vehicle/Add/personal/includes:step_navigation.html.twig' %}
            </div>
            {% include 'front/Security/Register/includes/step_progress_bar.html.twig' with {'icon' : true} %}
        </div>

        <div>
            <ul>
                {% for error in personalVehicleForm.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>

        <section class="small-12">
            {{ form_start(personalVehicleForm, {
                'method' : 'POST',
                'attr' : {
                    'class' : 'register-form row',
                    'id' : 'js-register-form',
                    'novalidate' : 'novalidate'
                }
            }) }}

            <ul id="js-step" class="step">
                <li class="block-grid" data-step="1">
                    {% include 'front/Security/Register/includes/vehicle_identification.html.twig' with {
                        'vehicleForm' : personalVehicleForm,
                        'fetch_plate_url' : (vehicle ? path('front_vehicle_personal_edit', {'id':vehicle.id,'plateNumber':'_plate_number_'}): path('front_vehicle_personal_add', {'plateNumber':'_plate_number_'}))
                    } %}
                </li>
                <li class="block-grid" data-step="2">
                    {% include 'front/Security/Register/includes/pictures.html.twig' with { 'vehicleForm' : personalVehicleForm } %}
                </li>
                <li class="block-grid" data-step="3">
                    {% include 'front/Security/Register/includes/more_infos.html.twig' with { 'vehicleForm' : personalVehicleForm, 'dataCityField' : 'personal_vehicle_specifics_cityName', 'dataLatitudeField': 'personal_vehicle_specifics_latitude', 'dataLongitudeField': 'personal_vehicle_specifics_longitude', 'isLastStep' : true } %}
                </li>
            </ul>
            <nav id="js-step-navigation" class="column small-12 large-7">
                <div class="register-navigation block-grid  is-flex">
                    <div class="small-6">
                        <a class="js-carousel-prev button is-hidden">{{ 'global.button.previous_step'|trans }}</a>
                    </div>
                    <div class="small-6">
                        <button type="button" class="js-carousel-next button primary-button step-button-next">{{ 'global.button.next_step'|trans }}</button>
                    </div>
                </div>
            </nav>
            {{ form_end(personalVehicleForm) }}

        </section>

    </div>

{% endblock body %}
