{% if notification.notificationEvent is same as("Wamcar\\User\\Event\\UserLikeVehicleEvent") %}
    {% if notification.subject.user.isPro %}
        {% set subject = 'notifications.message.pro_like_vehicle'|trans({
            '%username%':notification.subject.user.fullname,
            '%vehicle_name%' : notification.subject.vehicle.name
        }) %}
    {% else %}
        {% set subject = 'notifications.message.personal_like_vehicle'|trans({
            '%username%':notification.subject.user.fullname,
            '%vehicle_name%' : notification.subject.vehicle.name
        }) %}
    {% endif %}
    {% set notificator_img = notification.subject.user.avatar|avatar('user_mini_thumbnail', notification.subject.user.firstName) %}
    {% set notificator_alt = notification.subject.user.fullname %}
    {% set notification_icon = '<span class="icon-thumbs-up primary-color"></span>' %}
{% elseif notification.notificationEvent is same as('Wamcar\\User\\Event\\LeadNewRegistrationEvent') %}
    {% set subject = 'notifications.message.new_interesting_lead'|trans({
        '%username%' : notification.subject.fullname
    }) %}
    {% set notificator_img = notification.subject.avatar|avatar('user_mini_thumbnail', notification.subject.firstName) %}
    {% set notificator_alt = notification.subject.fullname %}
    {% set notification_icon = '<span class="icon-id-badge primary-color"></span>' %}
{% elseif notification.notificationEvent is same as('Wamcar\\Garage\\Event\\PendingRequestToJoinGarageCreatedEvent') %}
    {% set subject = 'notifications.message.pending_request_to_join_garage_created'|trans({
        '%username%':notification.subject.prouser.fullname,
        '%garage_name%' : notification.subject.garage.name
    }) %}
    {% set notificator_img = notification.subject.prouser.avatar|avatar('user_mini_thumbnail', notification.subject.prouser.firstName) %}
    {% set notificator_alt = notification.subject.prouser.fullname %}
    {% set notification_icon = '<span class="icon-user primary-color"></span>' %}
{% elseif notification.notificationEvent is same as('Wamcar\\Garage\\Event\\PendingRequestToJoinGarageAcceptedEvent') %}
    {% set subject = 'notifications.message.pending_request_to_join_garage_accepted'|trans({
        '%garage_name%' : notification.subject.garage.name
    }) %}
    {% set notificator_img = notification.subject.garage|logo('garage_mini_logo') %}
    {% set notificator_alt = notification.subject.garage.name %}
    {% set notification_icon = '<span class="icon-check success-color"></span>' %}
{% elseif notification.notificationEvent is same as('Wamcar\\Garage\\Event\\PendingRequestToJoinGarageDeclinedEvent') %}
    {% set subject = 'notifications.message.pending_request_to_join_garage_declined'|trans({
        '%garage_name%' : notification.subject.name
    }) %}
    {% set notificator_img = notification.subject|logo('garage_mini_logo') %}
    {% set notificator_alt = notification.subject.name %}
    {% set notification_icon = '<span class="icon-close primary-color"></span>' %}
{% elseif notification.notificationEvent is same as('Wamcar\\Garage\\Event\\GarageMemberAssignedEvent') %}
    {% set subject = 'notifications.message.garage_member_assigned'|trans({
        '%garage_name%' : notification.subject.garage.name
    }) %}
    {% set notificator_img = notification.subject.garage|logo('garage_mini_logo') %}
    {% set notificator_alt = notification.subject.garage.name %}
    {% set notification_icon = '<span class="icon-check success-color"></span>' %}
{% elseif notification.notificationEvent is same as('Wamcar\\Garage\\Event\\GarageMemberUnassignedEvent') %}
    {% set subject = 'notifications.message.garage_member_unassigned'|trans({
        '%garage_name%' : notification.subject.name
    }) %}
    {% set notificator_img = notification.subject|logo('garage_mini_logo') %}
    {% set notificator_alt = notification.subject.name %}
    {% set notification_icon = '<span class="icon-close primary-color"></span>' %}
{% elseif notification.notificationEvent is same as('Wamcar\\VideoCoaching\\Event\\VideoProjectMessagePostedEvent') %}
    {% set subject = 'notifications.message.video_project_posted'|trans({
        '%author%' : notification.subject.author.fullname,
        '%videoProjectTitle%' : notification.subject.videoProject.title
    }) %}
    {% set notificator_img = notification.subject.author.avatar|avatar('user_mini_thumbnail', notification.subject.author.firstName) %}
    {% set notificator_alt = notification.subject.author.fullname %}
    {% set notification_icon = '<span class="icon-envelop dark-gray-blue-peexeo-color"></span>' %}
{% elseif notification.notificationEvent is same as('Wamcar\\VideoCoaching\\Event\\VideoProjectSharingSuccessEvent') %}
    {% set owner = notification.subject.owner.viewer %}
    {% set subject = 'notifications.message.video_project_shared'|trans({
        '%creator%' : owner.viewer.fullname,
        '%videoProjectTitle%' : notification.subject.title
    }) %}
    {% set notificator_img = owner.avatar|avatar('user_mini_thumbnail', owner.firstName) %}
    {% set notificator_alt = owner.fullname %}
    {% set notification_icon = '<span class="icon-film2 dark-gray-blue-peexeo-color"></span>' %}
{% else %}
    {% set subject = notification.notifiableNotification.notification.subject %}
    {% set message = notification.notifiableNotification.notification.message %}
{% endif %}

<li class="is-flex align-justify block-border js-notification-{{ notification.notifiableNotification.notification.id }} {{ notification.notifiableNotification.seen?'notification-seen':'notification-unseen' }}">
    <a href="{{ path('notification_follow_link',{'notifiableId':notification.notifiableNotification.notifiableEntity.id,'notificationId':notification.notifiableNotification.notification.id}) }}"
       class="is-flex align-middle no-margin black-color">
        {% if notificator_img is defined %}
            <span class="notification-picture">
                <img src="{{ notificator_img }}" alt="{{ notificator_alt }}">
            </span>
        {% endif %}
        <span class="padding-right-1">
            <span>{{ subject|raw }}</span>
            {% if message is defined and message is not empty %}
                <span>{{ message }}</span>
            {% endif %}
            <br>
            <span class="is-flex align-middle">{{ notification_icon is defined?notification_icon|raw }}<small>{{ notification.notifiableNotification.notification.date|time_diff }}</small></span>
        </span>
    </a>

    <span class="is-flex notification-right-actions">
        <a data-href="{{ mgilet_notification_generate_path('notification_mark_as_seen', notification.notifiableNotification.notifiableEntity, notification.notifiableNotification.notification) }}"
           class="js-notification-mark-link notification-mark-as-seen icon-circle primary-color" data-tooltip
           tabindex="1"
           title="{{ 'notifications.mark_as_seen'|trans }}"></a>
        <a data-href="{{ mgilet_notification_generate_path('notification_mark_as_unseen', notification.notifiableNotification.notifiableEntity, notification.notifiableNotification.notification) }}"
           class="js-notification-mark-link notification-mark-as-unseen icon-circle-o primary-color" data-tooltip
           tabindex="1"
           title="{{ 'notifications.mark_as_unseen'|trans }}"></a>
    </span>
</li>
