{{ form_start(userPreferenceForm, {'action':path('front_user_edit_preferences'),'attr' : {'class' : 'column small-12'}}) }}

<div class="row">
    <h2 class="column small-12 primary-color">{{ 'user.preference.title.notifications'|trans }}</h2>

    <div class="column small-12 input-margin medium-no-margin">
        <div class="row align-middle input-margin">
            <div class="column small-12 input-margin medium-6 medium-no-margin large-expand black-color">
                {{ 'user.preference.field.globalEmailFrequency'|trans }}</div>
            <div class="column small-12 medium-4">
                {{ form_widget(userPreferenceForm.globalEmailFrequency,{
                    'label' :  'user.preference.common.notification_frequency'|trans~"_"~'user.preference.field.globalEmailFrequency'|trans,
                    'label_class' : 'show-for-sr',
                    'class':'no-margin'
                }) }}
            </div>
        </div>
    </div>

    <div class="column small-12 input-margin medium-no-margin">
        <div class="row align-middle input-margin">
            <div class="column small-12 input-margin medium-no-margin large-expand black-color">{{ 'user.preference.field.privateMessage.label'|trans }}</div>
            <div class="column block-grid small-12 input-margin medium-6 medium-no-margin large-shrink align-middle">
                <span class="switch-left-label">{{ 'user.preference.common.email_send'|trans }}</span>
                {{ form_widget(userPreferenceForm.privateMessageEmailEnabled, {
                    'switch':true,
                    'switch_inners':['global.yes'|trans,'global.no'|trans],
                    'switch_class':'large no-margin small-left',
                    'label' : 'user.preference.common.email_send'|trans~"_"~'user.preference.field.privateMessage.label'|trans
                }) }}
            </div>
            <div class="column small-12 medium-6 large-expand">
                {#{{ form_widget(userPreferenceForm.privateMessageEmailFrequency,{
                    'label' :  'user.preference.common.notification_frequency'|trans~"_"~'user.preference.field.privateMessage.label'|trans,
                    'label_class' : 'show-for-sr',
                    'class':'no-margin'
                }) }}#}
            </div>
        </div>
    </div>

    <div class="column small-12 input-margin medium-no-margin">
        <div class="row align-middle input-margin">
            <div class="column small-12 input-margin medium-no-margin large-expand black-color">{{ 'user.preference.field.like.label'|trans }}</div>
            <div class="column block-grid small-12 input-margin medium-6 medium-no-margin large-shrink align-middle">
                <span class="switch-left-label">{{ 'user.preference.common.email_send'|trans }}</span>
                {{ form_widget(userPreferenceForm.likeEmailEnabled, {
                    'switch':true,
                    'switch_inners':['global.yes'|trans,'global.no'|trans],
                    'switch_class':'large no-margin',
                    'label' : 'user.preference.common.email_send'|trans~"_"~'user.preference.field.like.label'|trans
                }) }}
            </div>
            <div class="column small-12 medium-6 large-expand">
                {#{{ form_widget(userPreferenceForm.likeEmailFrequency,{
                    'label' :  'user.preference.common.notification_frequency'|trans~"_"~'user.preference.field.like.label'|trans,
                    'label_class' : 'show-for-sr',
                    'class':'no-margin'
                }) }}#}
            </div>
        </div>
        {% if isUserPro %}
            <div class="row align-middle input-margin">
                <div class="column small-12 input-margin medium-no-margin large-expand black-color">
                    {{ 'user.preference.field.lead.enabled.label'|trans }}
                </div>
                <div class="column block-grid small-12 input-margin medium-6 medium-no-margin large-shrink align-middle">
                    <span class="switch-left-label">{{ 'user.preference.common.email_send'|trans }}</span>
                    {{ form_widget(userPreferenceForm.leadEmailEnabled, {
                        'switch':true,
                        'switch_inners':['global.yes'|trans,'global.no'|trans],
                        'switch_class':'large no-margin',
                        'label' : 'user.preference.common.email_send'|trans~"_"~'user.preference.field.lead.enabled.label'|trans
                    }) }}
                </div>
                <div class="column small-12 medium-6 large-expand"></div>
            </div>
        {% endif %}
    </div>

    {% if isUserPro %}
        <h2 class="column small-12 primary-color">{{ 'user.preference.title.lead_suggestion'|trans }}</h2>

        <h3 class="column small-12 primary-color">{{ 'user.preference.title.criterias'|trans }}</h3>
        <div class="column small-12 input-margin medium-no-margin">
            <div class="row align-middle input-margin">
                <div class="column small-12 input-margin medium-6 medium-no-margin large-expand black-color">
                    {{ 'user.preference.field.lead.localisation.label'|transchoice(app.user.numberOfGarages) }}
                </div>
                <div class="column small-12 medium-4">
                    {{ form_widget(userPreferenceForm.leadLocalizationRadiusCriteria, {
                        'label' :  'user.preference.common.criteria'|trans~"_"~'user.preference.field.lead.localisation.label'|transchoice(app.user.numberOfGarages),
                        'label_class' : 'show-for-sr',
                        'class':'no-margin'
                    }) }}
                </div>
            </div>
        </div>

        <p class="column small-12 input-margin medium-no-margin">Au sujet de la reprise d'un véhicule</p>
        <div class="column small-12 input-margin medium-no-margin">
            <div class="row align-middle input-margin">
                <div class="column small-12 input-margin medium-6 medium-no-margin large-expand black-color">
                    {{ 'user.preference.field.lead.partexchange_selection.label'|trans }}
                </div>
                <div class="column small-12 medium-4">
                    {{ form_widget(userPreferenceForm.leadPartExchangeSelectionCriteria, {
                        'label' :  'user.preference.common.criteria'|trans~"_"~'user.preference.field.lead.partexchange_selection.label'|trans,
                        'label_class' : 'show-for-sr',
                        'class':'no-margin'
                    }) }}
                </div>
            </div>
        </div>

        <div class="column small-12 input-margin medium-no-margin">
            <div class="row align-middle input-margin">
                <div class="column small-12 input-margin medium-6 medium-no-margin large-expand black-color">
                    {{ 'user.preference.field.lead.partexchange_km_max.label'|trans }}
                </div>
                <div class="column small-12 medium-4">
                    {{ form_widget(userPreferenceForm.leadPartExchangeKmMaxCriteria, {
                        'label' :  'user.preference.common.criteria'|trans~"_"~'user.preference.field.lead.partexchange_km_max.label'|trans,
                        'label_class' : 'show-for-sr',
                        'class':'no-margin'
                    }) }}
                </div>
            </div>
        </div>

        <p class="column small-12 input-margin medium-no-margin">Au sujet du projet d'achat</p>
        <div class="column small-12 input-margin medium-no-margin">
            <div class="row align-middle input-margin">
                <div class="column small-12 input-margin medium-6 medium-no-margin large-expand black-color">
                    {{ 'user.preference.field.lead.project_selection.label'|trans }}
                </div>
                <div class="column small-12 medium-4">
                    {{ form_widget(userPreferenceForm.leadProjectSelectionCriteria, {
                        'label' :  'user.preference.common.criteria'|trans~"_"~'user.preference.field.lead.project_selection.label'|trans,
                        'label_class' : 'show-for-sr',
                        'class':'no-margin'
                    }) }}
                </div>
            </div>
        </div>

        <div class="column small-12 input-margin medium-no-margin">
            <div class="row align-middle input-margin">
                <div class="column small-12 input-margin medium-6 medium-no-margin large-expand black-color">
                    {{ 'user.preference.field.lead.project_budget_min.label'|trans }}
                </div>
                <div class="column small-12 medium-4">
                    {{ form_widget(userPreferenceForm.leadProjectBudgetMinCriteria, {
                        'label' :  'user.preference.common.criteria'|trans~"_"~'user.preference.field.lead.project_budget_min.label'|trans,
                        'label_class' : 'show-for-sr',
                        'class':'no-margin'
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="column small-12 medium-4">
        <button type="submit" class="button full-width">{{ 'global.button.validate'|trans }}</button>
    </div>
</div>

{{ form_end(userPreferenceForm) }}