{{ form_start(userPreferenceForm, {'action':path('front_user_edit_preferences'),'attr' : {'class' : 'column small-12'}}) }}

<div class="row">
    <h2 class="column small-12 primary-color">{{ 'user.preference.title.notifications'|trans }}</h2>

    <div class="column small-12 input-margin medium-no-margin">
        <div class="row input-margin align-middle">
            <div class="column small-12 medium-6 black-color medium-text-right">
                {{ 'user.preference.field.globalEmailFrequency'|trans }}</div>
            <div class="column small-12 medium-6 large-3">
                {{ form_widget(userPreferenceForm.globalEmailFrequency,{
                    'label' :  'user.preference.common.notification_frequency'|trans~"_"~'user.preference.field.globalEmailFrequency'|trans,
                    'label_class' : 'show-for-sr',
                    'class':'no-margin'
                }) }}
            </div>
        </div>

        <div class="row input-margin align-middle">
            <div class="column small-12 medium-6 black-color medium-text-right">
                {{ 'user.preference.field.privateMessage.label'|trans }}</div>
            <div class="column small-12 medium-6 large-3">
                {{ form_widget(userPreferenceForm.privateMessageEmailEnabled, {
                    'switch':true,
                    'switch_inners':['global.yes'|trans,'global.no'|trans],
                    'switch_class':'large no-margin small-left',
                    'label' : 'user.preference.common.email_send'|trans~"_"~'user.preference.field.privateMessage.label'|trans
                }) }}
            </div>
        </div>

        <div class="row input-margin align-middle">
            <div class="column small-12 medium-6 black-color medium-text-right">
                {{ 'user.preference.field.like.label'|trans }}</div>
            <div class="column small-12 medium-6 large-3">
                {{ form_widget(userPreferenceForm.likeEmailEnabled, {
                    'switch':true,
                    'switch_inners':['global.yes'|trans,'global.no'|trans],
                    'switch_class':'large no-margin',
                    'label' : 'user.preference.common.email_send'|trans~"_"~'user.preference.field.like.label'|trans
                }) }}
            </div>
        </div>
        {% if isUserPro %}
            <div class="row input-margin align-middle">
                <div class="column small-12 medium-6 black-color medium-text-right">
                    {{ 'user.preference.field.videoProjectNewMessage.label'|trans }}</div>
                <div class="column small-12 medium-6 large-3">
                    {{ form_widget(userPreferenceForm.videoProjectNewMessageEmailEnabled, {
                        'switch':true,
                        'switch_inners':['global.yes'|trans,'global.no'|trans],
                        'switch_class':'large no-margin',
                        'label' : 'user.preference.common.email_send'|trans~"_"~'user.preference.field.videoProjectNewMessage.label'|trans
                    }) }}
                </div>
            </div>

            <div class="row input-margin align-middle">
                <div class="column small-12 medium-6 black-color medium-text-right">
                    {{ 'user.preference.field.videoProjectSharing.label'|trans }}</div>
                <div class="column small-12 medium-6 large-3">
                    {{ form_widget(userPreferenceForm.videoProjectSharingEmailEnabled, {
                        'switch':true,
                        'switch_inners':['global.yes'|trans,'global.no'|trans],
                        'switch_class':'large no-margin',
                        'label' : 'user.preference.common.email_send'|trans~"_"~'user.preference.field.videoProjectSharing.label'|trans
                    }) }}
                </div>
            </div>

            <div class="row input-margin align-middle">
                <div class="column small-12 medium-6 black-color medium-text-right">
                    {{ 'user.preference.field.lead.enabled.label'|trans }}</div>
                <div class="column small-12 medium-6 large-3">
                    {{ form_widget(userPreferenceForm.leadEmailEnabled, {
                        'switch':true,
                        'switch_inners':['global.yes'|trans,'global.no'|trans],
                        'switch_class':'large no-margin',
                        'label' : 'user.preference.common.email_send'|trans~"_"~'user.preference.field.lead.enabled.label'|trans
                    }) }}
                </div>
            </div>
        {% endif %}
    </div>

    {% if isUserPro %}
        <h2 class="column small-12 primary-color">{{ 'user.preference.title.lead_suggestion'|trans }}</h2>

        <h3 class="column small-12 primary-color">{{ 'user.preference.title.criterias'|trans }}</h3>

        <div class="column small-12 input-margin medium-no-margin">
            <div class="row input-margin align-middle">
                <div class="column small-12 medium-6 black-color medium-text-right">
                    {{ 'user.preference.field.lead.localisation.label'|transchoice(app.user.numberOfGarages) }}</div>
                <div class="column small-12 medium-6 large-3">
                    {{ form_widget(userPreferenceForm.leadLocalizationRadiusCriteria, {
                        'label' :  'user.preference.common.criteria'|trans~"_"~'user.preference.field.lead.localisation.label'|transchoice(app.user.numberOfGarages),
                        'label_class' : 'show-for-sr',
                        'class':'no-margin'
                    }) }}
                </div>
            </div>
            <div class="row input-margin align-middle">
                <p class="column small-12 input-margin medium-no-margin">{{ 'user.preference.field.lead.type.label'|trans }}</p>
            </div>
            <div class="row input-margin align-middle">
                <div class="column small-12 medium-6 black-color medium-text-right">
                    {{ 'user.preference.field.lead.type.only_partexchange'|trans }}
                </div>
                <div class="column small-12 medium-6 large-3">
                    {{ form_widget(userPreferenceForm.leadOnlyPartExchange, {
                        'switch':true,
                        'switch_inners':['global.yes'|trans,'global.no'|trans],
                        'switch_class':'large no-margin',
                        'label' : 'user.preference.common.email_send'|trans~"_"~'user.preference.field.lead.type.only_partexchange'|trans
                    }) }}
                </div>
            </div>
            <div class="row input-margin align-middle">
                <div class="column small-12 medium-6 black-color medium-text-right">
                    {{ 'user.preference.field.lead.type.only_project'|trans }}</div>
                <div class="column small-12 medium-6 large-3">
                    {{ form_widget(userPreferenceForm.leadOnlyProject, {
                        'switch':true,
                        'switch_inners':['global.yes'|trans,'global.no'|trans],
                        'switch_class':'large no-margin',
                        'label' : 'user.preference.common.email_send'|trans~"_"~'user.preference.field.lead.type.only_project'|trans
                    }) }}
                </div>
            </div>
            <div class="row input-margin align-middle">
                <div class="column small-12 medium-6 black-color medium-text-right">
                    {{ 'user.preference.field.lead.type.project_with_partexchange'|trans }}
                </div>
                <div class="column small-12 medium-6 large-3">
                    {{ form_widget(userPreferenceForm.leadProjectWithPartExchange, {
                        'switch':true,
                        'switch_inners':['global.yes'|trans,'global.no'|trans],
                        'switch_class':'large no-margin',
                        'label' : 'user.preference.common.email_send'|trans~"_"~'user.preference.field.lead.type.project_with_partexchange'|trans
                    }) }}
                </div>
            </div>
            <div class="row input-margin align-middle">
                <div class="column small-12 medium-6 black-color medium-text-right">
                    {{ 'user.preference.field.lead.partexchange_km_max.label'|trans }}
                </div>
                <div class="column small-12 medium-6 large-3">
                    {{ form_widget(userPreferenceForm.leadPartExchangeKmMaxCriteria, {
                        'label' :  'user.preference.common.criteria'|trans~"_"~'user.preference.field.lead.partexchange_km_max.label'|trans,
                        'label_class' : 'show-for-sr',
                        'class':'no-margin'
                    }) }}
                </div>
            </div>
            <div class="row input-margin align-middle">
                <div class="column small-12 medium-6 black-color medium-text-right">
                    {{ 'user.preference.field.lead.project_budget_min.label'|trans }}
                </div>
                <div class="column small-12 medium-6 large-3">
                    {{ form_widget(userPreferenceForm.leadProjectBudgetMinCriteria, {
                        'label' :  'user.preference.common.criteria'|trans~"_"~'user.preference.field.lead.project_budget_min.label'|trans,
                        'label_class' : 'show-for-sr',
                        'class':'no-margin'
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="column small-12 medium-4 medium-offset-4">
        <button type="submit" class="button full-width">{{ 'global.button.validate'|trans }}</button>
    </div>
</div>

{{ form_end(userPreferenceForm) }}