{% extends 'front/Layout/layout.html.twig' %}

{% set page_favorites = true %}

{% block mainClass %}no-padding-top{% endblock %}

{% block title %}{{ "favorites.page_title"|trans }}{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title')
    } %}


    <div class="row margin-bottom-2">
        <div class="column small-12">
            <h2 class="primary-color">{{ 'favorites.my_likes.title'|trans }}<br>
                <small>{{ 'favorites.my_likes.ordering_indication'|trans }}</small>
            </h2>

            <div class="favorites-container">
                <div class="vehicle-list">
                    {% for like in user_likes %}
                        {% set vehicle = like.vehicle %}
                        {% if vehicle.isPro %}
                            {% include ':front/Search/includes:item_vehicle_pro.html.twig' %}
                        {% else %}
                            {% include ':front/Search/includes:item_vehicle_personal.html.twig' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column small-12">
            <h2 class="primary-color">{{ 'favorites.my_experts.title'|trans }}</h2>

            {% if user_experts|length > 0 %}
                <ul class="no-bullet list-border tiny no-margin">
                    {% for expert in user_experts %}
                        {% set expertProfileUrl = expert|userInfoUrl %}
                        <li class="block-grid no-margin align-middle">
                            <div>
                                <a href="{{ expertProfileUrl }}"><span class="seller-pic">
                                    <img src="{{ expert.avatar|avatar('user_mini_thumbnail', expert.firstName) }}"
                                         alt="{{ expert.fullName(not expert.isPro and isUserPersonal) }}">
                                </span></a>
                            </div>
                            <div>
                                <a href="{{ expertProfileUrl }}">
                                    <span class="seller-name">{{ expert.is(app.user)?'global.you'|trans:(expert.fullName(not expert.isPro and isUserPersonal)) }}</span>
                                </a>
                                {% if expert.presentationTitle is defined and expert.presentationTitle is not empty %}
                                    &nbsp;<i>{{ expert.presentationTitle }}</i>
                                {% endif %}

                                {% set garageCount = expert.numberOfGarages %}
                                {% if garageCount > 0 %}
                                    <span class="icon-location">{% if garageCount > 1 %}France{% else %}{{ (expert.garages|first).city }}{% endif %}</span>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ 'favorites.my_experts.no_expert'|trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}