{% extends 'front/Layout/layout.html.twig' %}

{% set page_favorites = true %}

{% block mainClass %}no-padding-top light-gray-peexeo-bg{% endblock %}

{% block title %}{{ "favorites.page_title"|trans }}{% endblock %}

{% set breadcrumbs = [
    {
        'name': block('title'),
        'href': app.request.requestUri
    }
] %}

{% block body %}
    {% include 'front/Layout/includes/breadcrumb.html.twig' %}

    {% include 'front/Layout/includes/page_header.html.twig' with {
        title: block('title'),
        page_header_class: 'no-margin light-gray-peexeo-bg',
        title_class: ' '
    } %}


    <div class="row">
        <div class="column small-12">
            <h2>{{ 'favorites.my_likes.title'|trans }}<br>
                <small>{{ 'favorites.my_likes.ordering_indication'|trans }}</small>
            </h2>

            <div class="favorites-container">
                <div class="vehicle-list">
                    {% for like in user_likes %}
                        {% set vehicle = like.vehicle %}
                        {% if vehicle.isPro %}
                            {% include ':front/Search/includes:item_vehicle_pro.html.twig' %}
                        {% else %}
                            {% include ':front/Search/includes:item_vehicle_personal.html.twig' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row light-gray-peexeo-bg">
        <div class="directory-result column small-12">
            <h2>{{ 'favorites.my_experts.title'|trans }}</h2>
            <div class="seller-item-container row is-collapse-child small-up-1 small-12 medium-up-2 large-up-3">
                {% for expert in user_experts %}
                    <div class="column">
                        {{ include('front/Directory/includes/advisor_item.html.twig', {
                            'seller' : expert,
                            'wholeClickable' : true
                        }) }}
                    </div>
                {% else %}
                    <p>{{ 'favorites.my_experts.no_expert'|trans }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}