{% use "front/Layout/includes/forms/base_template.html.twig" %}
{% trans_default_domain 'security' %}

{%- block form_row  -%}
    {{- form_label(form) -}}
    <div class="small-12 large-8">
        {{- form_widget(form, {'attr': {'class': 'input no-margin'}}) -}}
        {{- form_errors(form) -}}
        {% if errorMsg is defined %} <small class="form-error">{{ errorMsg|trans }}</small>{% endif %}
    </div>
{%- endblock -%}


{%- block _registration_accept_row  -%}
    {{- form_widget(form) -}}
    <label for="{{ id }}" class="checkbox">
        <b>{{ 'user.field.accept.label'|trans }} <a href="{{ path('front_default') }}" class="black-color text-underline" target="_blank">{{ 'user.field.accept.text-link'|trans }}</a></b>
    </label>
    {{- form_errors(form) -}}
    {% if errorMsg is defined %} <small class="form-error">{{ errorMsg|trans }}</small>{% endif %}
{%- endblock -%}
