{% trans_default_domain 'security' %}

{% form_theme registrationForm 'front/Layout/includes/forms/fields.html.twig' %}

{% if isIsolatedRegistration %}
    {{ form_start(registrationForm, { 'attr' : { 'class': 'js-password register-form row small-4', 'data-abide' : '', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(registrationForm) }}
{% endif %}

{# Adresse e-mail #}
<div class="block-grid input-margin column small-12">
    {{ form_widget(registrationForm.email, {
        'label': 'user.field.email.label'|trans,
        'label_class': 'small-12 large-4 large-no-margin',
        'class_field': 'small-12 large-8',
        'placeholder': 'user.field.email.placeholder'|trans,
        'class': 'no-margin',
        'required': true,
        'required_message': 'user.field.email.error'|trans
    }) }}
</div>


{# Prénom #}
<div class="block-grid input-margin column small-12">
    {{ form_widget(registrationForm.firstName, {
        'label':  'user.field.firstname.label'|trans,
        'label_class': 'small-12 large-4 large-no-margin',
        'class_field': 'small-12 large-8',
        'placeholder':  'user.field.firstname.placeholder'|trans,
        'class': 'no-margin',
        'required': true,
        'required_message':  'user.field.firstname.error'|trans
    }) }}
</div>

{# Nom #}
<div class="block-grid input-margin column small-12">
    {{ form_widget(registrationForm.lastName, {
        'label': 'user.field.lastname.label'|trans,
        'label_class': 'small-12 large-4 large-no-margin',
        'class_field': 'small-12 large-8',
        'placeholder': 'user.field.lastname.placeholder'|trans,
        'class': 'no-margin',
        'required': false,
    }) }}
</div>

{# Mot de passe #}
<p class="column small-12">{{ 'user.field.password.text'|trans }}</p>
<div class="block-grid input-margin column small-12">
    {{ form_widget(registrationForm.password.first, {
        'label': 'user.field.password.first.label'|trans,
        'label_class': 'small-12 large-4 large-no-margin',
        'class_field': 'small-12 large-8',
        'placeholder': 'user.field.password.first.placeholder'|trans,
        'class': 'no-margin',
        'required': true,
        'required_message': 'user.field.password.first.error'|trans,
    }) }}
</div>

{# Mot de passe confirmation #}
<div class="block-grid input-margin column small-12">
    {{ form_widget(registrationForm.password.second, {
        'label': 'user.field.password.second.label'|trans|raw,
        'label_class': 'small-12 large-4 large-no-margin',
        'class_field': 'small-12 large-8',
        'placeholder': 'user.field.password.second.placeholder'|trans,
        'class': 'no-margin',
        'required': true,
        'equalTo' : registrationForm.password.first.vars.id,
        'equalTo_message': 'user.field.password.error.repeated'|trans
    }) }}
</div>

<div class="checkbox-container column small-12">
    {{ form_row(registrationForm.accept, {'errorMsg' : 'user.field.accept.error'|trans}) }}
</div>

{# Button submit #}
<div class="block-grid column small-12 align-middle">
    <div class="input-margin small-12">
        <button type="submit" class="button full-width">{{'user.submit.i_register'|trans}}</button>
    </div>
    <div class="small-12">
        {% if isIsolatedRegistration %}
        {% else %}
            <button type="button" class="js-carousel-prev text-underline"><b class="black-color">{{ 'global.button.previous_step'|trans({},'messages') }}</b></button>
        {% endif %}
    </div>
</div>

{% if isIsolatedRegistration %}
    {{ form_end(form) }}
{% endif %}

