{% form_theme form ':front/Security/Register/includes:form_register_theme.html.twig' %}
{% trans_default_domain 'security' %}
{{ form_start(form, { 'attr' : { 'class': 'js-password  register-form row small-4', 'data-abide' : '', 'novalidate': 'novalidate'} }) }}

{# Adresse e-mail #}
<div class="block-grid input-margin column small-12">
    {{ form_row(form.email, {'errorMsg' : 'user.field.email.error'|trans, 'label_attr': {'class': 'small-12 large-4 no-margin'}}) }}
</div>

{# Mot de passe #}
<p class="column small-12">{{ 'user.field.password.text'|trans }}</p>
<div class="block-grid input-margin column small-12">
    {{ form_row(form.password.first, {'errorMsg' : 'user.field.password.first.error'|trans, 'label_attr': {'class': 'small-12 large-4 no-margin'}}) }}
</div>

{# Mot de passe confirmation #}
<div class="block-grid input-margin column small-12">
    {{ form_row(form.password.second, {'errorMsg' : 'user.field.password.second.error'|trans, 'label_attr': {'class': 'small-12 large-4 no-margin'}}) }}
</div>

<div class="checkbox-container column small-12">
    {{ form_row(form.accept, {'errorMsg' : 'user.field.accept.error'|trans}) }}
</div>

{# Button submit #}
<div class="column small-12 large-7">
    {{ form_row(form.create, {'errorMsg' : 'user.submit.i_register'|trans, 'attr': {'class': 'button full-width'}}) }}
</div>

{{ form_end(form) }}
