{% trans_default_domain 'security' %}

{% form_theme registrationForm 'front/Layout/includes/forms/fields.html.twig' %}

{% if isIsolatedRegistration %}
    {{ form_start(registrationForm, { 'attr' : { 'class': 'js-password register-form row small-4', 'data-abide' : '', 'novalidate': 'novalidate'} }) }}
{% endif %}

{# Adresse e-mail #}
<div class="block-grid input-margin column small-12">
    {{ form_widget(registrationForm.email, {
        'label': 'Email',
        'label_class': 'small-12 large-4 large-no-margin',
        'class_field': 'small-12 large-8',
        'placeholder': 'Entrez votre adresse email',
        'class': 'no-margin',
        'required': true,
        'required_message': 'Veuillez indiquer votre adresse email.'
    }) }}
</div>


{# Prénom #}
<div class="block-grid input-margin column small-12">
    {{ form_widget(registrationForm.firstName, {
        'label': 'Prénom',
        'label_class': 'small-12 large-4 large-no-margin',
        'class_field': 'small-12 large-8',
        'placeholder': 'Entrez votre prénom',
        'class': 'no-margin',
        'required': true,
        'required_message': 'Veuillez indiquer votre prénom.'
    }) }}
</div>


{# Nom #}
<div class="block-grid input-margin column small-12">
    {{ form_widget(registrationForm.lastName, {
        'label': 'Nom',
        'label_class': 'small-12 large-4 large-no-margin',
        'class_field': 'small-12 large-8',
        'placeholder': 'Entrez votre nom',
        'class': 'no-margin',
        'required': false,
    }) }}
</div>

{# Mot de passe #}
<p class="column small-12">{{ 'user.field.password.text'|trans }}</p>
<div class="block-grid input-margin column small-12">
    {{ form_widget(registrationForm.password.first, {
        'label': 'Mot de passe',
        'label_class': 'small-12 large-4 large-no-margin',
        'class_field': 'small-12 large-8',
        'placeholder': 'Entrez votre mot de passe',
        'class': 'no-margin',
        'required': true,
        'required_message': 'Veuillez indiquer un mot de passe.'
    }) }}
</div>

{# Mot de passe confirmation #}
<div class="block-grid input-margin column small-12">
    {{ form_widget(registrationForm.password.second, {
        'label': '<div>Confirmation <span class="show-for-medium"><br></span> mot de passe</div>',
        'label_class': 'small-12 large-4 large-no-margin',
        'class_field': 'small-12 large-8',
        'placeholder': 'Confirmez votre mot de passe',
        'class': 'no-margin',
        'required': true,
        'required_message': 'Veuillez confirmer un mot de passe.'
    }) }}
</div>

<div class="checkbox-container column small-12">
    {{ form_row(registrationForm.accept, {'errorMsg' : 'user.field.accept.error'|trans}) }}
</div>

{# Button submit #}
<div class="block-grid column small-12 align-middle">
    <div class="input-margin small-12">
        <button type="submit" class="button full-width">{{'user.submit.i_register'|trans}}</button>
    </div>
    <div class="small-12">
        {% if isIsolatedRegistration %}
            <a href="{{ path('front_default') }}" class="text-underline">Retour</a>
        {% else %}
            <button type="button" class="js-carousel-prev text-underline"><b class="black-color">Etape Précédente</b></button>
        {% endif %}
    </div>
</div>

{% if isIsolatedRegistration %}
    {{ form_end(form) }}
{% endif %}

