{% set asideId = '3' %}

{% include 'front/Security/Register/includes/aside.html.twig' with {
    content: '<p>'~'vehicle.form.aside.additionnal_infos.content_1'|trans~'</p><p class="no-margin">'~'vehicle.form.aside.additionnal_infos.content_2'|trans~'</p>'
} %}

<section class="small-12 large-7">
    <div class="column">
        <div class="block-grid input-margin">
            {{ form_widget(vehicleForm.specifics.isUsed, {
                'class' : 'medium-no-margin small-12 medium-4',
                'label' : 'vehicle.field.isUsed.label'|trans,
                'label_class' : 'medium-no-margin small-12 medium-4',
                'required' : true,
                'required_message' : 'vehicle.field.isUsed.required_message'|trans,
                'required_class' : 'form-error',
                'list_class': 'small-up-2 small-12 medium-8 js-is-used-controller',
                'values_translation_domain':'enumeration'
            }) }}
        </div>
        <div class="block-grid input-margin">
            {{ form_widget(vehicleForm.specifics.registrationDate, {
                'class' : 'medium-no-margin small-12 medium-4 js-datepicker',
                'label' : 'vehicle.field.registrationDate.label'|trans,
                'label_class' : 'medium-no-margin small-12 medium-4',
                'required' : true,
                'required_message' : 'vehicle.field.registrationDate.required_message'|trans,
                'required_class' : 'form-error small-12 medium-offset-4'
            }) }}
        </div>
        <div class="block-grid input-margin">
            {{ form_widget(vehicleForm.specifics.mileage, {
                'class' : 'medium-no-margin small-12 medium-4',
                'label' : 'vehicle.field.mileage.label'|trans,
                'label_class' : 'medium-no-margin small-12 medium-4',
                'required' : true,
                'required_message' : 'vehicle.field.mileage.required_message'|trans,
                'required_class' : 'form-error small-12 medium-offset-4'
            }) }}
        </div>

        <div class="form-separator js-used-data-fields">
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.bodyState, {
                    'class' : 'medium-no-margin small-12 medium-4',
                    'required' : false,
                    'label' : 'Etat de la carrosserie',
                    'label_class' : 'medium-no-margin small-12 medium-4'
                }) }}
            </div>
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.engineState, {
                    'class' : 'medium-no-margin small-12 medium-4',
                    'required' : false,
                    'label' : 'Etat du moteur',
                    'label_class' : 'medium-no-margin small-12 medium-4'
                }) }}
            </div>
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.tyreState, {
                    'class' : 'medium-no-margin small-12 medium-4',
                    'required' : false,
                    'label' : 'Etat des pneus',
                    'label_class' : 'medium-no-margin small-12 medium-4'
                }) }}
            </div>
        </div>

        <div class="form-separator js-used-data-fields">
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.maintenanceState, {
                    'class': 'no-margin small-12 medium-8',
                    'required' : false,
                    'label': 'vehicle.field.maintenance_state.label'|trans,
                    'label_class': 'medium-no-margin small-12 medium-4'
                }) }}
            </div>
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.safetyTestDate, {
                    'class': 'no-margin small-12 medium-4 js-datepicker',
                    'required': false,
                    'label': 'vehicle.field.safety_test_date.label'|trans,
                    'label_class': 'medium-no-margin small-12 medium-4'
                }) }}
            </div>
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.safetyTestState, {
                    'class': 'no-margin small-12 medium-8',
                    'required': false,
                    'label': 'vehicle.field.safety_test_state.label'|trans,
                    'label_class': 'medium-no-margin small-12 medium-4'
                }) }}
            </div>
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.timingBeltState, {
                    'class' : 'no-margin small-12 medium-8',
                    'required' : false,
                    'label': 'vehicle.field.timingBeltState.label'|trans,
                    'label_class': 'medium-no-margin small-12 medium-4'
                }) }}
            </div>
        </div>

        <div class="form-separator js-used-data-fields">
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.isFirstHand, {
                    'class' : 'medium-no-margin small-12 medium-4',
                    'required' : false,
                    'label' : 'vehicle.field.isFirstHand.label'|trans,
                    'label_class' : 'medium-no-margin small-12 medium-4',
                    'list_class': 'small-up-2 small-12 medium-8'
                }) }}
            </div>
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.isImported, {
                    'class' : 'medium-no-margin small-12 medium-4',
                    'required' : false,
                    'label' : 'vehicle.field.imported.label'|trans,
                    'label_class' : 'medium-no-margin small-12 medium-4',
                    'list_class': 'small-up-2 small-12 medium-8'
                }) }}
            </div>
        </div>
        <div class=" form-separator">
            <div class="block-grid input-margin">
                <label for="message" class="align-self-top medium-no-margin small-12 medium-4">{{ "vehicle.field.additionalInformation.label"|trans }}</label>
                <div class="small-12 medium-8">
                    {{ form_widget(vehicleForm.specifics.additionalInformation, {
                        'attr' : { 'placeholder' : "vehicle.field.additionalInformation.placeholder"|trans},
                    }) }}
                </div>
            </div>
        </div>
        <div class="form-separator">
            <div class="block-grid input-margin">
                <label class="medium-no-margin small-12 medium-4" for="{{ vehicleForm.specifics.postalCode.vars.name }}">{{ 'vehicle.field.city.label'|trans }}</label>
                <div class="small-12 medium-8">
                    <div class="row">
                        <div class="column small-12">
                            {{ form_widget(vehicleForm.specifics.postalCode, {
                                'label': false,
                                'class': 'input no-margin js-city-autocomplete select2-custom-container js-complete-coordinate',
                                'required': true,
                                'required_message' : 'vehicle.field.city.required_message'|trans,
                                'required_class' : 'form-error',
                                'attr' : {
                                    'data-autocomplete-url': path('front_city_autocomplete'),
                                    'data-city-field': dataCityField,
                                    'data-latitude-field': dataLatitudeField,
                                    'data-longitude-field': dataLongitudeField,
                                    'data-placeholder': 'vehicle.field.city.placeholder'|trans
                                }
                            }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_widget(vehicleForm.specifics.cityName) }}
        {{ form_widget(vehicleForm.specifics.latitude) }}
        {{ form_widget(vehicleForm.specifics.longitude) }}
    </div>

    {% if isLastStep is defined and isLastStep %}
        {# Button submit #}
        <div class="block-grid column small-12 align-middle">
            <div class="input-margin small-12">
                <button type="submit" class="button full-width">{{ vehicle ? "global.button.edit_this_vehicle"|trans : "global.button.add_this_vehicle"|trans }}</button>
            </div>
            <div class="small-12">
                <button type="button" class="js-carousel-prev text-underline"><b class="black-color">{{ 'global.button.previous_step'|trans }}</b></button>
            </div>
        </div>
    {% endif %}
</section>
