{% set asideId = '3' %}
{% set rent_list = [
    { label: 'Très mauvais état' },
    { label: 'Mauvais état' },
    { label: 'En état' },
    { label: 'Bon état' },
    { label: 'Très bon état' }
] %}

{% include 'front/Security/Register/includes/aside.html.twig' with {
    content: '
        <p>Merci de remplir ces informations complémentaires avec précision.</p>
        <p>Vous obtiendrez ainsi de nos professionnels des offres de reprise au prix le plus juste.</p>
    '
} %}

<section class="small-12 large-7">

    <div class="block-grid input-margin column small">
        {{ form_widget(vehicleForm.specifics.registrationDate, {
            'class' : 'medium-no-margin small-12 medium-4 js-datepicker',
            'required' : true,
            'required_message' : 'Veuillez indiqué la date de 1ère mise en circulation',
            'required_class' : 'form-error small-12 medium-offset-4',
            'label' : 'Date de 1ère mise en circulation',
            'label_class' : 'medium-no-margin small-12 medium-4',
        }) }}
    </div>
    <div class="block-grid input-margin column">
        {{ form_widget(vehicleForm.specifics.mileage, {
            'class' : 'medium-no-margin small-12 medium-4',
            'required' : true,
            'required_message' : 'Veuillez indiqué un kilométrage',
            'required_class' : 'form-error small-12 medium-offset-4',
            'label' : 'Kilométrage',
            'label_class' : 'medium-no-margin small-12 medium-4',
        }) }}

    </div>
    <div class="block-grid input-margin column">
        {{ form_widget(vehicleForm.specifics.isTimingBeltChanged, {
            'class' : 'medium-no-margin small-12 medium-4',
            'required' : true,
            'required_message' : 'Veuillez préciser si la couroie a été changée',
            'required_class' : 'form-error',
            'label' : 'Changement de courroie de distribution',
            'label_class' : 'medium-no-margin small-12 medium-4',
            'list_class': 'small-up-2 small-12 medium-8'
        }) }}
    </div>
    <div class="block-grid input-margin column">
        {{ form_widget(vehicleForm.specifics.safetyTestDate, {
            label: 'Date du dernier contrôle technique',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: false,
            required_class: 'large-no-margin'
        }) }}
    </div>
    <div class="block-grid input-margin column">
        {{ form_widget(vehicleForm.specifics.safetyTestState, {
            label: 'Résultat du dernier contrôle technique',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: false,
            required_class: 'large-no-margin'
        }) }}
    </div>
    <div class="column">
        <div class="form-separator">
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.bodyState, {
                    'class' : 'medium-no-margin small-12 medium-4',
                    'required' : true,
                    'required_message' : 'Veuillez préciser l\'état de la carrosserie',
                    'required_class' : 'form-error',
                    'label' : 'Etat de la carrosserie',
                    'label_class' : 'medium-no-margin small-12 medium-4',
                }) }}
            </div>
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.engineState, {
                    'class' : 'medium-no-margin small-12 medium-4',
                    'required' : false,
                    'label' : 'Etat du moteur',
                    'label_class' : 'medium-no-margin small-12 medium-4',
                }) }}
            </div>
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.tyreState, {
                    'class' : 'medium-no-margin small-12 medium-4',
                    'required' : false,
                    'label' : 'Etat des pneus',
                    'label_class' : 'medium-no-margin small-12 medium-4',
                }) }}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="form-separator">
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.maintenanceState, {
                    label: 'Carnet d\'entretien',
                    label_class: 'medium-no-margin small-12 medium-4',
                    class: 'no-margin small-12 medium-8',
                    'required' : true,
                    'required_message' : 'Veuillez préciser les informations d\'entretien',
                    'required_class' : 'form-error',
                }) }}
            </div>
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.isImported, {
                    'class' : 'medium-no-margin small-12 medium-4',
                    'required' : true,
                    'required_message' : 'Veuillez préciser si le véhicule est importé',
                    'required_class' : 'form-error',
                    'label' : 'Véhicule importé',
                    'label_class' : 'medium-no-margin small-12 medium-4',
                    'list_class': 'small-up-2 small-12 medium-8'
                }) }}
            </div>
            <div class="block-grid input-margin">
                {{ form_widget(vehicleForm.specifics.isFirstHand, {
                    'class' : 'medium-no-margin small-12 medium-4',
                    'required' : true,
                    'required_message' : 'Veuillez préciser si le véhicule est une première main',
                    'required_class' : 'form-error',
                    'label' : 'Première main',
                    'label_class' : 'medium-no-margin small-12 medium-4',
                    'list_class': 'small-up-2 small-12 medium-8'
                }) }}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="form-separator block-grid input-margin">
            <label class="medium-no-margin small-12 medium-4">Ville</label>
            <div class="small-12 medium-8">
                <div class="row">
                    <div class="column small-4">
                        {{ form_widget(vehicleForm.specifics.postalCode, {
                            'class' : 'input no-margin js-postalCode',
                            'required' : true,
                            'required_message' : 'Veuillez indiquer votre code postal',
                            'required_class' : 'form-error',
                            'attr' : {
                                'data-fetch-url': path('front_fetch_city'),
                                'data-city-field': dataCityField
                            }
                        }) }}
                    </div>
                    <div class="column small-8">
                        {{ form_widget(vehicleForm.specifics.cityName, {
                            'class' : 'no-margin js-complete-coordinate',
                            'required' : true,
                            'required_message' : 'Veuillez d\'abord renseigner le code postal',
                            'required_class' : 'form-error',
                            'label' : '',
                            'label_class' : '',
                            'attr':  {
                                'data-latitude-field': dataLatitudeField,
                                'data-longitude-field': dataLongitudeField
                            }
                        }) }}
                        <small class="form-error">Veuillez indiquer votre ville</small>
                        {{ form_widget(vehicleForm.specifics.latitude) }}
                        {{ form_widget(vehicleForm.specifics.longitude) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-separator block-grid input-margin">
            <label for="message" class="align-self-top medium-no-margin small-12 medium-4">Informations complémentaires sur votre véhicule</label>
            <div class="small-12 medium-8">

                {{ form_widget(vehicleForm.specifics.additionalInformation, { 'attr' : {  }}) }}
                <small class="form-error">Veuillez indiqué des informations complémentaires</small>
            </div>
        </div>
    </div>
</section>
