{% set asideId = '1' %}

{% include 'front/Security/Register/includes/aside.html.twig' with {
    content: '
        <p>Merci de bien vérifier ou remplir ces champs d’identification de votre véhicule.</p>
        <p class="no-margin">La version notamment aidera les professionnels à vous faire une offre juste.</p>
    '
} %}

<section class="column small-12 large-7" id="js-registration-information" data-fetch-url="{{ path('front_vehicle_registration_form_update') }}" data-fetch-plate="{{ fetch_plate_url }}">
    <div class="register-infos input-margin block-grid">
        <div class="small-12 large-8">
            <label for="immat">Immatriculation <span>Facultatif</span></label>
            <p class="small">Gagnez du temps en indiquant votre immatriculation. Les champs ci-dessous seront en majorité pré-remplis avec les infos de votre véhicule.</p>
        </div>
        {{ form_widget(vehicleForm.vehicleRegistration.plateNumber, {
            'class' : 'medium-no-margin',
            'class_field': 'small-12 large-4 align-self-bottom',
            'required' : false,
            'label' : null
        }) }}
        <div class="small-12 large-6">
            <a class="button medium-8" href="javascript:" id="js-update-plate" data-platenumber-field="{{ vehicleForm.vehicleRegistration.plateNumber.vars.id }}" data-platenumber-error="error-platenumber-field">Compléter</a>
        </div>
        <div class="small-12 large-6">
            <p><small id="error-platenumber-field" class="form-error">Veuillez indiquer un numéro d'immatriculation.</small></p>
        </div>
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.make, {
            label: 'Marque',
            id: 'js-registration-make',
            dataType: 'make',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'Veuillez indiquer la marque du véhicule.',
            required_class: 'medium-offset-4'
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.model, {
            label: 'Modèle',
            id: 'js-registration-model',
            dataType: 'model',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'Veuillez indiquer le modèle du véhicule',
            required_class: 'medium-offset-4',
            attr: {
                emptyOptionText :'vehicle.field.model.placeholder'|trans
            }
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.engine, {
            label: 'Motorisation',
            id: 'js-registration-engine',
            dataType: 'engine',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'Veuillez indiquer la motorisation du véhicule',
            required_class: 'medium-offset-4',
            attr: {
                emptyOptionText :'vehicle.field.engine.placeholder'|trans
            }
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.transmission, {
            label: 'Boite de vitesse',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'Veuillez indiquer la boite de vitesse du véhicule',
            required_class: 'medium-offset-4'
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.fuel, {
            label: 'Énergie',
            id: 'js-registration-fuel',
            dataType: 'fuel',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'Veuillez indiquer l\'énergie du véhicule',
            required_class: 'medium-offset-4',
            attr: {
                emptyOptionText :'vehicle.field.fuel.placeholder'|trans
            }
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.vehicleRegistration.vin, {
            label: 'V.I.N.',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: false,

        }) }}
        {{  form_errors(vehicleForm.vehicleRegistration.vin) }}
    </div>
</section>
