{% set asideId = '1' %}

{% include 'front/Security/Register/includes/aside.html.twig' with {
    content: '
        <p>Merci de bien vérifier ou remplir ces champs d’identification de votre véhicule.</p>
        <p class="no-margin">La version notamment aidera les professionnels à vous faire une offre juste.</p>
    '
} %}

<section class="column small-12 large-7" id="js-registration-information" data-fetch-url="{{ path('front_vehicle_registration_form_update') }}" data-fetch-plate="{{ fetch_plate_url }}">
    <div class="register-infos input-margin block-grid">
        <div class="small-12 large-8">
            <label for="immat">Immatriculation <span>Facultatif</span></label>
            <p class="small">Gagnez du temps en indiquant votre immatriculation. Les champs ci-dessous seront en majorité pré-remplis avec les infos de votre véhicule.</p>
        </div>
        {{ form_widget(vehicleForm.vehicleRegistration.plateNumber, {
            'class' : 'medium-no-margin',
            'class_field': 'small-12 large-4 align-self-bottom',
            'required' : false,
            'label' : null
        }) }}
        <a class="button small-12 medium-6 large-3" href="javascript:" id="js-update-plate" data-platenumber-field="{{ vehicleForm.vehicleRegistration.plateNumber.vars.id }}">Compléter</a>
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.make, {
            label: 'vehicle.field.make.label'|trans,
            id: 'js-registration-make',
            dataType: 'make',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'vehicle.field.make.required_message'|trans,
            required_class: 'medium-offset-4'
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.model, {
            label: 'vehicle.field.model.label'|trans,
            id: 'js-registration-model',
            dataType: 'model',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'vehicle.field.model.required_message'|trans,
            required_class: 'medium-offset-4',
            attr: {
                emptyOptionText :'vehicle.field.model.placeholder'|trans
            }
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.engine, {
            label: 'vehicle.field.engine.label'|trans,
            id: 'js-registration-engine',
            dataType: 'engine',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'vehicle.field.engine.required_message'|trans,
            required_class: 'medium-offset-4',
            attr: {
                emptyOptionText :'vehicle.field.engine.placeholder'|trans
            }
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.transmission, {
            label: 'vehicle.field.transmission.label'|trans,
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'vehicle.field.transmission.required_message'|trans,
            required_class: 'medium-offset-4'
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.fuel, {
            label: 'vehicle.field.fuel.label'|trans,
            id: 'js-registration-fuel',
            dataType: 'fuel',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'vehicle.field.fuel.required_message'|trans,
            required_class: 'medium-offset-4',
            attr: {
                emptyOptionText :'vehicle.field.fuel.placeholder'|trans
            }
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.vehicleRegistration.vin, {
            label: 'vehicle.field.vin.label'|trans,
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: false
        }) }}
        <small class="form-error medium-offset-4">{{ 'vehicle.field.timingBeltState.format_error'|trans }}</small>
        {{ form_errors(vehicleForm.vehicleRegistration.vin) }}
    </div>
</section>
