{% set asideId = '1' %}

{% include 'front/Security/Register/includes/aside.html.twig' with {
    content: '
        <p>Merci de bien vérifier ou remplir ces champs d’identification de votre véhicule.</p>
        <p class="no-margin">La version notamment aidera les professionnels à vous faire une offre juste.</p>
    '
} %}

<section class="column small-12 large-7" id="js-registration-information" data-fetch-url="{{ path('front_vehicle_registration_form_update') }}" data-fetch-plate="{{ path('front_vehicle_pro_add', {'plateNumber': '_plate_number_'}) }}">
    <div class="register-infos input-margin block-grid">
        <div class="small-12 large-8">
            <label for="immat">Immatriculation <span>Facultatif</span></label>
            <p class="small">Gagnez du temps en indiquant votre immatriculation. Les champs ci-dessous seront en majorité pré-remplis avec les infos de votre véhicule.</p>
        </div>
        {{ form_widget(vehicleForm.registrationNumber, {
            'class' : 'medium-no-margin',
            'class_field': 'small-12 large-4 align-self-bottom',
            'required' : false,
            'label' : null
        }) }}
        <a class="button small-12 medium-6 large-3" href="javascript:" id="js-update-plate">Compléter</a>
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.make, {
            label: 'Marque',
            id: 'js-registration-make',
            dataType: 'make',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'Veuillez indiquer la marque du véhicule.',
            required_class: 'medium-offset-4'
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.model, {
            label: 'Modèle',
            id: 'js-registration-model',
            dataType: 'model',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'Veuillez indiquer le modèle du véhicule',
            required_class: 'medium-offset-4'
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.engine, {
            label: 'Motorisation',
            id: 'js-registration-engine',
            dataType: 'engine',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'Veuillez indiquer la motorisation du véhicule',
            required_class: 'medium-offset-4'
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.modelVersion, {
            label: 'Finition',
            id: 'js-registration-modelVersion',
            dataType: 'modelVersion',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'Veuillez indiquer la finition du véhicule',
            required_class: 'medium-offset-4'
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.transmission, {
            label: 'Boite de vitesse',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'Veuillez indiquer la boite de vitesse du véhicule',
            required_class: 'medium-offset-4'
        }) }}
    </div>
    <div class="block-grid input-margin">
        {{ form_widget(vehicleForm.information.fuel, {
            label: 'Énergie',
            id: 'js-registration-fuel',
            dataType: 'fuel',
            label_class: 'medium-no-margin small-12 medium-4',
            class: 'no-margin small-12 medium-8',
            required: true,
            required_message: 'Veuillez indiquer l\'énergie du véhicule',
            required_class: 'medium-offset-4'
        }) }}
    </div>
</section>
